In [4]:
d1 = {"cost_price": 32.67, "sell_price": 45.00,
"inventory": 1200}
d2 = {"cost_price": 225.89,
"sell_price": 550.00,
"inventory": 100}
d3 = {"cost_price": 2.77,
"sell_price": 7.95,
"inventory": 8500}

pelnas=(d1["sell_price"]-d1["cost_price"])*d1["inventory"] + (d2["sell_price"]-d2["cost_price"])*d2["inventory"] + (d3["sell_price"]-d3["cost_price"])*d3["inventory"]
print(pelnas)

91237.0

In [10]:
s = str(input('iveskite simboli'))
i = int(input('iveskite naturaluji skaiciu'))

for a in range(0, i):
    print(s*i)

qqq
qqq
qqq

In [12]:
s = str(input('iveskite simboli'))
i = int(input('iveskite naturaluji skaiciu'))
for a in range(0, i):
    print(s*(a+1))

a
aa
aaa
aaaa
aaaaa
aaaaaa

In [14]:
miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis', 'Ūla', 'Mažeikiai', 'Akmena']

for a in range(0, len(miestai)):
    if len(miestai[a])>6:
        print(miestai[a])

Vilnius
Rokiškis
Mažeikiai

In [10]:
a = [1,2,3,4,5,6,7,8,9,10] 
b = [1,3,5,7,9,11,13,15,17,19]
c=[]
d=[]
e=[]
for a1, b1 in zip(a,b):
    c.append(a1*b1)
    d.append((a1/b1))
    e.append(a1**2)

print(c)
print(d)
print(e)

[1, 6, 15, 28, 45, 66, 91, 120, 153, 190]
[1.0, 0.6666666666666666, 0.6, 0.5714285714285714, 0.5555555555555556, 0.5454545454545454, 0.5384615384615384, 0.5333333333333333, 0.5294117647058824, 0.5263157894736842]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
x = [1,2,3,4,5,6,7,8,9,10] 
y = [2,1,4,7,11,13,15,17,19,21]
a= 5 #cia mano "imput"
xd=[]
for i in x:
    xd.append(i*a)
yd=[]
for i in y:
    yd.append(i*a)

c=[]
for x1, y1 in zip(x,y):
    c.append(x1*y1)
    
d=[]
for x1, y1 in zip(x,y):
    d.append(x1/y1)

print(yd)
print(c)
print(d)

[10, 5, 20, 35, 55, 65, 75, 85, 95, 105]
[2, 2, 12, 28, 55, 78, 105, 136, 171, 210]
[0.5, 2.0, 0.75, 0.5714285714285714, 0.45454545454545453, 0.46153846153846156, 0.4666666666666667, 0.47058823529411764, 0.47368421052631576, 0.47619047619047616]

In [16]:
x = [1,2,3,4,5,7,8,9,11,17,19,21,22,40,42]
l=0
n=0
lc=0
nc=0
ld=1
nd=1
for a in x:
    if a % 2 == 0:
        l=l+a
        lc=lc+1
        ld=ld*a
    else:
        n=n+a
        nc=nc+1
        nd=nd*a

al =l/lc
an = n/nc
gl = ld**(1/lc)
gn = nd**(1/nc)
print('lyginiu aritmetinis vidurkis', al)
print('nelyginiu aritmetinis vidurkis', an)
print('lyginiu geometrinis vidurkis', gl)
print('nelyginiu geometrinis vidurkis', gn)

lyginiu aritmetinis vidurkis 19.666666666666668
nelyginiu aritmetinis vidurkis 10.333333333333334
lyginiu geometrinis vidurkis 11.542998948276226
nelyginiu geometrinis vidurkis 7.447789060288642

In [62]:
auto = [('BMW', 'M5', '253 000 km', '2005-12', '19 500'), ('Mitsubishi', 'Outlander', '195 405 km', '2006', '2 700'), ('Seat', 'Arona', '129 800 km', '2019-11', '13 490'), ('Skoda', 'Octavia Scout', '183 000 km', '2015-06', '14 650'), ('Volvo', 'XC90', '127 896 km', '2018-08', '38 000'), ('Audi', '80', '194 000 km', '1987-07', '1 200'), ('Dacia', 'Lodgy', '102 122 km', '2013-03', '8 000'), ('Skoda', 'Octavia', '227 937 km', '2017-11', '11 990'), ('BMW', '320', '158 486 km', '2017-07', '16 190'), ('Volkswagen', 'Passat', '150 869 km', '2019-01', '16 490'), ('BMW', '520', '74 455 km', '2018-03', '28 900'), ('Mercedes-Benz', 'GLE Coupe 350', '194 000 km', '2016-11', '42 500'), ('Ford', 'C-MAX', '276 260 km', '2005-06', '2 000'), ('BMW', 'X3', '290 000 km', '2004-11', '3 390'), ('BMW', '530', '400 000 km', '2004', '3 750')]

kaina = 0
rida = 0
amzius=0

for a in range(len(auto)):
    l =int(auto[a][4].replace(' ', ''))
    kaina = kaina + l
    
    r1= auto[a][2].replace(' ', '')
    r=int(r1.replace('km', ''))
    rida = rida+r
    
    a1=auto[a][3]
    a1=int(a1[:4])
    amzius=amzius+a1

print(kaina/len(auto))
print(rida/(len(auto)))
a2=((2024*len(auto))-amzius)/len(auto)
print(a2)

14850.0
197148.66666666666
13.133333333333333

In [82]:
cl = [{'Modelis':'WV', 'rida':25000},{'Modelis':'Audi', 'rida':36000},{'Modelis':'Ford',
'rida':42000},{'Modelis':'Toyota', 'rida':31000},{'Modelis':'Nissan', 'rida':75000}]

b=0
f=cl[0]['rida']
for a in cl:
    a['rida']
    print(a['rida'])
    
    if int(a['rida']) > b:
        b=int(a['rida'])
        c=a['Modelis']
    
    if int(a['rida']) < f:
        f=int(a['rida'])
        d=a['Modelis']
        
print('daugiausiai nuvaziavo', c)

print('maziausiai nuvaziavo', d)

25000
36000
42000
31000
75000
daugiausiai nuvaziavo Nissan
maziausiai nuvaziavo WV