In [6]:
x = [*range(10)]

#sk=float(input('iveskite skaiciu'))
sk=3

y=[i*sk for i in x]

print(x)
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [32]:
a = ('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')

b= [float(i.replace("'", "").replace(' ','')) for i in a]



print(a)
print(b)

('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
[19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]

In [37]:
a = ('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')

b= [i.replace("'","").upper()[0:3] for i in a]

print(b)

['BMW', 'MIT', 'SEA', 'SKO', 'VOL', 'AUD', 'DAC', 'SKO', 'BMW', 'VOL']

In [101]:
# 4 uzduotis +

a=('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')

sp=[a[i].split() for i in range(0, len(a))]
turis=[i[0] for i in sp]
ag = [i[2] for i in sp]
kw=[i[4].replace('(','').replace(')', '').replace('kW', '') for i in sp]

print(turis)
print(ag)
print(kw)

['4999', '2378', '1598', '1798', '1969', '1760', '1461', '1600', '2000', '1600']
['507', '160', '95', '179', '235', '88', '107', '116', '163', '120']
['373', '118', '70', '132', '173', '65', '79', '85', '120', '88']

In [77]:
#5 uzduotis +

list=[1, 2, 310, 5.3, 7, 8, 9.4]
tuple=(5, 8, 9.5, 14, 3.7)

def vidurkis(a):
    return sum(a)/len(a)

print(vidurkis(list))
print(vidurkis(tuple))

48.957142857142856
8.040000000000001

In [80]:
# 6 uzduotis +

t = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo architektūros objekte –
Lietuvos banko Kauno rūmuose į muzikos meditaciją pakvies vokalinis ansamblis „Duodeco“. Pirmą
kartą Pažaislio muzikos festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m.
suburtas kolektyvas festivalio publikai pristatys muzikinę programą „More Sweet Than My Refrain“.'''

txt=t.split()

a=[len(txt[i]) for i in range(0, len(txt))]


print(a)

[6, 2, 2, 6, 8, 7, 9, 5, 10, 13, 7, 1, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 10, 5, 5, 9, 7, 10, 6, 8, 5, 12, 8, 7, 4, 2, 8, 10, 10, 8, 9, 8, 8, 5, 5, 4, 2, 9]

In [82]:
#7 uzduotis + 

fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]

a=['Rytas' if fx[i]>6 and fx[i] < 10 else 'Diena' if fx[i] > 10 and fx[i]<18 else 'Vakaras' if fx[i] <22 and fx[i] > 18 else 'Naktis' for i in range(0, len(fx))]

print(a)

['Naktis', 'Diena', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Vakaras', 'Naktis', 'Diena', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Vakaras', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Vakaras', 'Vakaras', 'Diena', 'Naktis', 'Vakaras', 'Diena', 'Vakaras', 'Naktis', 'Rytas', 'Naktis', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Diena', 'Diena', 'Diena', 'Vakaras', 'Vakaras', 'Naktis', 'Vakaras', 'Naktis', 'Diena', 'Naktis', 'Vakaras', 'Naktis', 'Rytas', 'Naktis', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Naktis', 'Vakaras', 'Rytas', 'Vakaras', 'Vakaras', 'Diena', 'Diena', 'Naktis', 'Vakaras', 'Diena', 'Rytas', 'Naktis', 'Diena', 'Naktis', 'Naktis']

In [83]:
# 8 uzduotis - 

dm=[('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]

dm[0]

('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas')

In [86]:
#9 uzduotis +

x=[5, 7, 8, 10, 5.7, 9.12]
d=5

def suma(y, a):
    return [round(y[i]+a,2) for i in range(0, len(y))]

def skirtumas(y, a):
    return [round(y[i]-a,2) for i in range(0, len(y))]

def sandauga(y, a):
    return [round(y[i]*a, 2) for i in range(0, len(y))]
    

print(suma(x, d))
print(skirtumas(x, d))
print(sandauga(x, d))

[10, 12, 13, 15, 10.7, 14.12]
[0, 2, 3, 5, 0.7, 4.12]
[25, 35, 40, 50, 28.5, 45.6]

In [106]:
failo_vardas = 'pb1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.read()


failas.close()

print(turinys)

pirmas blynas
ėžčę !
15
15a a 5 14

In [107]:
failo_vardas = 'pb1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()


failas.close()

print(turinys)

['pirmas blynas\n', 'ėžčę !\n', '15\n', '15a a 5 14']

In [111]:
failo_vardas = 'pb1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()


failas.close()

print(turinys)

for eil in turinys:
    x, y = eil.split(',')
    c=float(x) + float(y)
    print(c)

['1,2\n', '3,4\n', '5,6\n', '7,8']
3.0
7.0
11.0
15.0

In [114]:
failo_vardas='pb2.txt'
failas= open(failo_vardas, mode='w', encoding='utf-8')

failas.write('noriu miego')
failas.write('asd\n')
failas.write('asdada')
failas.write('adad')

failas.close()

In [119]:
failo_vardas = 'pb1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()


failas.close()

print(turinys)

vid1=0
vid2 =0

for eil in turinys:

    x, y = eil.split(',')
    vid1=vid1+float(x)
    vid2=vid2+float(y)
    
print(vid1/len(turinys))
print(vid2/len(turinys))

['1.25,2.28\n', '3.33,4.421\n', '5,6.67\n', '7,8.01']
4.145
5.34525