In [37]:
# atrinkti 10 populiariausių gamintojų iš autopliuslt, pateikti tokius stulpelius - gamintojas, vidutinė kaina, 
# vidutinė rida, vidutinis amžius, modelių kiekis. Gautus rezultatus surašyti į SQLite duomebazę, pavadinimu "Testas.db",
# lentelės pavadinimas kokį sugalvosite. Viską turi atlikti python kodas. 
# PANDAS NEGALIMA NAUDOTI, viską atlikite per cursor() objektus.

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [39]:
#prisijungimas prie mySQL, ir kursoriaus sukūrimas
DB = cnt.connect(
    host = '88.223.121.130',
    user='user',
    password='slaptazodis',
    port=3306,
    database='works'
    )
C=DB.cursor()

In [40]:
sql="""SELECT gamintojas, price, rida, pagaminimo_data FROM works.autopliuslt;"""
C.execute(sql)
ans = C.fetchall()
gamintojas, kaina, rida, data = list(map(list, zip(*ans)))

In [41]:
for i in range(0, len(data)):
    data[i]=int(data[i][:4])

In [42]:
amzius=[]
for i in range(0, len(data)):
    amzius.append(2024-data[i])

In [43]:
for i in range(0, len(kaina)):
    kaina[i]=int(kaina[i].replace(' ',''))

In [44]:
# ridoje yra 'Nenurodyta'
for i in range(0, len(rida)):
    if rida[i] != 'Nenurodyta':
        rida[i]=int(rida[i].replace(' ','').replace('km',''))

In [45]:
gamint=list(set(gamintojas))
print(gamint)

['Jeep', 'Hyundai', 'Saab', 'Jaguar', 'Pontiac', 'Lincoln', 'Maserati', 'Subaru', 'Daihatsu', 'Toyota', 'Chevrolet', 'Dacia', 'Volkswagen', 'Dodge', 'Isuzu', 'SsangYong', 'Nissan', 'Kia', 'UAZ', 'Seat', 'Ligier', 'Porsche', 'BMW', 'Land Rover', 'Peugeot', 'Iveco', 'Skoda', 'Citroen', 'GAZ', 'Lancia', 'Smart', 'Lada', 'Chrysler', 'Honda', 'Mercedes-Benz', 'Ford', 'Fiat', 'Lexus', 'Aston Martin', 'Infiniti', 'Alfa Romeo', 'Suzuki', 'Opel', 'Tesla', 'Audi', 'Volvo', 'Cadillac', 'Mini', 'Renault', 'Mazda', 'Mitsubishi']

In [46]:
kiek=0
kiekis=[]
for i in gamint:
    for j in gamintojas:
        if i == j:
            kiek=kiek+1
    kiekis.append(kiek)

In [47]:
kiek=0
amziussuma=[]
for i in gamint:
    for j in range(0, len(amzius)):
        if i == gamintojas[j]:
            kiek=kiek+amzius[j]
    amziussuma.append(kiek)
    
amziuvidurkis=[]
for i in range(0, len(amziussuma)):
    amziuvidurkis.append(round(amziussuma[i]/kiekis[i], 1))

In [48]:
print(amziuvidurkis)

[16.5, 13.4, 14.0, 14.2, 15.0, 15.5, 15.4, 15.4, 15.7, 15.1, 15.2, 15.0, 15.4, 15.4, 15.4, 15.4, 15.3, 15.2, 15.2, 15.2, 15.2, 15.1, 15.1, 15.1, 15.0, 14.9, 14.7, 14.7, 14.8, 14.8, 14.8, 14.9, 14.8, 14.9, 14.9, 14.9, 15.0, 14.9, 14.9, 14.9, 14.9, 14.9, 15.0, 15.0, 15.2, 15.2, 15.2, 15.2, 15.2, 15.2, 15.2]

In [49]:
kiek=0
ridavid=[]
ridaV=[]
atimti=0
atimtiL=[]
for i in gamint:
    for j in range(0, len(rida)):
        if i == gamintojas[j]:
            if rida[j]=='Nenurodyta':
                atimti=atimti+1
            else:
                kiek=kiek+rida[j]
    ridaV.append(kiek)
    atimtiL.append(atimti)
    
for i in range(0, len(ridaV)):
    ridavid.append(round(amziussuma[i]/(kiekis[i]-atimtiL[i]), 2))

In [50]:
print(ridavid)

[16.47, 13.92, 14.4, 14.86, 15.61, 16.15, 16.03, 16.12, 16.42, 15.77, 15.95, 15.7, 16.04, 15.98, 15.99, 16.01, 15.99, 15.77, 15.8, 15.75, 15.73, 15.63, 15.55, 15.52, 15.43, 15.39, 15.15, 15.12, 15.26, 15.26, 15.26, 15.31, 15.3, 15.36, 15.37, 15.36, 15.4, 15.36, 15.35, 15.34, 15.35, 15.36, 15.5, 15.45, 15.67, 15.65, 15.66, 15.64, 15.67, 15.66, 15.68]

In [51]:
kiek=0
kainaV=[]
for i in gamint:
    for j in range(0, len(amzius)):
        if i == gamintojas[j]:
            kiek=kiek+kaina[j]
    kainaV.append(kiek)
    
kainavid=[]
for i in range(0, len(amziussuma)):
    kainavid.append(round(kainaV[i]/kiekis[i], 0))

In [52]:
print(amziuvidurkis)

[16.5, 13.4, 14.0, 14.2, 15.0, 15.5, 15.4, 15.4, 15.7, 15.1, 15.2, 15.0, 15.4, 15.4, 15.4, 15.4, 15.3, 15.2, 15.2, 15.2, 15.2, 15.1, 15.1, 15.1, 15.0, 14.9, 14.7, 14.7, 14.8, 14.8, 14.8, 14.9, 14.8, 14.9, 14.9, 14.9, 15.0, 14.9, 14.9, 14.9, 14.9, 14.9, 15.0, 15.0, 15.2, 15.2, 15.2, 15.2, 15.2, 15.2, 15.2]

In [53]:
SDB = sqlite3.connect('Testas1.db') # jei neegsiztuoja - bus sukurfta nauja sqlite DB
Cs = SDB.cursor()

sql = '''create table if not exists T1
(
gamintojas text not null,
kainaV real not null,
amziusV real not null,
ridaV real not null,
kiekis integer not null
)
'''
Cs.execute(sql)

sql_template = '''insert into T1 values (?,?,?,?,?)'''
for a, b, c, d, e in zip(gamint, kainavid, amziuvidurkis, ridavid, kiekis):
    Cs.execute(sql_template, (a, b, c, d, e))

SDB.commit() # commit() būtinas, jei norite įrašyti duoenis į DB

SDB.close()

In [54]:
print(len(gamint))
print(len(kainavid))
print(len(amziuvidurkis))
print(len(ridavid))
print(len(kiekis))

51
51
51
51
51