In [31]:
# atrinkti 10 populiariausių gamintojų iš autopliuslt, pateikti tokius stulpelius - gamintojas, vidutinė kaina, 
# vidutinė rida, vidutinis amžius, modelių kiekis. Gautus rezultatus surašyti į SQLite duomebazę, pavadinimu "Testas.db",
# lentelės pavadinimas kokį sugalvosite. Viską turi atlikti python kodas. 
# PANDAS NEGALIMA NAUDOTI, viską atlikite per cursor() objektus.

In [32]:
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [33]:
#prisijungimas prie mySQL, ir kursoriaus sukūrimas
DB = cnt.connect(
    host = '88.223.121.130',
    user='user',
    password='slaptazodis',
    port=3306,
    database='works'
    )
C=DB.cursor()

In [34]:
sql="""SELECT gamintojas, price, rida, pagaminimo_data FROM works.autopliuslt;"""
C.execute(sql)
ans = C.fetchall()
gamintojas, kaina, rida, data = list(map(list, zip(*ans)))

In [35]:
for i in range(0, len(data)):
    data[i]=int(data[i][:4])

In [36]:
amzius=[]
for i in range(0, len(data)):
    amzius.append(2024-data[i])

In [37]:
for i in range(0, len(kaina)):
    kaina[i]=int(kaina[i].replace(' ',''))

In [38]:
# ridoje yra 'Nenurodyta'
for i in range(0, len(rida)):
    if rida[i] != 'Nenurodyta':
        rida[i]=int(rida[i].replace(' ','').replace('km',''))

In [39]:
gamint=list(set(gamintojas))
print(gamint)

['Mercedes-Benz', 'Maserati', 'Porsche', 'Smart', 'UAZ', 'Skoda', 'Kia', 'Pontiac', 'Fiat', 'Suzuki', 'Cadillac', 'SsangYong', 'Aston Martin', 'Volkswagen', 'Hyundai', 'Toyota', 'Alfa Romeo', 'Mini', 'Lada', 'Honda', 'Nissan', 'Iveco', 'Lexus', 'Dacia', 'Jeep', 'Lancia', 'Renault', 'Daihatsu', 'Infiniti', 'Opel', 'Chrysler', 'Mitsubishi', 'Land Rover', 'BMW', 'Subaru', 'Peugeot', 'Tesla', 'Dodge', 'Audi', 'Seat', 'GAZ', 'Volvo', 'Jaguar', 'Mazda', 'Ligier', 'Isuzu', 'Saab', 'Lincoln', 'Chevrolet', 'Citroen', 'Ford']

In [40]:
kiek=0
kiekis=[]
for i in gamint:
    for j in gamintojas:
        if i == j:
            kiek=kiek+1
    kiekis.append(kiek)

In [51]:
kiek=0
amziussuma=[]
for i in gamint:
    for j in range(0, len(amzius)):
        if i == gamintojas[j]:
            kiek=kiek+amzius[j]
    amziussuma.append(kiek)
    
amziuvidurkis=[]
for i in range(0, len(amziussuma)):
    amziuvidurkis.append(round(amziussuma[i]/kiekis[i], 0))

In [52]:
print(amziuvidurkis)

[15.0, 15.0, 15.0, 15.0, 15.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0]

In [55]:
kiek=0
ridavid=[]
ridaV=[]
atimti=0
atimtiL=[]
for i in gamint:
    for j in range(0, len(rida)):
        if i == gamintojas[j]:
            if rida[j]=='Nenurodyta':
                atimti=atimti+1
            else:
                kiek=kiek+rida[j]
    ridaV.append(kiek)
    atimtiL.append(atimti)
    
for i in range(0, len(ridaV)):
    ridavid.append(round(amziussuma[i]/(kiekis[i]-atimtiL[i]), 2))

In [56]:
print(ridavid)

[15.45, 15.4, 15.01, 15.07, 15.18, 14.04, 13.76, 13.95, 14.19, 14.27, 14.3, 14.35, 14.34, 15.31, 15.17, 15.2, 15.21, 15.18, 15.25, 15.34, 15.37, 15.32, 15.25, 15.19, 15.21, 15.21, 15.29, 15.32, 15.3, 15.52, 15.51, 15.56, 15.53, 15.5, 15.52, 15.46, 15.41, 15.39, 15.63, 15.61, 15.7, 15.68, 15.69, 15.68, 15.67, 15.68, 15.68, 15.7, 15.72, 15.7, 15.68]

In [57]:
kiek=0
kainaV=[]
for i in gamint:
    for j in range(0, len(amzius)):
        if i == gamintojas[j]:
            kiek=kiek+kaina[j]
    kainaV.append(kiek)
    
kainavid=[]
for i in range(0, len(amziussuma)):
    kainavid.append(round(kainaV[i]/kiekis[i], 0))

In [58]:
print(kainavid)

[15080.0, 15192.0, 17682.0, 17513.0, 17431.0, 15582.0, 14966.0, 15020.0, 14596.0, 14399.0, 14327.0, 14215.0, 14550.0, 10501.0, 10572.0, 10226.0, 10203.0, 10135.0, 10114.0, 9882.0, 9744.0, 9796.0, 9970.0, 9933.0, 9958.0, 9946.0, 9731.0, 9720.0, 9734.0, 9109.0, 9060.0, 8961.0, 9061.0, 9414.0, 9364.0, 9248.0, 9434.0, 9444.0, 9331.0, 9257.0, 9257.0, 9167.0, 9168.0, 9141.0, 9143.0, 9139.0, 9110.0, 9115.0, 9077.0, 8987.0, 8832.0]

In [68]:
SDB = sqlite3.connect('Testas1.db') # jei neegsiztuoja - bus sukurfta nauja sqlite DB
Cs = SDB.cursor()

sql = '''create table if not exists T1
(
gamintojas text not null,
kainaV real not null,
amziusV real not null,
ridaV real not null,
kiekis real not null
)
'''
Cs.execute(sql)

for i in range(0, len(gamint)):
    sql_template = '''insert into T1 values (?,?,?,?,?)'''

    data=(gamint[i], kainavid[i], amziuvidurkis[i], ridavid[i], kiekis[i])
    Cs.executemany(sql_template, data)

SDB.commit() # commit() būtinas, jei norite įrašyti duoenis į DB

SDB.close()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 5, and there are 13 supplied.