In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
# import mysql.connector as cnt
# import plotly.express as px
# from datetime import datetime, timedelta
# import os
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [129]:
# from sklearn.model_selection import train_test_split, cross_val_score

# scores = cross_validate(model, X, y, cv=10, scoring=('r2', 'max_error'))

# scores = cross_val_score(model, X, y, cv=10)

In [130]:
df = pd.read_csv('insurance.csv')

In [131]:
l = LabelEncoder().fit_transform(df['sex']); l[:5]
df['lytis']=l; df.head()

   age     sex     bmi  children smoker     region      charges  lytis
0   19  female  27.900         0    yes  southwest  16884.92400      0
1   18    male  33.770         1     no  southeast   1725.55230      1
2   28    male  33.000         3     no  southeast   4449.46200      1
3   33    male  22.705         0     no  northwest  21984.47061      1
4   32    male  28.880         0     no  northwest   3866.85520      1

In [132]:
le=LabelEncoder()
l = le.fit_transform(df['sex'])
le.classes_

array(['female', 'male'], dtype=object)

In [133]:
# a) Parašyti kainos prognozės skriptą, kuris prognozuotų būsto kainą. Naudoti Liearregression
# kategorines vertes užkoduoti su LabelEncoder'iu
# b) iš autoplius duomenų, pasirinkti 7-8 parametrus ir parašyti skriptą automobilio vertės nustatymui.
# Įvertinkite tikslumaą su score parametru

# label_encoder = LabelEncoder()
# encoded_data = label_encoder.fit_transform(data)
# print(“Category Mapping:”, dict(zip(data, encoded_data))).

In [134]:
SDB = sqlite3.connect(r'C:\Users\pauli\Desktop\DataScienceNotebooks\Studentai\Paulius Vanagas\aruodas3.db')
Cs = SDB.cursor()
sql="""SELECT * FROM aruododuomenys;"""
Cs.execute(sql)
ans = Cs.fetchall()
df = pd.read_sql_query(sql, con=SDB)
df.head(3)

,plotas,kambariuskaicius,aukstas,aukstuskaicius,metai,pastatotipas,sildymas,irengimas,energetineklase,ilguma,platuma,miestas,kaina,rajonas
0,"34,93 m²",2,5,5,2023,Mūrinis,Centrinis kolektorinis,Įrengtas,None,54.701257,25.272667,Vilnius,173500,Šnipiškės
1,"66,64 m²",2,3,5,2003,Mūrinis,Centrinis,Įrengtas,A,54.705467,25.286944,Vilnius,205000,Žirmūnai
2,"66,89 m²",3,2,9,1980,Blokinis,Centrinis,Įrengtas,None,54.717923,25.238122,Vilnius,172000,Šeškinė

In [135]:
df1=df
df1 = df1.drop(columns=['energetineklase', 'ilguma', 'platuma'])

In [136]:
df1 = df1.applymap(lambda x: None if str(x) == 'None' else x)
df1 = df1.dropna()

In [137]:
df1['plotas']=df1['plotas'].apply(lambda x: x.replace(' ','').replace('m²', '').replace(',','.'))
df1['plotas']=df1['plotas'].astype(float)

In [138]:
l = LabelEncoder().fit_transform(df1['pastatotipas'])
df1['pastatotipas1']=l

l = LabelEncoder().fit_transform(df1['sildymas'])
df1['sildymas1']=l

l = LabelEncoder().fit_transform(df1['irengimas'])
df1['irengimas1']=l

l = LabelEncoder().fit_transform(df1['miestas'])
df1['miestas1']=l

l = LabelEncoder().fit_transform(df1['rajonas'])
df1['rajonas1']=l

In [139]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5026 entries, 0 to 5693
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   plotas            5026 non-null   float64
 1   kambariuskaicius  5026 non-null   int64
 2   aukstas           5026 non-null   int64
 3   aukstuskaicius    5026 non-null   int64
 4   metai             5026 non-null   float64
 5   pastatotipas      5026 non-null   object
 6   sildymas          5026 non-null   object
 7   irengimas         5026 non-null   object
 8   miestas           5026 non-null   object
 9   kaina             5026 non-null   int64
 10  rajonas           5026 non-null   object
 11  pastatotipas1     5026 non-null   int64
 12  sildymas1         5026 non-null   int64
 13  irengimas1        5026 non-null   int64
 14  miestas1          5026 non-null   int64
 15  rajonas1          5026 non-null   int64
dtypes: float64(2), int64(9), object(5)
memory usage: 667.5+ KB

In [140]:
X= df1.drop(columns=['pastatotipas', 'sildymas','irengimas', 'miestas', 'kaina', 'rajonas' ])
y=df1['kaina']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

fit = LinearRegression().fit(X_train, y_train)

pred = fit.predict(X_test)
fit.score(X_test, y_test)*100.0

80.1872164109791

In [141]:
fit.predict(np.reshape([90, 4, 3, 5, 2020, 5, 5, 4, 4, 10], (1, -1)))

array([316637.12241816])

In [142]:
le=LabelEncoder()
l = le.fit_transform(df1['rajonas'])
le.classes_

array(['Aleksotas', 'Alksnynė', 'Amaliai', 'Antakalnis', 'Antavilis',
       'Aukštieji Šančiai', 'Aukštutiniai Kaniūkai', 'Bajorai', 'Balsiai',
       'Baltija', 'Baltupiai', 'Bandužiai', 'Buivydiškės', 'Burbiškės',
       'Centras', 'Dainava', 'Debrecenas', 'Didieji Gulbinai',
       'Dvarčionys', 'Eiguliai', 'Fabijoniškės', 'Filaretai', 'Freda',
       'Galgiai', 'Giruliai', 'Grigiškės', 'Gričiupis', 'Jeruzalė',
       'Justiniškės', 'Kairėnai', 'Kalniečiai', 'Kalnėnai',
       'Karoliniškės', 'Kaunas', 'Labrenciškės', 'Lampėdžiai',
       'Laukininkai', 'Lazdynai', 'Lazdynėliai', 'Liepkalnis',
       'Likiškiai', 'Markučiai', 'Mažasis kaimelis', 'Melnragė', 'Miškas',
       'Mokykla', 'Naujakiemis', 'Naujamiestis', 'Naujininkai',
       'Naujoji Vilnia', 'Palanga', 'Palemonas', 'Panemunė', 'Paneriai',
       'Paupiai', 'Paupys', 'Pavilnys', 'Pašilaičiai', 'Petrašiūnai',
       'Pilaitė', 'Plytinė', 'Poilsis', 'Putinai', 'Rasos', 'Rokai',
       'Romainiai', 'Rumpiškės', 'Salininkai', 'Santariškės',
       'Saulėtekis', 'Senamiestis', 'Smeltė', 'Smiltynė', 'Sportininkai',
       'Tarandė', 'Tauralaukis', 'Trakų Vokė', 'Trekas', 'Turniškės',
       'Užupis', 'Vaišvydava', 'Valakampiai', 'Varpai', 'Verkiai',
       'Vidzgiris', 'Vilijampolė', 'Vilkpėdė', 'Vingis', 'Viršuliškės',
       'Visoriai', 'Vytėnai', 'Vėtrungė', 'Šauliai', 'Šeškinė',
       'Šiaurės miestelis', 'Šilainiai', 'Šnipiškės', 'Šventoji',
       'Žaliakalnis', 'Žardininkai', 'Žemieji Paneriai',
       'Žemieji Šančiai', 'Žemutiniai Kaniūkai', 'Žirmūnai',
       'Žvejybos uostas', 'Žvėrynas'], dtype=object)

In [145]:
label_encoder = LabelEncoder()
encoded_data = label_encoder.fit_transform(df1['rajonas'])
print('Category Mapping:', dict(zip(df1['rajonas'], encoded_data)))

Category Mapping: {'Šnipiškės': np.int64(96), 'Žirmūnai': np.int64(103), 'Šeškinė': np.int64(93), 'Pašilaičiai': np.int64(57), 'Pilaitė': np.int64(59), 'Antakalnis': np.int64(3), 'Baltupiai': np.int64(10), 'Vilkpėdė': np.int64(86), 'Kalnėnai': np.int64(31), 'Senamiestis': np.int64(70), 'Karoliniškės': np.int64(32), 'Naujamiestis': np.int64(47), 'Naujininkai': np.int64(48), 'Lazdynėliai': np.int64(38), 'Žvėrynas': np.int64(105), 'Justiniškės': np.int64(28), 'Lazdynai': np.int64(37), 'Užupis': np.int64(79), 'Fabijoniškės': np.int64(20), 'Santariškės': np.int64(68), 'Jeruzalė': np.int64(27), 'Markučiai': np.int64(41), 'Žemieji Paneriai': np.int64(100), 'Naujoji Vilnia': np.int64(49), 'Viršuliškės': np.int64(88), 'Verkiai': np.int64(83), 'Šiaurės miestelis': np.int64(94), 'Grigiškės': np.int64(25), 'Paupys': np.int64(55), 'Salininkai': np.int64(67), 'Trakų Vokė': np.int64(76), 'Bajorai': np.int64(7), 'Burbiškės': np.int64(13), 'Rasos': np.int64(63), 'Valakampiai': np.int64(81), 'Liepkalnis': np.int64(39), 'Paneriai': np.int64(53), 'Filaretai': np.int64(21), 'Tarandė': np.int64(74), 'Saulėtekis': np.int64(69), 'Visoriai': np.int64(89), 'Buivydiškės': np.int64(12), 'Turniškės': np.int64(78), 'Kairėnai': np.int64(29), 'Balsiai': np.int64(8), 'Pavilnys': np.int64(56), 'Dvarčionys': np.int64(18), 'Didieji Gulbinai': np.int64(17), 'Antavilis': np.int64(4), 'Galgiai': np.int64(23), 'Šilainiai': np.int64(95), 'Žemieji Šančiai': np.int64(101), 'Vilijampolė': np.int64(85), 'Centras': np.int64(14), 'Dainava': np.int64(15), 'Žaliakalnis': np.int64(98), 'Freda': np.int64(22), 'Petrašiūnai': np.int64(58), 'Žemutiniai Kaniūkai': np.int64(102), 'Rokai': np.int64(64), 'Gričiupis': np.int64(26), 'Aukštieji Šančiai': np.int64(5), 'Eiguliai': np.int64(19), 'Panemunė': np.int64(52), 'Vytėnai': np.int64(90), 'Lampėdžiai': np.int64(35), 'Aleksotas': np.int64(0), 'Kalniečiai': np.int64(30), 'Vaišvydava': np.int64(80), 'Romainiai': np.int64(65), 'Palemonas': np.int64(51), 'Aukštutiniai Kaniūkai': np.int64(6), 'Amaliai': np.int64(2), 'Kaunas': np.int64(33), 'Šventoji': np.int64(97), 'Palanga': np.int64(50), 'Miškas': np.int64(44), 'Vėtrungė': np.int64(91), 'Žvejybos uostas': np.int64(104), 'Alksnynė': np.int64(1), 'Mažasis kaimelis': np.int64(42), 'Bandužiai': np.int64(11), 'Debrecenas': np.int64(16), 'Giruliai': np.int64(24), 'Laukininkai': np.int64(36), 'Vingis': np.int64(87), 'Poilsis': np.int64(61), 'Labrenciškės': np.int64(34), 'Baltija': np.int64(9), 'Varpai': np.int64(82), 'Rumpiškės': np.int64(66), 'Naujakiemis': np.int64(46), 'Šauliai': np.int64(92), 'Paupiai': np.int64(54), 'Mokykla': np.int64(45), 'Sportininkai': np.int64(73), 'Tauralaukis': np.int64(75), 'Žardininkai': np.int64(99), 'Trekas': np.int64(77), 'Melnragė': np.int64(43), 'Smeltė': np.int64(71), 'Plytinė': np.int64(60), 'Smiltynė': np.int64(72), 'Putinai': np.int64(62), 'Vidzgiris': np.int64(84), 'Likiškiai': np.int64(40)}

In [143]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5026 entries, 0 to 5693
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   plotas            5026 non-null   float64
 1   kambariuskaicius  5026 non-null   int64
 2   aukstas           5026 non-null   int64
 3   aukstuskaicius    5026 non-null   int64
 4   metai             5026 non-null   float64
 5   pastatotipas1     5026 non-null   int64
 6   sildymas1         5026 non-null   int64
 7   irengimas1        5026 non-null   int64
 8   miestas1          5026 non-null   int64
 9   rajonas1          5026 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 431.9 KB

In [146]:
SDB = sqlite3.connect(r'C:\Users\pauli\Desktop\DataScienceNotebooks\Studentai\Paulius Vanagas\autopliusvisi.db')
Cs = SDB.cursor()
sql="""SELECT * FROM T1;"""
Cs.execute(sql)
ans = Cs.fetchall()
dfa = pd.read_sql_query(sql, con=SDB)
dfa.head(3)

,gamintojas,modelis,kaina,metai,kebulas,kuras,pavaros,galingumas,rida,nuorodos,pirmaregistracija,technikine
0,-Kita-,-kita-,1750.0,2008.0,Krovininis mikroautobusas,Dyzelinas,Mechaninė,None,NaN,https://autoplius.lt/skelbimai/kita-kita-krovi...,None,None
1,-Kita-,-kita-,3900.0,2011.0,Sedanas,Elektra,None,None,10.0,https://autoplius.lt/skelbimai/kita-kita-sedan...,None,None
2,-Kita-,-kita-,6800.0,2020.0,Hečbekas,Elektra,None,29,14000.0,https://autoplius.lt/skelbimai/kita-kita-hecbe...,None,2025-03

In [159]:
df2=dfa
df2 = df2.drop(columns=['nuorodos', 'technikine', 'pirmaregistracija'])

In [166]:
df2 = df2.applymap(lambda x: None if str(x) in ['None', 'NaN'] else x)
df2 = df2.dropna()
df2['galingumas']=df2['galingumas'].astype(float)

In [168]:
l2 = LabelEncoder().fit_transform(df2['gamintojas'])
df2['gamintojas1']=l2

l2 = LabelEncoder().fit_transform(df2['modelis'])
df2['modelis1']=l2

l2 = LabelEncoder().fit_transform(df2['kebulas'])
df2['kebulas1']=l2

l2 = LabelEncoder().fit_transform(df2['kuras'])
df2['kuras1']=l2

l2 = LabelEncoder().fit_transform(df2['pavaros'])
df2['pavaros1']=l2

In [180]:
X= df2.drop(columns=['gamintojas', 'modelis','kaina', 'kebulas', 'kuras', 'pavaros' ])
y=df2['kaina']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

fit = LinearRegression().fit(X_train, y_train)

pred = fit.predict(X_test)
fit.score(X_test, y_test)*100.0

57.31378952150352

In [198]:
fit.predict(np.reshape([2019, 118, 50000, 14, 162, 0, 0, 0], (1, -1)))

array([14060.74602209])

In [195]:
label_encoder = LabelEncoder()
encoded_data = label_encoder.fit_transform(df2['pavaros'])
print('Category Mapping:', dict(zip(df2['pavaros'], encoded_data)))

Category Mapping: {'Mechaninė': np.int64(1), 'Automatinė': np.int64(0)}

In [182]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2188 entries, 4 to 2517
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   metai        2188 non-null   float64
 1   galingumas   2188 non-null   float64
 2   rida         2188 non-null   float64
 3   gamintojas1  2188 non-null   int64
 4   modelis1     2188 non-null   int64
 5   kebulas1     2188 non-null   int64
 6   kuras1       2188 non-null   int64
 7   pavaros1     2188 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 153.8 KB