In [2]:
x = [*range(10)]
# 1. sukurkite naują sąrašą, kuriame x elemntai būtų
# pakdauginti iš jūsų įvesto skaičiaus
d=[i*6 for i in x ]
print("x=",x)
print("x*6=",d)

x= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x*6= [0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [5]:
c=('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
#2.sukurkite sąrašą, kuriame būtų duoti tekstai paversti į skaičius (float) tipo.
c_skaiciai = [float(value.replace(' ', '')) for value in c]
print('c=',c)
print('naujas=',c_skaiciai)

c= ('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
naujas= [19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]

In [6]:
auto=('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')
#3.sukurkite sąrašą, kur būtų pirmi 3 simboliai gamintojų, didžiosiomis raidėmis
d=[name[:3].upper() for name in auto]
print(d)

['BMW', 'MIT', 'SEA', 'SKO', 'VOL', 'AUD', 'DAC', 'SKO', 'BMW', 'VOL']

In [9]:
auto2=('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')
#4. Atskirkite į tris sąrašus tūrį, AG ir kW.
V_turiai=[]
AG_jegos = []
P_galia = []
for i in auto2:
    parts = i.split(', ')
    V = parts[0].split(' ')[0]
    ag = parts[1].split(' ')[0]
    kw = parts[1].split('(')[1].split('kW')[0]
    
    V_turiai.append(int(V))
    AG_jegos.append(int(ag))
    P_galia.append(int(kw))

print("Tūriai:", V_turiai)
print("AG:", AG_jegos)
print("kW:", P_galia)

Tūriai: [4999, 2378, 1598, 1798, 1969, 1760, 1461, 1600, 2000, 1600]
AG: [507, 160, 95, 179, 235, 88, 107, 116, 163, 120]
kW: [373, 118, 70, 132, 173, 65, 79, 85, 120, 88]

In [13]:
auto2=('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')
#4. Atskirkite į tris sąrašus tūrį, AG ir kW.
V=[parts[0].split(' ')[0] for i in auto2]
AG=[parts[1].split(' ') [0] for i in auto2]
P=[parts[1].split('(')[1].split('kW')[0] for i in auto2]

print("Tūriai:", V)
print("AG:", AG)
print("kW:", P)

Tūriai: ['1600', '1600', '1600', '1600', '1600', '1600', '1600', '1600', '1600', '1600']
AG: ['120', '120', '120', '120', '120', '120', '120', '120', '120', '120']
kW: ['88', '88', '88', '88', '88', '88', '88', '88', '88', '88']

In [14]:
#5)parašykite funkciją, kuri grąžintų vidurkį, jei jūs jai nurodote skaičių sąrašą 
# (list) arba eilutę (tuple)
l=[1,2,3,4,5,6,7,8,9,10]
def f(number):
    return (sum(number))/len(number)
print(f(l))

5.5

In [24]:
#6
t = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo 
architektūros objekte – Lietuvos banko Kauno rūmuose į muzikos meditaciją 
pakvies vokalinis ansamblis „Duodeco“. Pirmą kartą Pažaislio muzikos 
festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m. 
suburtas kolektyvas festivalio publikai pristatys muzikinę programą 
„More Sweet Than My Refrain“.'''
# SUkurkite sąrašą, kuriame būtų šio teksto žodžių ilgiai.
txt = t.split()

word_length = [len(word.strip('.,–„“')) for word in txt]

print(word_length)

[6, 2, 1, 6, 8, 7, 9, 5, 10, 13, 7, 0, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 7, 5, 5, 9, 7, 10, 6, 8, 5, 12, 7, 7, 4, 1, 8, 10, 10, 8, 9, 8, 8, 4, 5, 4, 2, 7]

In [10]:
#9)parašykite funkcjas suma(), skirtumas(), sandauga(), dalyba(),
# kurioms jūs galėtumėte nurodyti skaičių sąrašą x, ir vieną sakičių d, 
# ir tos funkcijos grąžintų naują sąrašą, su skaičiais iš x sąrašo su atitinkmai 
# atliktu veiksmu - pridėtu d, atimtu d, padaugintu iš d.
#def suma(x, d): veiksmai, kad gautumėte naują sąrašą kur x+d return naujas sąrašas
x=[1,2,3,4,5]
d=int(input("Ivesk skaiciu"))
def sum(x,d):
    return [i + d for i in x]
def skirtumas(x, d):
    return [i - d for i in x]
def sandauga(x, d):
    return [i * d for i in x]
def dalyba(x, d):
    return [ "Dalyba iš nulio negalima" if d == 0 else i / d for i in x]
print ('suma=',sum(x,d))
print('skirtumas=',skirtumas(x,d))
print('sandauga=', sandauga(x,d))
print('dalyba=', dalyba(x,d))

suma= [3, 4, 5, 6, 7]
skirtumas= [-1, 0, 1, 2, 3]
sandauga= [2, 4, 6, 8, 10]
dalyba= [0.5, 1.0, 1.5, 2.0, 2.5]

In [35]:
failo_vardas="07Medziaga.txt"
failas =open(failo_vardas,mode='r', encoding='utf-8')#atidaro fila, kuri nuskaitys ir atkoduos 
turinys=failas.read()# nuskaito teksta
failas.close()#uzdaro
print(turinys)

Siandien liepos 3 d. Temperatura nukrito iki 20 C. Po 33 C - salta.

In [36]:
failo_vardas="07Medziaga.txt"
failas =open(failo_vardas,mode='r', encoding='utf-8')
turinys=failas.readlines()# padarys teksto eilute
failas.close()
print(turinys)

['Siandien liepos 3 d. Temperatura nukrito iki 20 C. Po 33 C - salta. ']

In [38]:
#uzduotie sudeti skaicius, kurie yra pateikti stulpeliuose txt byloje
failo_vardas="07Medziaga.txt"
failas =open(failo_vardas,mode='r', encoding='utf-8')
turinys=failas.readlines()# padarys teksto eilute
for eil in turinys:
    x,y=eil.split(',')
    c=float(x)+float(y)
    print(c)
failas.close()
print(turinys)

3.0
7.0
11.0
15.0
['1,2\n', '3,4\n', '5,6\n', '7,8']

In [2]:
#suraskite vidurkį skaičių, esančių stulpeliuose pateiktuose faile Pamoka.txt
failo_vardas="07Medziaga.txt"
failas =open(failo_vardas,mode='r', encoding='utf-8')
turinys=failas.readlines()
sum_x = 0
sum_y = 0
number = 0

for eil in turinys:
    x, y = eil.split(',')
    sum_x = sum_x+float(x)
    sum_y = sum_y+float(y)
    number= number +1

failas.close()

vidurkis_x = sum_x / number
vidurkis_y = sum_y / number

print(f'Vidurkis x stulpelio = {vidurkis_x:.2f}')
print(f'Vidurkis y stulpelio= {vidurkis_y:.2f}')

Vidurkis x stulpelio = 4.14
"Vidurkis y stulpelio= 5.35

In [40]:
#uzduotis irasyti faila
failo_vardas="07Medziaga.txt"
failas =open(failo_vardas,mode='w', encoding='utf-8')
failas.write("labas\n")# rasys teksta eiluteje
failas.write("labas\n")
failas.write("labas\n")
failas.write("Viso")
failas.close()

In [20]:
#8)
#duomenys:[('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
#parašyti funkciją, kuri juos spausdintų  lenteleje Auto, rida, sk, turis, AG, KW,benzinas
duomenys = [
    ('BMW', '253 000 km', '19 500', '4999 cm³', '507 AG (373kW)', 'Benzinas'),
    ('Mitsubishi', '195 405 km', '2 700', '2378 cm³', '160 AG (118kW)', 'Benzinas'),
    ('Seat', '129 800 km', '13 490', '1598 cm³', '95 AG (70kW)', 'Dyzelinas'),
    ('Skoda', '183 000 km', '14 650', '1798 cm³', '179 AG (132kW)', 'Benzinas'),
    ('Volvo', '127 896 km', '38 000', '1969 cm³', '235 AG (173kW)', 'Dyzelinas')
]

# Funkcija spausdinanti lentelę
def spausdinti_lentele(duomenys):
    # Lentelės antraštės
    print(f"{'Auto':<12} {'Rida':<12} {'Kaina':<10} {'Tūris':<10} {'AG':<15} {'KWh':<10} {'Kuras':<10}")
    print("="*80)
    
    # Spausdina kiekvieną įrašą
    for auto in duomenys:
        auto_pavadinimas, rida, kaina, turis, ag_kwh, kuras = auto
        ag, kwh = ag_kwh.split(' (')
        kwh = kwh.rstrip(')')
    #ag_kwh.split(' (') padalija reikšmę į dvi dalis, o rstrip(')') pašalina uždarantį skliaustą iš antrosios dalies,
        print(f"| {auto_pavadinimas:<10} | {rida:<10} | {kaina:<8} | {turis:<8} | {ag:<8} | {kwh:<8} | {kuras:<10} |")

# Iškviečiame funkciją
spausdinti_lentele(duomenys)

Auto         Rida         Kaina      Tūris      AG              KWh        Kuras
================================================================================
| BMW        | 253 000 km | 19 500   | 4999 cm³ | 507 AG   | 373kW    | Benzinas   |
| Mitsubishi | 195 405 km | 2 700    | 2378 cm³ | 160 AG   | 118kW    | Benzinas   |
| Seat       | 129 800 km | 13 490   | 1598 cm³ | 95 AG    | 70kW     | Dyzelinas  |
| Skoda      | 183 000 km | 14 650   | 1798 cm³ | 179 AG   | 132kW    | Benzinas   |
| Volvo      | 127 896 km | 38 000   | 1969 cm³ | 235 AG   | 173kW    | Dyzelinas  |

In [31]:
#8)
#duomenys:[('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
#parašyti funkciją, kuri juos spausdintų  lenteleje Auto, rida, sk, turis, AG, KW,benzinas
duomenys = [
    ('BMW', '253 000 km', '19 500', '4999 cm³', '507 AG (373kW)', 'Benzinas'),
    ('Mitsubishi', '195 405 km', '2 700', '2378 cm³', '160 AG (118kW)', 'Benzinas'),
    ('Seat', '129 800 km', '13 490', '1598 cm³', '95 AG (70kW)', 'Dyzelinas'),
    ('Skoda', '183 000 km', '14 650', '1798 cm³', '179 AG (132kW)', 'Benzinas'),
    ('Volvo', '127 896 km', '38 000', '1969 cm³', '235 AG (173kW)', 'Dyzelinas')
]

# Funkcija spausdinanti lentelę
def spausdinti_lentele(duomenys):
    # Lentelės antraštės
    print(f"| {'Auto':^10} | {'Rida':^10} | {'Kaina':^8} | {'Tūris':^8} | {'AG':^8} | {'KWh':^8} | {'Kuras':^10} |")
    print("="*84)
    
    # Spausdina kiekvieną įrašą
    for auto in duomenys:
        auto_pavadinimas, rida, kaina, turis, ag_kwh, kuras = auto
        ag, kwh = ag_kwh.split(' (')
        kwh = kwh.rstrip(')')
    #ag_kwh.split(' (') padalija reikšmę į dvi dalis, o rstrip(')') pašalina uždarantį skliaustą iš antrosios dalies,
        print(f"| {auto_pavadinimas:<10} | {rida:<10} | {kaina:<8} | {turis:<8} | {ag:<8} | {kwh:<8} | {kuras:<10} |")

# Iškviečiame funkciją
spausdinti_lentele(duomenys)

|    Auto    |    Rida    |  Kaina   |  Tūris   |    AG    |   KWh    |   Kuras    |
====================================================================================
| BMW        | 253 000 km | 19 500   | 4999 cm³ | 507 AG   | 373kW    | Benzinas   |
| Mitsubishi | 195 405 km | 2 700    | 2378 cm³ | 160 AG   | 118kW    | Benzinas   |
| Seat       | 129 800 km | 13 490   | 1598 cm³ | 95 AG    | 70kW     | Dyzelinas  |
| Skoda      | 183 000 km | 14 650   | 1798 cm³ | 179 AG   | 132kW    | Benzinas   |
| Volvo      | 127 896 km | 38 000   | 1969 cm³ | 235 AG   | 173kW    | Dyzelinas  |

In [6]:
#8)
#duomenys:[('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
#parašyti funkciją, kuri juos spausdintų  lenteleje Auto, rida, sk, turis, AG, KW,benzinas
#keiciau centruote ir tarpus lenteleje., siek tiekpavidal1. Lentele galima issikviesti su 
# "from tabulate import tabulate" - cia neinstaliuota.
duomenys = [
    ('BMW', '253 000 km', '19 500', '4999 cm³', '507 AG (373kW)', 'Benzinas'),
    ('Mitsubishi', '195 405 km', '2 700', '2378 cm³', '160 AG (118kW)', 'Benzinas'),
    ('Seat', '129 800 km', '13 490', '1598 cm³', '95 AG (70kW)', 'Dyzelinas'),
    ('Skoda', '183 000 km', '14 650', '1798 cm³', '179 AG (132kW)', 'Benzinas'),
    ('Volvo', '127 896 km', '38 000', '1969 cm³', '235 AG (173kW)', 'Dyzelinas')
]

# Funkcija spausdinanti lentelę
def spausdinti_lentele(duomenys):
    # Lentelės antraštės
    print(f"| {'Auto':^10} | {'Rida, km':^10} | {'Kaina, Eur':^8} | {'Tūris,cm³':^8} | {'Galia, AG':^8} | {'Energija,KWh':^8} | {'Kuras':^10} |")
    print("_"*92)
    
    # Spausdina kiekvieną įrašą
    for auto in duomenys:
        auto_pavadinimas, rida, kaina, turis, ag_kwh, kuras = auto
        rida = rida.replace(' km', '')
        ag, kwh = ag_kwh.split(' (')
        turis = turis.replace(' cm³', '')
        kwh = kwh.rstrip(')').replace('kW', '')
        ag=ag.replace('AG','')
        
    #ag_kwh.split(' (') padalija reikšmę į dvi dalis, o rstrip(')') pašalina uždarantį skliaustą iš antrosios dalies,
        print(f"| {auto_pavadinimas:^10} | {rida:^10} | {kaina:^10} | {turis:^9} | {ag:^9} | {kwh:^12} | {kuras:^10} |")

# Iškviečiame funkciją
spausdinti_lentele(duomenys)

|    Auto    |  Rida, km  | Kaina, Eur | Tūris,cm³ | Galia, AG | Energija,KWh |   Kuras    |
____________________________________________________________________________________________
|    BMW     |  253 000   |   19 500   |   4999    |   507     |     373      |  Benzinas  |
| Mitsubishi |  195 405   |   2 700    |   2378    |   160     |     118      |  Benzinas  |
|    Seat    |  129 800   |   13 490   |   1598    |    95     |      70      | Dyzelinas  |
|   Skoda    |  183 000   |   14 650   |   1798    |   179     |     132      |  Benzinas  |
|   Volvo    |  127 896   |   38 000   |   1969    |   235     |     173      | Dyzelinas  |

In [30]:
#7
fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
#Parašykite kodą, kuris sugeneruotų sąrašą, su žodžiais 
# 'Rytas', jei skaičius fx sąraše yra tarp 6 ir 10, diena, 
# jei tarp 10 ir 18, vakaras jei tarp 18 ir 22, ir naktis kitais atvejais.
d=['Rytas' if 6<i>10 else 'Diena' if 10>=i>18 else 'Vakaras' if 18>=i>22 else 'Naktis' for i in fx ]
print(d)

['Rytas', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Naktis', 'Naktis', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Naktis', 'Naktis', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Naktis', 'Naktis', 'Rytas', 'Rytas', 'Naktis', 'Rytas', 'Naktis', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Rytas', 'Rytas', 'Naktis', 'Rytas', 'Rytas', 'Naktis', 'Naktis', 'Rytas', 'Naktis', 'Naktis']