In [41]:
i=float(input('ivesk skaiciu'))
if i % 5 == 0:
    print ('Labas'*5)
else:
    if i % 2==0:
        print (i, i**2, i/2) 
    else:
        if i  % 7 == 0:
         print('Dalinasi is 7')
        else:
            a=int(input('ivesk kita skaiciu'))
            print (a+7, a-7, a*7 )

8 -6 7

In [6]:
i=float(input('ivesk skaiciu'))
a=int(input('ivesk kita skaiciu'))
if i==a:
    print ('lygus')
else:
    if i>a:
        print( i>a,'pirmas skaicius didesnis uz antra')
    else:
        print( i<a, 'antras skaicius didesnis uz pirma')

True pirmas skaicius didesnis uz antra

In [ ]:
i=float(input(' ivesk skaiciu'))
if 10<i<15:
    print (i, 'yra tarp 10 ir 20')
else:
    if i<10:
        print (i,'ivestas skaicius maziau 10')
    else:
        print (i,'ivestas skaicius daugiau 15')

5 ivestas skaicius maziau 10

In [ ]:
i=float(input(' ivesk skaiciu'))
if i%2 == 0:
    print (i, 'yra Lyginis')
else:*
    print (i,'yra nelyginis')

14 yra Lyginis

In [ ]:
i=float(input('ivesk skaiciu'))
if i%3==0 and i%5==0:
         print('FizzBuszz')
else:         
    if i%3==0:
      print ('Fizz')
    else:
       if i%5==0:
        print('Buzz')
       else:
          if i%3==0 and i%5==0:
            print('FizzBuszz')
          else:
            print(i, "nera 3 ir 5 kartotinis")

49 nera 3 ir 5 kartotinis

In [69]:
i=float(input('ivesk ilgi metrai'))
print( i,'cm')
print( i*1000,'mm')
print( i/1000,'km')

10.0 cm
10000.0 mm
0.01 km

In [ ]:
i=float(input('ivesk skaiciu'))
b=float(input('ivesk skaiciu'))
if i>b:
  print (i%b, 'liekana pirma skaiciu padalinus is antro')
else:
  print (b%i, 'liekana antra skaiciu padalinua is pirmo')

20 liekana antra skaiciu padalinua is pirmo

In [43]:
i=float(input('ivesk skaiciu'))
b=float(input('ivesk skaiciu'))
print (i**b,'pirmas skaicius', i,  'pakelta laipsniu', b, '(antras skaicius)' )

8.0 pirmas skaicius 2.0 pakelta laipsniu 3.0 (antras skaicius)

In [64]:
lst = ["Python", "yra", "lengva", "programavimo", "kalba"]
print(lst[0], lst[-1])
print(lst[: : 2])
txt= '"Python", "yra", "lengva", "programavimo", "kalba"'
txt.split(''"programavimo")
print (type(a), len(txt.split('"programavimo"')))
print(len(txt.split()))
txt.split('Phyton')
txt.isalpha()
print(len(txt.split("Phyton")))

Python kalba
['Python', 'lengva', 'kalba']
<class 'int'> 2
5
1

In [76]:
txt = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą su pyragu"
a=txt.split()
ats= ' ' .join(a)
print(len(a), ats[ : :2])

10 A yasmgt aąs uutnasi raąs yau

In [82]:
l= [1,1,2,2,3,4,5,5,5,8,8,1,2]
l1=set(l)
print(l1)

{1, 2, 3, 4, 5, 8}