In [1]:
%reload_ext autoreload
%autoreload 2

In [3]:
pip install mysql-connector-python==8.0.29

Requirement already satisfied: mysql-connector-python==8.0.29 in c:\users\eleta\appdata\local\programs\python\python312\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\eleta\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python==8.0.29) (5.27.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector as cnt

# nuosavų funkcijų importavimas:
from Mano_Funkcijos import *

In [5]:
DB = cnt.connect(
    host='88.223.121.130',
    port=3306,
    user='user',
    password = 'slaptazodis',
    database = 'works'
)
C = DB.cursor()

In [6]:
#sql užklausos vykdymas per mysql/mariadb kursorių
sql=""" select count(*) as Kiekis, count(*)/(select count(*) from sa)*100 as `Rinkos dalis`,
case 
when device_brand in (select * from(select brand from
(select count(*) as kiekis, device_brand as brand  from sa where device_brand<>'' group by device_brand) as D
order by kiekis desc limit 5)as f) then device_brand
else 'Other'
end as Brand from sa
group by Brand
order by kiekis desc;"""
C.execute(sql)
ans = C.fetchall()
gamintojai, kiekis, dalis = list(map(list, zip(*ans)))
#? = np.transpose(ans)

In [7]:
pout (ans)

Rodoma 5 eilutės iš 6
|      36290       |     30.4927      |     Samsung      |
|      35186       |     29.5651      |      Nokia       |
|      31091       |     26.1243      |      Other       |
|       7161       |      6.0170      |    BlackBerry    |
|       5194       |      4.3643      |        LG        |

In [10]:
print (gamintojai)

[36290, 35186, 31091, 7161, 5194, 4090]