In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [2]:
#prisijungimas prie mySQL, ir kursoriaus sukūrimas
DB = cnt.connect(
host = '88.223.121.130',
user='user',
password='slaptazodis',
port=3306,
database='works'
)
C=DB.cursor()

In [ ]:
# atrinkti 10 populiariausių gamintojų iš autopliuslt, pateikti tokius stulpelius - gamintojas, 
# vidutinė kaina, vidutinė rida, vidutinis amžius, modelių kiekis. Gautus rezultatus surašyti į 
# SQLite duomebazę, pavadinimu "Testas.db", lentelės pavadinimas kokį sugalvosite. Viską turi atlikti 
# python kodas. PANDAS NEGALIMA NAUDOTI, viską atlikite per cursor() objektus.

#Testas.db duomenu baze

In [3]:
sql="""
SELECT 
    gamintojas, 
    ROUND(AVG(REPLACE(REPLACE(price, ' ', ''), 'km', ''))) AS price, 
    ROUND(AVG(REPLACE(REPLACE(rida, ' ', ''), 'km', ''))) AS rida, 
    ROUND(AVG(SUBSTRING(pagaminimo_data, 1, 4))) AS metai, 
    count(modelis) as modelis
FROM autopliuslt
GROUP BY gamintojas
ORDER BY modelis desc
LIMIT 10;"""
C.execute(sql)
ans = C.fetchall()
gamintojas, price, rida, metai, modelis = list(map(list, zip(*ans)))
#? = np.transpose(ans)

In [10]:
print(ans)

[('BMW', 10652.0, 260654.0, 2009.0, 365), ('Volkswagen', 6191.0, 237651.0, 2008.0, 310), ('Audi', 8448.0, 241376.0, 2007.0, 227), ('Mercedes-Benz', 15080.0, 261259.0, 2009.0, 177), ('Toyota', 8713.0, 201755.0, 2009.0, 154), ('Volvo', 7848.0, 278037.0, 2009.0, 138), ('Opel', 4006.0, 226788.0, 2008.0, 134), ('Ford', 5592.0, 225685.0, 2009.0, 110), ('Peugeot', 6748.0, 205881.0, 2011.0, 78), ('Skoda', 10808.0, 181196.0, 2013.0, 74)]

In [14]:
SDB = sqlite3.connect('Duomenys1.db') # jei neegsiztuoja - bus sukurfta nauja sqlite DB
Cs = SDB.cursor()

sql = '''create table if not exists T100
(
    gamintojas text not null,
    price integer not null,
    rida integer not null,
    metai integer not null,
    modelis text not null
)
'''
Cs.execute(sql)   #sukuriame lentele 

sql_template = '''insert into T100 values (?,?,?,?,?)'''
data = [ans]
Cs.executemany(sql_template, ans)

# Cs.execute(sql_template, ('T100','F1', 10, 1024))

SDB.commit() # commit() būtinas, jei norite įrašyti duoenis į DB

SDB.close()

In [ ]:
# JASON formats 

df = pd.read_json('../DATA/')
df.head(1)

# data ir laika reikia konvertuoti i datetime objekta

In [ ]:
df['dataLaikas'] = pd.to_datetime(df['data:Laikas'])             #pakeicia ir iraso i ta pati stulpeli 
df.info()

In [ ]:
# nuskaitykite JSON failą -  2023 metus

# konvertuokite dataLaikas stulpelį į datetime
#  pd.to_datetime(df[stulpelis])

# pridėkite naują stulpelį su paros laikais (rytas, vakaras ...)
# pridėkite naują stulplelį, kur būtų tik įvykio valanda
# Vizualizuokite, kuriuo paros laiku, kurią valandą įvyksta daugiausiai eismo įvykių

# sekantiems klausimams patys sugalvojate tinkamiausias vizualizacijas
# Vyrų ar moterų buvo daugiau, sukėlusių eismo įvykį?
#  koks vidutinis kaltininkų amžius?
# Kokiomis baudų rūšimis buvo nubausti vyrai/moterys (administracinė, baudžiamoji) (teisenosStadijaBusena)