In [7]:
# Paskaičiuoti pelną pardavus visas prekes. Informacija apie kainą
# ir kiekius yra pateikiama kaip žodynai (dictionary):
# d1 = {"cost_price": 32.67,
# "sell_price": 45.00,
# "inventory": 1200}
# d2 = {"cost_price": 225.89,
# "sell_price": 550.00,
# "inventory": 100}
# d3 = {"cost_price": 2.77,
# "sell_price": 7.95,
# "inventory": 8500}



d1 = {"cost_price": 32.67,
"sell_price": 45.00,
"inventory": 1200}
d2 = {"cost_price": 225.89,
"sell_price": 550.00,
"inventory": 100}
d3 = {"cost_price": 2.77,
"sell_price": 7.95,
"inventory": 8500}

d1["cost_price"] * d1["inventory"]

39204.0

In [31]:
# t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
# • Išveskite po vieną simbolį iš teksto. Šalia nurodykite ir
# simbolio poziciją (indeksą) tekste.
# • Išvesdami simbolį, spausdinkite jį viršutiniame registre, jei jis
# yra lyginėje pozicijoje. Kitu atveju - žemutiniame registre.
# • Išveskite po vieną žodį.    

tekstas = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
for idx, letter in enumerate(tekstas):
    if idx % 2 == 0:
        print(idx, letter.upper())
    else: 
        print(idx, letter.lower())

0 A
1 š
2
3 r
4 Y
5 t
6 A
7 i
8 S
9
10 M
11 ė
12 G
13 s
14 T
15 u
16
17 k
18 A
19 v
20 Ą
21
22 S
23 u
24
25 s
26 U
27 m
28 U
29 š
30 T
31 i
32 N
33 i
34 A
35 i
36 S
37
38 I
39 r
40
41 a
42 R
43 b
44 A
45 t
46 Ą

In [ ]:
# t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
# • Išveskite po vieną simbolį iš teksto. Šalia nurodykite ir
# simbolio poziciją (indeksą) tekste.
# • Išvesdami simbolį, spausdinkite jį viršutiniame registre, jei jis
# yra lyginėje pozicijoje. Kitu atveju - žemutiniame registre.
# • Išveskite po vieną žodį.    

tekstas = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
for idx, letter in enumerate(tekstas):
    if idx % 2 == 0:
        print(idx, letter.upper())
    else: 
        print(idx, letter.lower())

In [33]:
# • Paprašykite vartotojo įvesti simbolį bei skaičių. Išveskite
# kvadratą, sudarytą iš įvesto simbolio ir kurio kraštinė būtų
# lygi įvestam skaičiui. Pvz.: įvesta '@' ir 5. Rezultatas:
# @@@@@
# @@@@@
# @@@@@
# @@@@@
# @@@@@


Skaicius = int(input('Įveskite skaičių: '))
Simbolis = input('Įveskite simbolį: ')
for a in range(Skaicius):
    print(Simbolis * Skaicius)

XXXXX
XXXXX
XXXXX
XXXXX
XXXXX

In [40]:
# Duotas sąrašas:
# miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',
# 'Ūla', 'Mažeikiai', 'Akmena']
# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.

miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',]
for ilgis in miestai: 
    if len(ilgis) > 6:
        print(ilgis)

Vilnius
Rokiškis

In [48]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

naujas_sarasas = []

for a,b in zip(a,b):
    naujas_sarasas.append(a * b)
print(naujas_sarasas)

[1, 6, 15, 28, 45, 66, 91, 120, 153, 190]

In [61]:
x = [1,2,3,4,5,6,7,8,9,10] 
y = [2,1,4,7,11,13,15,17,19,21]

ivestas = int(input('Iveskite skaiciu'))

padaugintas_x = []
padaugintas_y = []
for xdaugiklis in x:
    padaugintas_x.append(ivestas*xdaugiklis)
print(padaugintas_x)

sudaugintasYX = []
for Xdaug, Ydaug in zip(x,y):
    sudaugintasYX.append(Xdaug * Ydaug)
print(sudaugintasYX)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[2, 2, 12, 28, 55, 78, 105, 136, 171, 210]

In [77]:
#a) Suraskite vidutinę kainą, amžių ir ridą šių automobilių.


m = [('BMW', 'M5', '253 000 km', '2005-12', '19 500'), ('Mitsubishi', 'Outlander', '195 405 km', '2006', '2 700'), ('Seat', 'Arona', '129 800 km', '2019-11', '13 490'), ('Skoda', 'Octavia Scout', '183 000 km', '2015-06', '14 650'), ('Volvo', 'XC90', '127 896 km', '2018-08', '38 000'), ('Audi', '80', '194 000 km', '1987-07', '1 200'), ('Dacia', 'Lodgy', '102 122 km', '2013-03', '8 000'), ('Skoda', 'Octavia', '227 937 km', '2017-11', '11 990'), ('BMW', '320', '158 486 km', '2017-07', '16 190'), ('Volkswagen', 'Passat', '150 869 km', '2019-01', '16 490'), ('BMW', '520', '74 455 km', '2018-03', '28 900'), ('Mercedes-Benz', 'GLE Coupe 350', '194 000 km', '2016-11', '42 500'), ('Ford', 'C-MAX', '276 260 km', '2005-06', '2 000'), ('BMW', 'X3', '290 000 km', '2004-11', '3 390'), ('BMW', '530', '400 000 km', '2004', '3 750')]

ridos = []
metai = []
kaina = []

for automobilis in m:
    rida = (automobilis[2].replace(' km','')).replace(' ','')
    ridos.append(int(rida))
    
    amzius = (automobilis[3])
    metai.append(amzius)
    
    eurai = (automobilis[4]).replace(' ','')
    kaina.append(int(eurai))

print(ridos)
print(metai)
print(kaina)

[253000, 195405, 129800, 183000, 127896, 194000, 102122, 227937, 158486, 150869, 74455, 194000, 276260, 290000, 400000]
['2005-12', '2006', '2019-11', '2015-06', '2018-08', '1987-07', '2013-03', '2017-11', '2017-07', '2019-01', '2018-03', '2016-11', '2005-06', '2004-11', '2004']
[19500, 2700, 13490, 14650, 38000, 1200, 8000, 11990, 16190, 16490, 28900, 42500, 2000, 3390, 3750]