In [1]:
# print('Labas, čia pirmoji paskaita') ctrl /

Labas, čia pirmoji paskaita

In [2]:
a =  15
b = a + 6
print(b)

21

In [3]:
a = 2024
year = 2024

mėsos_šmoto_svoris = 10
print(mėsos_šmoto_svoris)

10

In [7]:
# sudėtis:
print(1 + 7, 'sudėtis') # sudėtis
# kėlimas laipsniu:
print(2**8)
#n-tojo laipsnio šaknies traukimas:
print(64**(1/8))
# skaičiaus priskyrimas kintamajam:
a = 3.0
print(a) # išves 3.0
print(type(a)) # parašys, koks kintamojo tipas
b = a * 7 # atsakymo priskyrimas naujam kintamajam
print(b) # atsakymo išvedimas
print(9 % 4 )# liekanos radimas (operatorius %)

8 sudėtis
256
1.681792830507429
3.0
<class 'float'>
21.0
1

In [9]:
a = '''Vilnius yra 
"kietas"
miestas'''
print(a)

Vilnius yra
"kietas"
miestas

In [10]:
#  len()
t = "Vilnius!"
ats = len(t)
print(ats)

8

In [14]:
# metodai
a = 'Rytas'
ats = a.upper() # .lower()
print(ats)


t = 'Vilniaus miestas'
ats = t.replace('vilniaus', 'Kauno')
print(t)
print(ats)

RYTAS
Vilniaus miestas
Vilniaus miestas

In [13]:
a = 1
a = 3
a = 5
a = 'Rytas'
print(a)

Rytas

In [15]:
a = 7
A = 3
print(a+A)

10

In [18]:
a = 'Labas'+'Rytas'
print(a)
b = 'Labas'+6
print(b)

LabasRytas

TypeError: can only concatenate str (not "int") to str

In [21]:
a = 'Vilniaus Kaunas'
ats = a.index('i')
print(ats)

4

In [24]:
print(a[-1])

s

In [26]:
ats = a[3:9]
print(ats)

niaus

In [30]:
ats = a[0:9:3]
print(ats)

Vnu

In [32]:
print(a[::2])

Vliu ans

In [33]:
print(a[-5:])

aunas

In [34]:
print(a[::-1])

sanuaK suainliV