In [1]:
# antra paskaita
print('02 paskaita')

02 paskaita

In [2]:
a = 2

In [3]:
print(a)

2

In [ ]:
# • Priskirkite savo pasirinktus skaičius kintamiesiems
# • Raskite šių skaičių sandaugą, pakelkite juos savo pasirinktu
# laipsniu;
# • Ištraukite iš šių skaičių pasirinkto laipsnio šaknį
# • Suraskite šių skaičių dalybos liekaną (dalinkite didesnį iš
# mažesnio)

$\sqrt[n]{x} = x^{1/n}$

In [13]:
a = 5
b = 7
print(a*b, a**b, a**(1/2), b%a)

35 78125 2.23606797749979 2

In [ ]:
# • Suskaičiuoti, kiek simbolių yra jūsų varde, pavardėje.
# • Suskaičiuoti, kiek simbolių yra pačio pirmojo delfi.lt straipsnio
# antraštėje
# • Pakeisti visas raides į mažąsias jūsų varde. Ir į didžiąsias ;).
# • Iš delfi antraštės atrinkite pirmus 10 simbolių; paskutinius
# 10; kas antrą; iškirpkite tekstą nuo 10-to iki 20-to simbolių;
# • Kiek delfi antraštėje yra "a" simbolių? Kurioje pozicijoje yra
# pirmąkart sutinkamas šis simbolis?
# • Iš teksto txt="Labas rytas!" išveskite tekstą be pirmo
# simbolio; be paskutinio; be pirmo ir be paskutinio;

In [11]:
vardas = 'Egis'
ats = len(vardas)
print(ats)

delfi = '''Egidija tikina: tai pats skaniausias grilio patiekalas – neabejotinai taps ir jūsų vasaros hitu!

Skaitykite daugiau: https://www.delfi.lt/
'''

print(len(delfi))
print(vardas.upper(), vardas.lower())

print(delfi[:10])
print(delfi[-10:])
print(delfi[::2])

print(delfi[9:20])

print(delfi.count('a'), delfi.index('a'))

txt="Labas rytas!"

print(txt[1:])
print(txt[:-1])
print(txt[1:-1])

4
140
EGIS egis
Egidija ti
delfi.lt/

Eiiatkn:tipt knasa rlopteaa  ebjtnitp rjs aao iu
Satkt aga:hts/wwdlil/
ikina: tai
18 6
abas rytas!
Labas rytas
abas rytas

In [16]:
t = 42
l = 'labas'
print(t,l, 'print fukcijos veikimo demonstracija', sep='\n')

42
labas
print fukcijos veikimo demonstracija

In [17]:
# input()
ats_inputo = input()
print(ats_inputo)

labas rytas nor dabar yra vakaras

In [18]:
ats = input('Įveskite skaičių [1-10]')
print(ats)

7

In [19]:
ats = input('Įveskite skaičių [1-10]')
print(ats*7)

7777777

In [21]:
a = 5
b = "skaičius yra toks: "
print(b+str(a))

skaičius yra toks: 5

In [30]:
ats = input('Įveskite skaičių [1-10]')
ats = float(ats.replace(',','.'))
print(ats*7)

38.5

In [37]:
# format metodas

print("Prekė kainavo {} €, iš kurių {} teko valstybei.".format(50, 7.5))

Prekė kainavo 50 €, iš kurių 7.5 teko valstybei.

In [42]:
txt = "Prekė kainavo {:.2f} €"
print(txt.format(10.123456789))

Prekė kainavo 10.12 €

In [44]:
txt = "{0} banko klientai yra lojalesni už {2} banko klientus  maždaug {1} kartus"
print(txt.format('A', 'B', 2))

A banko klientai yra lojalesni už 2 banko klientus  maždaug B kartus

In [45]:
txt = "{A} banko klientai yra lojalesni už {B} banko klientus  maždaug {C} kartus"
print(txt.format(C=5,A='SWED',B='SEB'))

SWED banko klientai yra lojalesni už SEB banko klientus  maždaug 5 kartus

In [48]:
txt = "Čia {A} random {A} tekstas su keliais {B}"
print(txt.format(A=42, B=-42))

Čia 42 random 42 tekstas su keliais -42

In [ ]:
# • Atlikite užduotis su skaičiais iš skaidrės (23). Šįkart skaičius
# turi įvesti vartotojas.
# • Išvestį suformatuokite taip, jog išvestų įvestus skačius, atlikto
# veiksmo pavadinimą, pateiktų veiksmo rezultatą.
# Rezultatams parodyti panaudokite skirtingus skaičių
# atvaizdavimo formatus.
# • Parašykite kodą, kuris atrinktų simbolius iš teksto (įvedamo
# vartotojo). Rėžius (nuo - iki) taip pat turi nurodyti vartotojas.

In [53]:
a =  int(input('nuo?'))
b = int(input('iki?'))

print('Sudėtis šių skaičių {a}, {b}, atsakymas {c:.2f}'.format(a=a,b=b,c=a+b))

Sudėtis šių skaičių 5, 6, atsakymas 11.00

In [55]:
txt = input('tekstas?')
a = int(input('nuo?'))
b = int(input('iki?'))
print(txt[a:b])

sjfopqwer gl;

In [59]:
year = 2024
t = f'Dabar yra {year} metai'
print(t)
month = 6
t2 = f'Dabar yra {year} metai, {month} mėnuo'
print(t2)

Dabar yra 2024 metai
Dabar yra 2024 metai, 6 mėnuo

In [61]:
#veiksmai f-stringe:
sk = 12
a = f'{sk+2} - sudėties rezultatas'
print(a)

14 - sudėties rezultatas

In [62]:
a = int(input('Įveskite skaičių'))
answer = f'{a %2:_^10.2f}| liekanos operatoriaus rezultatas'
print(answer)

___1.00___| liekanos operatoriaus rezultatas

In [70]:
a = 17
answer = f'{a %3:<10}| liekanos operatoriaus rezultatas'
print(answer)

2         | liekanos operatoriaus rezultatas

In [71]:
k = 5
print(f'{k=}')

k=5

In [72]:
k == 5

True

In [73]:
not k == 5

False

In [76]:
txt = "`Brave New World` - utopija"
print('New' in txt)

True

In [78]:
ats = 5 > 3**2*2 / 2 + 4 and 7 <  2 + 4*1**2  or 15 == 225**1/2
print(ats)

False

In [79]:
s = 'A'
lst = []
dct = {}
sets = set()
flt = 1.0
intgr = 7
tpl = (7,)
print(type(s), type(s) is str)
print(type(lst), type(lst) is list)
print(type(dct), type(dct) is dict)
print(type(sets), type(sets) is set)
print(type(flt), type(flt) is float)
print(type(intgr), type(intgr) is int)
print(type(tpl), type(tpl) is tuple)

<class 'str'> True
<class 'list'> True
<class 'dict'> True
<class 'set'> True
<class 'float'> True
<class 'int'> True
<class 'tuple'> True

In [81]:
a = 15
print(a is int)
print(type(a) is int)

False
True

In [91]:
a = 15
b = 7

if a > b:
    print("a daugiau už b")
    print('a tikrai daugiau už b')
    print('garantuotai a daugiau už b')
else:
    print("ELSE")

a daugiau už b
a tikrai daugiau už b
garantuotai a daugiau už b

In [97]:
'7777'.isupper()

False

In [98]:
txt = input('?')

if txt.isupper():
    print('didž')
else:
    print('maž')

if txt.isnumeric():
    print('Buvo vien tik skaičiai')
else:
    print('Buvo ne vien tik skaičiai arba išvis be skaičių')

didž
Buvo ne vien tik skaičiai arba išvis be skaičių