In [1]:
print('03 paskaita')

03 paskaita

In [2]:
7 / 2

3.5

In [1]:
5.9 // 2 # floor()

2.0

In [5]:
i = int(input('Įveskite skaičių'))
ats = 'Lyginis' if i % 2 == 0 else 'Nelyginis'
print(ats)

Nelyginis

In [12]:
a = 5
b = 10

ats = "a lygus b" if a == b else 'a mažiau už b' if a < b else 'a daugiau už b'

print(ats)

a daugiau už b

In [9]:
# su pilnu if sakiniu:
if a == b:
    print('a ir b yra lygūs')
elif a < b:
    print('a mažiau už b')
else:
    print('a daugiau už b')

a mažiau už b

In [3]:
if 0:
    print('!')
else:
    print('!!')

!!

In [4]:
# • Liepkite vartotojui suvesti savo amžių. Patikrinkite ar amžius
# yra didesnis arba lygus 18-ai, jei taip - išveskite “jūs galite
# balsuoti”.

# age = int(input('Jūsų amžius?'))
age = 18
ats = 'Galite balsuoti' if age >= 18 else "Negalite balsuoti"
print(ats)

# • Leiskite vartotojui suvesti norimą kiekį pažymių (pavyzdžiui,
# jūs nusimatote 3-is kintamuosius, tai leidžiate padaryti 3
# įvedimus). Raskite šių pažymių vidurkį. Patikrinkite ar
# vidurkis teigiamas (daugiau arba lygu 5-iems), jei taip -
# išveskite 'vidurkis teigiamas'.
a = int(input('1 skaičius iš 3jų'))
b = int(input('2 skaičius iš 3jų'))
c = int(input('3 skaičius iš 3jų'))
v = (a+b+c)/3
print(v)
ats = 'Vid. teigiamas' if v >= 5 else 'Neigiamas'
print(ats)
# • Susikurkite skaičiaus kintamąjį arba leiskite šį skaičių įvesti
# vartotojui.

# Atlikite šiuos patikrinimus ir veiksmus:
# 1. Jei skaičius dalinasi iš 5, tuomet išveskite žodį "Labas", pakartotą tiek,
# koks yra įvestas skaičius.
# 2. Jei skaičius lyginis, tuomet išveskite šį skaičių, jo kvadratą ir
# jį padalintą iš 2.
# 3. Jei skaičius nesidalina iš 7, tuomet susikurkite antrąjį
# kintamąjį, išveskite šio skaičiaus ir 7-to sumą, skirtumą, sandaugą
a = int(input('Skaičius?'))
if a % 5 == 0:
    print('Labas'*a)
elif a % 2 == 0:
    print(a, a**2, a/2)
elif  a % 7 != 0:
    b = int(input('Skaičius?'))
    print(b*7, b+7, b-7)

Galite balsuoti
79.33333333333333
Vid. teigiamas
56 3136 28.0

In [ ]:
# • Parašyti programą, kuri paklaustų dviejų skaičių, ir juos
# palygintų.
a = int(input('Įveskite 1-mą skaičių'))
b = int(input('Įveskite 2-trą skaičių'))
ats = "a lygus b" if a == b else 'a mažiau už b' if a < b else 'a daugiau už b'
print(ats)
# • Paklausti teksto, ir patikrinti, ar tas tekstas yra sakinyje
# "Vilnius yra UNESCO paveldas nuo 1996 metų."

t = "Vilnius yra UNESCO paveldas nuo 1996 metų."
r = input('Įveskite tekstą')
if r in t: # t.count(r) > 0
    print('Yra toks tekstas')
else:
    print('nėra tokio teksto')

# • Patikrinti įvestą skaičių, ar jis yra tarp 10 ir 20. Pavyzdžiui,
# įvedus 15, turi spausdinti: "15 yra tarp 10 ir 20"

a = int(input('SK?'))
ats = f'{a} yra tarp 10 ir 20' if a > 10 and a < 20 else 'Nepateko į rėžius'
print(ats)

# • Patikrinti, ar vartotojo įvestas skaičius yra lyginis, ar ne.
# • parašyti programą 'FizzBuzz'. Įvedus skaičių, kuris dalinasi
# iš 3, spausdinamas žodis "Fizz", jei dalinasi iš 5 - "Buzz", o jei
# dalinasi ir iš 3 ir iš 5 - "FizzBuzz". Jei nesidalina nei iš 3, nei iš
# 5 - spausdinamas įvestas skaičius.

a = int(input('SK?'))
if a % 3 == 0 and a % 5 == 0:
    print('FizzBuzz')
elif  a % 3 == 0:
    pass
elif a % 5 == 0:
    pass
else:
    pass


# • Patikrinkite vartotojo įvestą tekstą:
# • Ar vartotojas apskritai ką nors įvedė? 
t = 'Įvestas tekstas'
if len(t) > 0:
    pass
if t:
    pass
# • Ar jame vien tik skaičiai? .isnumeric()
# • Ar jame vien tik raidės? .isalpha()
# • Ar jame nėra specialiųjų simbolių? .isalnum()
# • Kokiu registru parašytas tekstas? .isupper() .islower()

In [16]:
t = 'abc1478!'
if t.isalnum():
    print('raidės/skaičiai')

In [20]:
lst = ["Pašerti katiną", "Pašerti šunį", "Nupirkti pieno",  "Vilniaus įkūrimo metai", 1323]
#  lst = []
print(lst[0])
print(lst[-1])

Pašerti katiną
1323

In [141]:
lst = ["Pašerti katiną", "Pašerti šunį", "Nupirkti pieno",  "Vilniaus įkūrimo metai", 1323]
#  lst = []
print(lst[0])
print(lst[-1])
lst[-1] = "Nupirkti koldūnų"
print(lst)
len(lst)

Pašerti katiną
1323
['Pašerti katiną', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų']

5

In [22]:
print(lst)
lst[-1] = "Nupirkti koldūnų"
print(lst)

['Nupirkti koldūnų', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 1323]
['Nupirkti koldūnų', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų']

In [23]:
len(lst)

5

In [28]:
print(lst)
lst.append('Nuvažiuoti prie jūros')
print(lst)

['Nupirkti koldūnų', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros']
['Nupirkti koldūnų', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros']

In [29]:
print(lst)
lst.insert(1, 'Nuvažiuoti prie jūros')
print(lst)

['Nupirkti koldūnų', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros']
['Nupirkti koldūnų', 'Nuvažiuoti prie jūros', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros', 'Nuvažiuoti prie jūros']

In [142]:
print(lst)
lst.pop(1)
print(lst)

['Pašerti katiną', 'Pašerti šunį', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų']
['Pašerti katiną', 'Nupirkti pieno', 'Vilniaus įkūrimo metai', 'Nupirkti koldūnų']

In [33]:
lst.index('Nuvažiuoti prie jūros')

5

In [34]:
l = [1,2,3]
l2 = [4,5,6]
l.extend(l2)
print(l)

[1, 2, 3, 4, 5, 6]

In [36]:
l = [1,2,3]
l2 = [4,5,6]
ats = l2 + l
print(ats)

[4, 5, 6, 1, 2, 3]

In [41]:
txt = "Aš rytais mėgstu kavą, kakavą, arbatą, sausainius"
ats = txt.split('ą,')
print(ats)

['Aš rytais mėgstu kav', ' kakav', ' arbat', ' sausainius']

In [46]:
a = ''.join(ats)
print(a)
print(len(a), len(txt))

Aš rytais mėgstu kav kakav arbat sausainius
43 49

In [1]:
# • Leiskite vartotojui įvesti metrus. Išveskite, kiek tai gaunasi
# centimetrais, milimetrais ir kilometrais.
# • Leiskite vartotojui įvesti du norimus skaičius. Išveskite kokia
# gaunasi liekana padalinus vieną skaičių iš kito.
# • Leiskite vartotojui įvesti du skaičius. Išveskite kiek gautųsi
# vieną skaičių pakėlus kito skaičiaus laipsniu (pvz, pirmas
# skaičius eina už pagrindą, o antras skaičius yra laipsnis,
# kuriuo ir keliame).

m = int(input('metrai?'))
print(f'{m} m = {m*100} cm = {m*1000} mm = {m/1000} km')*

sk = input('sk,sk').split(',')
a,b = int(sk[0]), int(sk[1])
print(a % b)
print(a**b)

10 m = 1000 cm = 10000 mm = 0.01 km

ValueError: invalid literal for int() with base 10: 'valio valio'

In [14]:
a=int(input('ivesk sk'))
b=int(input('ivesk sk'))
print (f'a={a}, b={b}')
print ('a/b liekana yra', a%b, 'a laipsniu b =', a**b)
print('b/a liekana yra', b%a, 'a laipsniu b =', b**a)

a=12, b=1
a/b liekana yra 0 a laipsniu b = 12
b/a liekana yra 1 a laipsniu b = 1

In [20]:
print('Ivesk du skaicius atskirtus kableliu')
sk = input('sk,sk').split(',')
a,b = int(sk[0]), int(sk[1])
print('a/b liekana', a % b)
print('a pakeltas laipsniu b=', a**b)

Ivesk du skaicius atskirtus kableliu
a/b liekana 0
a pakeltas laipsniu b= 1728

In [58]:
lst = ["Python", "yra", "lengva", "programavimo", "kalba"]
# • Išveskite pirmą, paskutinį elementus
# • Išveskite kas antrą elementą
# • Išveskite priešpaskutinio elemento tipą
# • Patikrinkite, ar pirmasis sąrašo elementas yra tekstas, ir kiek
# simbolių jis turi.
print(lst[0], lst[-1], lst[1::2], type(lst[-2]), sep='\n')
if type(lst[0]) is str:
    print('tekstas, str', len(lst[0]))
txt = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą su pyragu"
# • Suskaičiuokite, kiek šiame tekste yra žodžių.
print(len(txt.split()))
# • Išveskite tekstą be kas antro žodžio
ats = ' '.join(txt.split()[::2])
print(ats)

Python
kalba
['yra', 'programavimo']
<class 'str'>
tekstas, str 6
10
Aš mėgstu su ir su

In [23]:
lst= ["Phyton5", "yra", "lengva", "programavimo", "kalba"]
print('pirmas ir paskutinie elementai yra', lst[0], lst[-1])
print ('kas antras elementas,skaiciuojant nuo pirmojo yra', lst[0: :2], 'paskutinis elementas yra', lst[-1])
print (type(lst[-2]))
if lst[0].isalpha():
    print ('pirmas elementa yra tekstas, kurio ilgis', len(lst[0]))
else:
    print ('pirmas elementas nera tekstas')

pirmas ir paskutinie elementai yra 1234 kalba
kas antras elementas,skaiciuojant nuo pirmojo yra ['1234', 'lengva', 'kalba'] kalba
<class 'str'>
pirmas elementas nera tekstas

In [33]:
txt = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą su pyragu"
print(len(txt.split()))

ats =(txt.split()[0: :2])
print( ats)

10
['Aš', 'mėgstu', 'su', 'ir', 'su']

In [34]:
txt = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą su pyragu"
print(len(txt.split()))
ats = ' '.join(txt.split()[::2])
print( ats)

10
Aš mėgstu su ir su

In [42]:
# Sąrašai gali turėti savyje bet kokį objektą, kad ir kitą sąrašą
# (sudėtinis sąrašas (nested list)).
l = ["Vilnius", 1323, ["Nupirkti maisto", "PABėgioti"], 8, "Rytas"]
# • Išveskite Vilniaus paminėjimo metus, žodį ”Vilnius”
# didžiosiomis raidėmis
# • Išveskite žodžio ”maisto” paskutines tris raides didžiosiomis.
# • Užrašykite kodą, kuris patikrintų, ar žodžio ”Pabėgioti” pirmi
# trys simboliai yra didžiosios raidės.
print(l[1], l[0].upper(), sep='\n')
print(l[2][0][-3:].upper())
if l[2][-1][:3].isupper():
    print('Taip, didžiosios')

1323
VILNIUS
STO

In [44]:
l = ["Vilnius", 1323, ["Nupirkti maisto", "pabėgioti"], 8, "Rytas"]
print (l[1])
print (l[0].upper())
print (l[2][0][-3:].upper())
if l[2][-1][:3].isupper():
    print ('zodzio pirmos raides didziosios')
else:
    print('pirmos raides mazosios')

1323
VILNIUS
STO
pirmos raides mazosios

In [50]:
sar = ['a', 'b', 'c'] #sąrašas
eil = ('a', 'b', 'c') #eilutė
sar[0] = sar[0].upper() #pakeitimas
print(sar)
eil[0] = 'a'.upper() #neveiks

['A', 'b', 'c']

TypeError: 'tuple' object does not support item assignment

In [51]:
eil[-1]

'c'

In [ ]:
a = 'ABC vldfjgfekpb sclkgpfkbg czb,kpsfkb' # string - tekstas
b = ('aadklfopisdfbg lxcbjpodfjb saf;cljkgopdfjb','bdkfnopsdfjbgmdf, bmpodfjkbfdl;kbm') # tuple - eilutė

In [64]:
l = [1,5,3,4,7]
print(l)

[1, 5, 3, 4, 7]

In [66]:
s = set(['M','A', 'B', 'C', 'C', 'C']) #iš sąrašo
print(s)

{'M', 'C', 'A', 'B'}

In [67]:
s = {'B', 'A', 'C', 'M'} #tiesiogiai
print(s)

{'M', 'B', 'A', 'C'}

In [76]:
print(s)
s.add('F')
print(s)

{'A', 'B', 'C', 'M', 'F'}
{'A', 'B', 'C', 'M', 'F'}

In [1]:
print(s)
s.remove('F')
print(s)

NameError: name 's' is not defined

In [79]:
print(s)
s.discard('F')
print(s)

{'A', 'B', 'C', 'M'}
{'A', 'B', 'C', 'M'}

In [1]:
a_set={1,2,3,4, 'a'}
b_set={1,2,3,5,6,'b'}
# • raskite sąjungą šių rinkinių;
print(a_set.union(b_set))
# • raskite, kokie elementai buvo bendri abiems rinkiniams?
print(a_set.intersection(b_set))
# • raskite, kokiais elementais skiriasi a_set nuo b_set?
print(a_set.difference(b_set))
# • pašalinkite bendrus elementus tarp a_set ir b_set, likusius
print(a_set.symmetric_difference(b_set))
# elementus išspausdinkite.
l = [1,1,2,2,3,4,5,5,5,8,8,1,2]
# • Pašalinkite pasikartojančius elementus iš šio l sąrašo.
l = list(set(l))
print(l)

{1, 2, 3, 4, 5, 6, 'b', 'a'}
{1, 2, 3}
{'a', 4}
{4, 5, 6, 'a', 'b'}
[1, 2, 3, 4, 5, 8]

In [32]:
a=float(input('skaicius?'))
b=float(input('skaicius ?'))
ats = f'{a} ir {b} yra lygus' if a == b else f'{a} mažiau už {b}' if a < b else f'{a} daugiau už {b}'
print ( ats)

-2.4 daugiau už -3.4

In [ ]:
a=int(input("skaicius?"))
ats=f'{a} lyginis' if a%2==0 else f'{a} FizBuzz' if a%3==0 and a%5==0 else f'{a} Fizz' if a%3==0 else f'{a} Buzz' if a%5==0 else 'nera nei 3 , nei 5 kartotinis'
print (ats)

In [129]:
txt= input('ivestas tekstas/n')
if len(a)==0:
    print ('niekas neivesta')
else:
   if txt.isnumeric():
      print ('tekste pateikti tik skaiciai')
   else:
      if txt.isalpha():
         print ('tekste tik raides')
         pass
         if txt.isupper():
            print ("tekstas didziosiomis")
         else:
             if txt.islower():
                 print ('tekstas mazosiomis')
             else:
                 print('tekstas parasytas ir didziosiomis, ir mazosiomis')

tekste tik raides
tekstas parasytas ir didziosiomis, ir mazosiomis

In [135]:
a=input('ivesk teksta/n')
if a.isalpha():
      print ('tekste tik raides')
else:
    if a.isnumeric():
        print('tekste tik skaiciai') 
    else:
        print( 'tekste skaiciai ir raides')

tekste skaiciai ir raides

In [138]:
a = 5>7
print (not a)

True

In [139]:
s = 'A'
lst = []
dct = {}
sets = set()
flt = 1.0
intgr = 7
tpl = (7,)
print(type(s), type(s) is str)
print(type(lst), type(lst) is list)
print(type(dct), type(dct) is dict)
print(type(sets), type(sets) is set)
print(type(flt), type(flt) is float)
print(type(intgr), type(intgr) is int)
print(type(tpl), type(tpl) is tuple)/

<class 'str'> True
<class 'list'> True
<class 'dict'> True
<class 'set'> True
<class 'float'> True
<class 'int'> True
<class 'tuple'> True

In [10]:
a_set={1,2,3,4, 'a'}
b_set={1,2,3,5,6,'b'}
print (a_set, b_set, sep="\n")
# • raskite sąjungą šių rinkinių;
print(a_set.union(b_set))
# • raskite, kokie elementai buvo bendri abiems rinkiniams?
print(a_set.intersection(b_set))
-0
print(a_set.difference(b_set))
# • pašalinkite bendrus elementus tarp a_set ir b_set, likusius
print(a_set.symmetric_difference(b_set))
# elementus išspausdinkite.

{'a', 1, 2, 3, 4}
{1, 2, 3, 'b', 5, 6}
{'a', 1, 2, 3, 4, 'b', 5, 6}
{1, 2, 3}
{'a', 4}
{'a', 'b', 5, 6, 4}

In [11]:
l = set( [1,1,2,2,3,4,5,5,5,8,8,1,2])
# • Pašalinkite pasikartojančius elementus iš šio l sąrašo.
print (l)

{1, 2, 3, 4, 5, 8}