In [1]:
print('04 paskaita')

04 paskaita

In [30]:
d = {} # set() - jei norima turėti set'ą, o jei {} -
# tai žodynas
d = {'Saulė':'Žvaigždė', 'Vilnius':'Lietuvos sostinė'}
print(d)

{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė'}

In [7]:
ats = d['Vilnius']
print(ats)

Lietuvos sostinė

In [31]:
print(d)
d['Palanga'] = 'Kurortas'
print(d)

{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė'}
{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė', 'Palanga': 'Kurortas'}

In [9]:
print(d)
d['Vilnius'] = 'Tikrai ne kurortas'
print(d)

{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė', 'Palanga': 'Kurortas'}
{'Saulė': 'Žvaigždė', 'Vilnius': 'Tikrai ne kurortas', 'Palanga': 'Kurortas'}

In [10]:
ats = d['Vilnius']
ats2 = d.get('Vilnius')
print(ats, ats2)

Tikrai ne kurortas Tikrai ne kurortas

In [12]:
d.get('Kaunas', -1)

-1

In [32]:
print(d)
d1 = {'Palanga':2024, 'Vilnius':'Lietuvos sostinė', 'Kaunas':'Laikinoj sostinė'}
d.update(d1)
print(d)

{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė', 'Palanga': 'Kurortas'}
{'Saulė': 'Žvaigždė', 'Vilnius': 'Lietuvos sostinė', 'Palanga': 2024, 'Kaunas': 'Laikinoj sostinė'}

In [14]:
d.keys()

dict_keys(['Saulė', 'Vilnius', 'Palanga', 'Kaunas'])

In [15]:
d.values()

dict_values(['Žvaigždė', 'Lietuvos sostinė', 2024, 'Laikinoj sostinė'])

In [16]:
d.items()

dict_items([('Saulė', 'Žvaigždė'), ('Vilnius', 'Lietuvos sostinė'), ('Palanga', 2024), ('Kaunas', 'Laikinoj sostinė')])

In [18]:
if 'Vilnius' in d:
    print("'go' raktažodis yra žodyne")
else:
    print('Tokio raktažodžio nėra')

'go' raktažodis yra žodyne

In [19]:
if 'Lietuvos sostinė' in d.values():
    print('ok')

ok

In [20]:
# Paskaičiuoti pelną pardavus visas prekes. Informacija apie kainą
# ir kiekius yra pateikiama kaip žodynai (dictionary):
d1 = {"cost_price": 32.67,
"sell_price": 45.00,
"inventory": 1200}
d2 = {"cost_price": 225.89,
"sell_price": 550.00,
"inventory": 100}
d3 = {"cost_price": 2.77,
"sell_price": 7.95,
"inventory": 8500}

p1=(d1['sell_price']-d1['cost_price'])*d1['inventory']
p2=(d2['sell_price']-d2['cost_price'])*d2['inventory']
p3=(d3['sell_price']-d3['cost_price'])*d3['inventory']
print(p1+p2+p3)

91237.0

In [24]:
d = {}
d['Vilnius'] = 'Sostinė' # vertė, value taptų [], listu
print(d)

d = {}
d['Vilnius'] = ['Sostinė'] # vertė, value taptų [], listu
v = d['Vilnius']
v.append('Didelis miestas')
d['Vilnius'] = v
print(d)

d = {}
d['Vilnius'] = 'Sostinė' # vertė, value taptų [], listu
v = d['Vilnius']
v = v + ' didelis miestas'
d['Vilnius'] = v
print(d)

{'Vilnius': 'Sostinė'}
{'Vilnius': ['Sostinė', 'Didelis miestas']}
{'Vilnius': 'Sostinė didelis miestas'}

In [25]:
s = [1,2,3]

for si in s:
    print(si)

1
2
3

In [27]:
for skaicius in range(0,10,2):
    print(skaicius)

0
2
4
6
8

In [28]:
vardu_sarasas = ['Jonas', 'Petras', 'Ona', 'Agota']
for vardas in vardu_sarasas:
    print(vardas)

Jonas
Petras
Ona
Agota

In [29]:
txt = "sako, kad Delfi.lt yra populiariausias portalas."
for letter in txt:
    print(letter)

s
a
k
o
,

k
a
d

D
e
l
f
i
.
l
t

y
r
a

p
o
p
u
l
i
a
r
i
a
u
s
i
a
s

p
o
r
t
a
l
a
s
.

In [34]:
for k in d.keys():
    print(k)

Saulė
Vilnius
Palanga
Kaunas

In [35]:
for v in d.values():
    print(v)

Žvaigždė
Lietuvos sostinė
2024
Laikinoj sostinė

In [36]:
for key, value in d.items():
    print(key, value)

Saulė Žvaigždė
Vilnius Lietuvos sostinė
Palanga 2024
Kaunas Laikinoj sostinė

In [39]:
s = ['a','b', 'b','b','c']

for pozicija, elementas in enumerate(s):
    print(pozicija, elementas)

0 a
1 b
2 b
3 b
4 c

In [43]:
s = [1,2,3,4,5,6]
f = [4,5,6]
c = []
for si, fi in zip(s,f):
    c.append(si*fi)
print(c) # ctrl /

ValueError: zip() argument 2 is shorter than argument 1