In [1]:
print('05 paskaita')

05 paskaita

In [3]:
# 1.0.26 Duotas sąrašas su žodynais.
cl = [{'Modelis':'WV', 'rida':25000},
      {'Modelis':'Audi', 'rida':36000},
      {'Modelis':'Ford','rida':42000},
      {'Modelis':'Toyota', 'rida':75000},
      {'Modelis':'Nissan', 'rida':75000}]
# Parašykite komandą, kuri išvestų automobilių ridas (vienam automobiliui vienas print()sakinys).
# Parašykite ciklą, išvedantį automobilių ridas.
# Parašykite kodą, surandantį daugiausiai ir mažiausiai nuvažiavusius automobilius.
r = []
for m in cl:
    r.append(m['rida'])

mn = min(r) # min, max
mx = max(r)
 #?
for m in cl:
    if m['rida'] == mn:
        print(m['Modelis'], 'mažiausiai nuvažiavęs')
    if m['rida'] == mx:
        print(m['Modelis'], 'daugiausiai nuvažiavęs')

WV mažiausiai nuvažiavęs
Toyota daugiausiai nuvažiavęs
Nissan daugiausiai nuvažiavęs

In [6]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [9]:
k = 0
while k < len(a):
    print(a[k])
    k = k + 1

1
2
3
4
5

In [18]:
quit = False
while not quit:
    print('Amžinas ciklas')
    print('jei norite nutraukti, įveskite Q simbolį')
    s = input('Q?')
    if s.lower() == 'q':
        quit = True

Amžinas ciklas
jei norite nutraukti, įveskite Q simbolį

In [13]:
for i in range(0,11):
    if i == 5:
        continue
    if i == 7:
        break
    print(i)

0
1
2
3
4
6

In [16]:
for i in ['Jonas', 'Petras', 'Ona']:
    if i == 'Petras':
        break
    print(f'Labas, {i}')
else:
    print('Su visais pasisveikinta')

Labas, Jonas

In [26]:
a = [-5,-1,0, '5',1,5]
for i in a:
    try:
        print(5/i)    
    except ZeroDivisionError as ex:
        print(ex)
    except TypeError as ex:
        print('Neteisingi duomenys')
    except Exception as ex:
        print(ex)

-1.0
-5.0
division by zero
Neteisingi duomenys
5.0
1.0

In [31]:
try:
    A = float(input('A?'))
    B = float(input('B?'))
    m = input('+-/*?')
    if m == '+':
        print(A+B)
    if m == '/':
        try:
            print(A/B)
        except ZeroDivisionError as ex:
            print(ex, 'Dalyba iš nulio negalima')
except ValueError as ex:
    print(ex, 'Įvesti neteisingi duomenys')
else:
    print('Matematika suveikė')
finally:
    print('Demo pabaiga')

15.0
Matematika suveikė
Demo pabaiga

In [32]:
def useless():
    pass

In [33]:
useless()

In [34]:
def fprint(arg):
    print('Šiai funkcijai buvo nurodytai tai', arg)

In [36]:
fprint(25)

Šiai funkcijai buvo nurodytai tai 25

In [37]:
fprint('labas')

Šiai funkcijai buvo nurodytai tai labas

In [39]:
def fn(par1, par2, par3):
    print(par3, par2, par1)


fn(par3='A',par1='b',par2='c')

A c b

In [41]:
def fn(par1, par2, par3='F'):
    print(par3, par2, par1)
    

fn('A', 'b', 'D')

D b A

In [42]:
def suma(x,y):
    print(x+y)

suma(2,2)

4

In [43]:
ats = suma(2,2)

4

In [44]:
print(ats)

None

In [45]:
def suma(x,y):
    return x+y

In [46]:
ats = suma(2,2)

In [47]:
print(ats)

4

In [ ]:
def v(x):
    ats = None
    if x:
        ats = x
    else:
        ats = -42
    return ats

In [52]:
def v(x):
    if x:
        return 42
    else:
        return -42
v('')

-42

In [53]:
def pvm(kaina, tarifas=21):
    return kaina*tarifas/100

ats = pvm(100)
print(ats)

21.0

In [ ]:
#  29-ta užduotis
def word_count(t):
    return len(t.split())

def word_counter(t):
    return t.count(' ')+1

In [55]:
# 27,28

def n(sk, n=2):
    return sk ** n # **(1/n)

n(10,5)

100000