In [12]:
# x = [*range(10)]
# sukurkite naują sąrašą, kuriame x elemntai būtų pakdauginti iš jūsų įvesto skaičiaus
x = [*range(10)]
a = int(input('Iveskite skaiciu:'))

b = [i * a for i in x]

print(b)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [18]:
# ('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
# sukurkite sąrašą, kuriame būtų duoti tekstai paversti į skaičius (float) tipo.
x = ('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')

# skaiciai = [float() for c in x]

# print(skaiciai)

skaiciai = [float(c.replace(" ","")) for c in x]

print (skaiciai)
print(list(skaiciai))

[19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]
[19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]

In [26]:
# ('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')
# sukurkite sąrašą, kur būtų pirmi 3 simboliai gamintojų, didžiosiomis raidėmis

a = ('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')

print (a)

print (list(a))

nauji_pavadinimai = [i[:3] for i in a]

print(nauji_pavadinimai)

('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')
['BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen']
['BMW', 'Mit', 'Sea', 'Sko', 'Vol', 'Aud', 'Dac', 'Sko', 'BMW', 'Vol']

In [62]:
# ('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')
# Atskirkite į tris sąrašus tūrį, AG ir kW.
# parašykite funkciją, kuri grąžintų vidurkį, jei jūs jai nurodote skaičių sąrašą (list) arba eilutę (tuple)

a = ('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')

sarasas1 = [i.split()[0] for i in a]

sarasas2 = [i.split(", ")[1].split()[0] for i in a]

sarasas3 = [i.split(", ")[1].split()[2] for i in a]

# sarasas3 = [i.split("(") for i in a]

print(sarasas1)
print(sarasas2)
print(sarasas3)
# print(sarasas3)

['4999', '2378', '1598', '1798', '1969', '1760', '1461', '1600', '2000', '1600']
['507', '160', '95', '179', '235', '88', '107', '116', '163', '120']
[['4999 cm³, 507 AG ', '373kW)'], ['2378 cm³, 160 AG ', '118kW)'], ['1598 cm³, 95 AG ', '70kW)'], ['1798 cm³, 179 AG ', '132kW)'], ['1969 cm³, 235 AG ', '173kW)'], ['1760 cm³, 88 AG ', '65kW)'], ['1461 cm³, 107 AG ', '79kW)'], ['1600 cm³, 116 AG ', '85kW)'], ['2000 cm³, 163 AG ', '120kW)'], ['1600 cm³, 120 AG ', '88kW)']]

In [73]:
# 5) parašykite funkciją, kuri grąžintų vidurkį, jei jūs jai nurodote skaičių sąrašą (list) arba eilutę (tuple)

a = int(input("iveskite skaicius: "))
b = int(input("iveskite kita skaiciu: "))
c = int(input("iveskite paskutini skaiciu:"))

sarasas = [a, b, c]

print(sarasas)

def vidurkis(sarasas):
        vidurkis2 = sum(sarasas) / len(sarasas)
        return vidurkis2

rezultatas = vidurkis(sarasas)
print(rezultatas)

[4, 6, 55]
21.666666666666668

In [85]:
# 6)
# t = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo architektūros objekte – Lietuvos banko Kauno rūmuose į muzikos meditaciją pakvies vokalinis ansamblis „Duodeco“. Pirmą kartą Pažaislio muzikos festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m. suburtas kolektyvas festivalio publikai pristatys muzikinę programą „More Sweet Than My Refrain“.'''
# # SUkurkite sąrašą, kuriame būtų šio teksto žodžių ilgiai.

originalus_tekstas = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo architektūros objekte – Lietuvos banko Kauno rūmuose į muzikos meditaciją pakvies vokalinis ansamblis „Duodeco“. Pirmą kartą Pažaislio muzikos festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m. suburtas kolektyvas festivalio publikai pristatys muzikinę programą „More Sweet Than My Refrain“.'''

t2 = originalus_tekstas.split()
print(t2)

saraso_ilgis = len(t2)

print(saraso_ilgis)

naujas_sarasas = []

for i in t2:
    simboliai = len(i)
    naujas_sarasas.append(simboliai) 

print(naujas_sarasas)

['Liepos', '19', 'd.', 'UNESCO', 'pasaulio', 'paveldu', 'tapusiame', 'Kauno', 'modernizmo', 'architektūros', 'objekte', '–', 'Lietuvos', 'banko', 'Kauno', 'rūmuose', 'į', 'muzikos', 'meditaciją', 'pakvies', 'vokalinis', 'ansamblis', '„Duodeco“.', 'Pirmą', 'kartą', 'Pažaislio', 'muzikos', 'festivalis', 'rengia', 'koncertą', 'šioje', 'nepaprastoje', 'erdvėje,', 'kurioje', '2019', 'm.', 'suburtas', 'kolektyvas', 'festivalio', 'publikai', 'pristatys', 'muzikinę', 'programą', '„More', 'Sweet', 'Than', 'My', 'Refrain“.']
48
[6, 2, 2, 6, 8, 7, 9, 5, 10, 13, 7, 1, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 10, 5, 5, 9, 7, 10, 6, 8, 5, 12, 8, 7, 4, 2, 8, 10, 10, 8, 9, 8, 8, 5, 5, 4, 2, 9]

In [87]:
# 7)
# fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
# Parašykite kodą, kuris sugeneruotų sąrašą, su žodžiais 'Rytas', jei skaičius fx sąraše yra tarp 6 ir 10, diena, jei tarp 10 ir 18, vakaras jei tarp 18 ir 22, ir naktis kitais atvejais.

fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]

print(fx)

for i in fx: 
    if 6 < i < 10:
        fx[i] = 'Rytas'
        
print (fx)

[23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
[23, 15, 19, 12, 4, 16, 17, 'Rytas', 2, 'Rytas', 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
[4, 6, 55]

In [ ]:
# 8)
# duomenys: [('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
# parašyti funkciją, kuri juos spausdintų tokiu vaizdu:

In [ ]:
# 9)
# parašykite funkcjas suma(), skirtumas(), sandauga(), dalyba(), kurioms jūs galėtumėte nurodyti skaičių sąrašą x, ir vieną sakičių d, ir tos funkcijos grąžintų naują sąrašą, su skaičiais iš x sąrašo su atitinkmai atliktu veiksmu - pridėtu d, atimtu d, padaugintu iš d.
# def suma(x, d):
#     veiksmai, kad gautumėte naują sąrašą kur x+d
#     return naujas sąrašas

In [93]:
#darbas su failais

failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode='r', encoding = 'utf-8')

turinys = failas.readlines()

failas.close()

print(turinys)

['1,2\n', '3,4\n', '5,6\n', '7,8\n', '\n']

In [115]:
failo_vardas = 'f2.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

xsar = []
ysar=[]
turinys = failas.readlines()

for eil in turinys:
    x, y = eil.strip().split(',')
    xsar.append(float(x))
    ysar.append(float(y))
    
xvid = sum(xsar) / len(xsar)


failas.close()

print(turinys)
print(sarasas)
print(xvid)

['1.25,2.28\n', '3.33,4.421\n', '5,6.67\n', '7,8.01']
['1.25', '3.33', '5', '7']
4.145

In [8]:
# parašykite funkciją, kuriai galėtumėte nurodyti tris skaičius - elemnetų kiekį (ilgį), ribas nuo, iki, ir ta funkcija grąžintų sąrašą, nurodyto ilgio, atsitiktiniais skaičiais užpildytą.
# parašyti funkciją, kuri grąžintų nurodyto ilgio sąrašą, užpildytą skaičiais tarp 0 ir 1

import random 

def sarasas(elementai, nuo, iki):
    return [random.randint(nuo, iki) for i in range(elementai)]

rezultatas = sarasas(3, 1, 10)

print(rezultatas)

[8, 5, 4]

In [9]:
# parašyti funkciją, kuri grąžintų nurodyto ilgio sąrašą, užpildytą skaičiais tarp 0 ir 1

import random 

def sarasas(elementai):
    return [random.random() for i in range(elementai) ]

rezultatas = sarasas(4,8,9)

print(rezultatas)

TypeError: sarasas() takes 1 positional argument but 3 were given

In [ ]:
# parašyti su amžinu while ciklu skaičių spėliojimo žaidimą. Sugeneruojamas skaičius tarp 1 ir 10, vartotojas įveda spėjimą. Programa pasako, ar įvestas skaičius yra mažesnis, ar didesnis už sugeneruotą skaičių. Programa nutrūksta, kai atspėjamas skaičius. Papildykite kodu, kuris parašytų, iš kelinto karto buvo atspėtas skaičius.

In [ ]:
# 5. Parašyti funkciją, kurioje sugeneruojamos dvi skaičių sekos
# (jos gali būti skirtingo dydžio), programa turi grąžinti sąrašą
# skaičių, kurie sutampa tarp dviejų sugeneruotu sąrašų,
# galutiniame sąraše neturi būti skaičių dublikatų. PVZ: x =[1, 1,
# 2, 3, 1] y = [1, 3, 5, 6] atsakymas = [1,3]