In [ ]:
# šie du kodai yra naudotini
# tik tada, jei turite savo apsirašytų funkcijų
# išoriniame (.py) faile

In [6]:
%reload_ext autoreload
%autoreload 2

In [ ]:
# pip install mysql-connector-python==8.0.29

In [7]:
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector as cnt

# nuosavų funkcijų importavimas:
from manoFunkcijos import *

In [8]:
DB = cnt.connect(
    host='88.223.121.130',
    port=3306,
    user='user',
    password = 'slaptazodis',
    database = 'works'
)
C = DB.cursor()

In [14]:
#sql užklausos vykdymas per mysql/mariadb kursorių
sql="""select *, C/(select count(*) from sa)*100 as '%' from
(select * from
(select device_brand as B, count(*) as C
from sa
where device_brand != ''
group by device_brand
order by C desc
limit 5) as T1
union all
select 'Others', count(*) as C
from sa
where device_brand not in
(select B from (select device_brand as B, count(*) as C
from sa
where device_brand != ''
group by device_brand
order by C desc
limit 5) as T2)) as T3;"""
C.execute(sql)
ans = C.fetchall()
gamintojai, kiekiai, dalis = list(map(list, zip(*ans)))
#? = np.transpose(ans)

In [22]:
pout(ans,6)

| 0 |    Samsung     |     36290      |    30.4927     |
| 1 |     Nokia      |     35186      |    29.5651     |
| 2 |   BlackBerry   |      7161      |     6.0170     |
| 3 |       LG       |      5194      |     4.3643     |
| 4 |  SonyEricsson  |      4090      |     3.4366     |
| 5 |     Others     |     31091      |    26.1243     |

In [13]:
print(gamintojai)

['Samsung', 'Nokia', 'BlackBerry', 'LG', 'SonyEricsson', 'Others']