In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [13]:
# atrinkti 10 populiariausių gamintojų iš 
# autopliuslt, pateikti tokius stulpelius - gamintojas, vidutinė kaina, vidutinė rida, 
# vidutinis amžius, modelių kiekis. Gautus rezultatus surašyti į SQLite duomebazę, 
# pavadinimu "Testas.db", lentelės pavadinimas kokį sugalvosite. Viską turi atlikti python kodas. 
# PANDAS NEGALIMA NAUDOTI, viską atlikite per cursor() objektus.

In [14]:
#prisijungimas prie mySQL, ir kursoriaus sukūrimas
DB = cnt.connect(
    host = '88.223.121.130',
    user='user',
    password='slaptazodis',
    port=3306,
    database='works'
    )
C=DB.cursor()


SDB = sqlite3.connect('Testas.db')
SC = SDB.cursor()

In [15]:
#  lentelės pasiėmimas:
#sql užklausos vykdymas per mysql/mariadb kursorių
sql="""
select G, cast(avg(P) as float), cast(avg(R) as float), cast(avg(A) as float), count(*) as C from
(select gamintojas as G, cast(replace(price, ' ','') as int) as P,
cast(replace(rida, ' ','') as int) as R, 
2024 - cast(substring(pagaminimo_data, 1,4) as int) as A
from autopliuslt) as T1
group by G
order by C desc limit 10;
"""
C.execute(sql)
ans = C.fetchall()
# ? = list(map(list, zip(*ans)))
#? = np.transpose(ans)

print(ans)

[('BMW', 10652.1, 260654.0, 15.2219, 365), ('Volkswagen', 6190.71, 237651.0, 15.7903, 310), ('Audi', 8447.67, 241376.0, 16.7665, 227), ('Mercedes-Benz', 15080.3, 261259.0, 15.1864, 177), ('Toyota', 8712.73, 201755.0, 14.6039, 154), ('Volvo', 7847.71, 278037.0, 15.3116, 138), ('Opel', 4005.84, 226788.0, 16.3209, 134), ('Ford', 5592.4, 225685.0, 14.8818, 110), ('Peugeot', 6748.5, 205881.0, 13.4103, 78), ('Skoda', 10808.3, 181196.0, 10.7703, 74)]

In [16]:
sql_table = '''
create table if not exists TAuto
(
    G text not null,
    P real not null,
    R real not null,
    A real not null,
    C real not null
    
)
'''
SC.execute(sql_table)

sql_template = '''insert into TAuto values (?,?,?,?,?)'''

SC.executemany(sql_template, ans)

SDB.commit()
SDB.close()

In [ ]:
# pandas ir JSON:

#  https://data.gov.lt/datasets/509/

# nuskaitykite JSON failą -  2023 metus

# konvertuokite dataLaikas stulpelį į datetime
#  pd.to_datetime(df[stulpelis])

# pridėkite naują stulpelį su paros laikais (rytas, vakaras ...)
# pridėkite naują stulplelį, kur būtų tik įvykio valanda
# Vizualizuokite, kuriuo paros laiku, kurią valandą įvyksta daugiausiai eismo įvykių

# sekantiems klausimams patys sugalvojate tinkamiausias vizualizacijas
# Vyrų ar moterų buvo daugiau, sukėlusių eismo įvykį? (stulpelis eismoEalyviai)
#  koks vidutinis kaltininkų amžius?
# Kokiomis baudų rūšimis buvo nubausti vyrai/moterys (administracinė, baudžiamoji) (teisenosStadijaBusena)

In [21]:
df = pd.read_json('../DATA/ei_2023_12_31.json')
df.head(1)

,registrokodas,dataLaikas,registravimoData,paskutinioRedagavimoLaikas,iskaitinis,rusis,schema1,schema2,dalyviuSkaicius,zuvusiuSkaicius,...,kelioElementas2,privalomasLeistinasGreitis,leistinasGreitis,neblaivusKaltininkai,apsvaigeKaltininkai,atsisakeTikrintisKaltininkai,ilguma,platuma,eismoDalyviai,eismoTranspPreimone
0,07-23-9588945,2023-01-01 00:27,2023-01-01 01:04,2023-03-31 12:14,0,Kiti eismo įvykiai,Kiti eismo įvykiai,Kiti eismo įvykiai,2,0,...,None,1,40.0,Ne,Ne,Ne,6063990.0,579292.0,"[{'dalyvisId': 48690423, 'kategorija': 'Kiti',...","[{'tpId': 33646065, 'regValstybe': 'Lietuva', ..."

In [22]:
df['dataLaikas'] = pd.to_datetime(df['dataLaikas'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24240 entries, 0 to 24239
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   registrokodas                 24240 non-null  object
 1   dataLaikas                    24240 non-null  datetime64[ns]
 2   registravimoData              24240 non-null  object
 3   paskutinioRedagavimoLaikas    24240 non-null  object
 4   iskaitinis                    24240 non-null  int64
 5   rusis                         24240 non-null  object
 6   schema1                       24240 non-null  object
 7   schema2                       24240 non-null  object
 8   dalyviuSkaicius               24240 non-null  int64
 9   zuvusiuSkaicius               24240 non-null  int64
 10  zuvVaiku                      24240 non-null  int64
 11  suzeistuSkaicius              24240 non-null  int64
 12  suzeistaVaiku                 24240 non-null  int64
 13  tpSkaicius                    24240 non-null  int64
 14  policijosTpSkaicius           79 non-null     float64
 15  apgadintuTpSkaicius           23423 non-null  float64
 16  apgadintuPolicijosTpSkaicius  67 non-null     float64
 17  policijosIstaigaL1            24240 non-null  object
 18  policijosIstaigaL2            2586 non-null   object
 19  iforminusiIstaigaL1           18689 non-null  object
 20  iforminusiIstaigaL2           1096 non-null   object
 21  ivykioVieta                   24240 non-null  object
 22  vietosSavivaldybeTipas        24073 non-null  object
 23  savivaldybe                   24240 non-null  object
 24  gatve                         18437 non-null  object
 25  namas                         12293 non-null  object
 26  kitaGatveSankryzoje           2143 non-null   object
 27  kelioPavadinimas              6335 non-null   object
 28  kelioReiksme                  6940 non-null   object
 29  atstumas                      6173 non-null   float64
 30  dangosRusis                   24240 non-null  object
 31  dangosBukle                   24240 non-null  object
 32  parosMetas                    24240 non-null  object
 33  kelioApsvietimas              6978 non-null   object
 34  meteoSalygos                  24240 non-null  object
 35  kitosOroSalygos               24240 non-null  object
 36  kelioGatvesKreive             24240 non-null  object
 37  nuliamentisVeiksnys           722 non-null    object
 38  kitiNuliamentysVeiksniai      24240 non-null  object
 39  atitvarai                     24236 non-null  object
 40  sankryzosTipas                2452 non-null   object
 41  kelioElementas1               1290 non-null   object
 42  kelioElementas2               61 non-null     object
 43  privalomasLeistinasGreitis    24240 non-null  int64
 44  leistinasGreitis              24236 non-null  float64
 45  neblaivusKaltininkai          24240 non-null  object
 46  apsvaigeKaltininkai           24240 non-null  object
 47  atsisakeTikrintisKaltininkai  24240 non-null  object
 48  ilguma                        24224 non-null  float64
 49  platuma                       24223 non-null  float64
 50  eismoDalyviai                 24240 non-null  object
 51  eismoTranspPreimone           24240 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(8), object(36)
memory usage: 9.6+ MB