In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import requests
# import sqlite3
# import mysql.connector as cnt
# import plotly.express as px

In [3]:
url = 'https://api.meteo.lt/v1/stations'

page = requests.get(url)
status = page.status_code
print(status)

200

In [6]:
r = page.json()
print(type(r))

<class 'list'>

In [8]:
df = pd.DataFrame(data=r)
df.head(15)

,code,name,coordinates
0,akmenes-ams,Akmenės AMS,"{'latitude': 56.24992, 'longitude': 22.73081}"
1,alytaus-ams,Alytaus AMS,"{'latitude': 54.412435, 'longitude': 24.063274}"
2,anyksciu-ams,Anykščių AMS,"{'latitude': 55.51735, 'longitude': 25.1178}"
3,birstono-ams,Birštono AMS,"{'latitude': 54.603217, 'longitude': 24.035802}"
4,birzu-ams,Biržų AMS,"{'latitude': 56.193191, 'longitude': 24.774184}"
5,dotnuvos-ams,Dotnuvos AMS,"{'latitude': 55.395993, 'longitude': 23.866224}"
6,druskininku-ams,Druskininkų AMS,"{'latitude': 54.018202, 'longitude': 23.980791}"
7,duksto-ams,Dūkšto AMS,"{'latitude': 55.517856, 'longitude': 26.31614}"
8,elektrenu-ams,Elektrėnų AMS,"{'latitude': 54.786161, 'longitude': 24.689854}"
9,jonavos-ams,Jonavos AMS,"{'latitude': 55.06913, 'longitude': 24.277147}"
10,joniskio-ams,Joniškio AMS,"{'latitude': 56.246354, 'longitude': 23.630755}"
11,jurbarko-ams,Jurbarko AMS,"{'latitude': 55.094064, 'longitude': 22.773518}"
12,kaisiadoriu-ams,Kaišiadorių AMS,"{'latitude': 54.856942, 'longitude': 24.437842}"
13,kalvarijos-ams,Kalvarijos AMS,"{'latitude': 54.421564, 'longitude': 23.216806}"
14,kauno-ams,Kauno AMS,"{'latitude': 54.88396, 'longitude': 23.83588}"

In [ ]:
# raskite meteo stotelę, kuri užfiksavo didžiausią oro temperatūrą esamuoju metu.

In [10]:
df.iloc[-1, 0]

'zarasu-ams'