In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import requests
# import sqlite3
# import mysql.connector as cnt
# import plotly.express as px

print('Paskaita nr. 38, 2024-10-07')
print('Pasiruošta',dt.datetime.now())

Paskaita nr. 38, 2024-10-07
Pasiruošta 2024-10-07 20:43:55.112808

In [7]:
url = 'https://api.meteo.lt/v1/stations'
page = requests.get(url)
print(page.status_code)

r = page.json()
print(type(r))

200
<class 'list'>

In [10]:
df = pd.DataFrame(data=r)
df.head(5)

           code          name                                      coordinates
0   akmenes-ams   Akmenės AMS    {'latitude': 56.24992, 'longitude': 22.73081}
1   alytaus-ams   Alytaus AMS  {'latitude': 54.412435, 'longitude': 24.063274}
2  anyksciu-ams  Anykščių AMS     {'latitude': 55.51735, 'longitude': 25.1178}
3  birstono-ams  Birštono AMS  {'latitude': 54.603217, 'longitude': 24.035802}
4     birzu-ams     Biržų AMS  {'latitude': 56.193191, 'longitude': 24.774184}