In [31]:
print('Nauja tema. AdventureWorks2022')
# https://www.dbdiagrams.com/sql-server/sql-server-adventureworks-diagram/

# Šis failas:
# /home/administratorius/git/python_kursai/ DataScienceNotebooks/Studentai/MykolasOK/*.ipynb
# Duomenų šaltiniai:
# /home/administratorius/git/python_kursai/ DataScienceNotebooks/DATA/*
# /home/administratorius/git/python_kursai/ gautiDuomenys/AdventureWorks2022/
# /home/administratorius/git/python_kursai/ gAdwentureWorks2022.db

Nauja tema. AdventureWorks2022

In [37]:
import sqlite3
import pandas as pd
import sys
import os

db_path = '../../../gautiDuomenys/AdventureWorks2022/AdventureWorks2022.db'

if os.path.exists(db_path):
    print(f"Duomenys imami iš failo '{db_path}'")
else:
    sys.exit(f"Failo '{db_path}' nerasta!")

conn = sqlite3.connect(db_path)

query = '''
SELECT 
    date(SOH.OrderDate) AS OrderDate, 
    CAST(SOH.SalesPersonID AS INTEGER) AS SalesPersonID, 
    SOH.OnlineOrderFlag, 
    ST.TerritoryID AS ST_TerritoryID, 
    ST.Name AS ST_Name, 
    ST.CountryRegionCode AS ST_CRC, 
    ST."Group" AS ST_Group, 
    CR.Name AS CR_Name, 
    SP.TerritoryID AS SP_TerritoryID
FROM "Sales/SalesOrderHeader" AS SOH
LEFT JOIN "Sales/SalesTerritory" AS ST ON SOH.TerritoryID = ST.TerritoryID
LEFT JOIN "Person/CountryRegion" AS CR ON ST.CountryRegionCode = CR.CountryRegionCode
LEFT JOIN "Sales/SalesPerson" AS SP ON SOH.SalesPersonID = SP.BusinessEntityID;
'''

df = pd.read_sql_query(query,conn)

print('Length:', len(df))
df.head()

Duomenys imami iš failo '../../../gautiDuomenys/AdventureWorks2022/AdventureWorks2022.db'
Length: 31465

,OrderDate,SalesPersonID,OnlineOrderFlag,ST_TerritoryID,ST_Name,ST_CRC,ST_Group,CR_Name,SP_TerritoryID
0,2011-05-31,279.0,0,5,Southeast,US,North America,United States,5.0
1,2011-05-31,279.0,0,5,Southeast,US,North America,United States,5.0
2,2011-05-31,282.0,0,6,Canada,CA,North America,Canada,6.0
3,2011-05-31,282.0,0,6,Canada,CA,North America,Canada,6.0
4,2011-05-31,276.0,0,4,Southwest,US,North America,United States,4.0

In [26]:
# Tikriname, ar failas egzistuoja

import os
f_path = '../../../gautiDuomenys/AdventureWorks2022/AdventureWorks2022.db'
# f_path = '../../../AdwentureWorks2022.db'
if os.path.exists(f_path):
    print(f"Failas '{f_path}' egzistuoja.")
else:
    print(f"Failo '{f_path}' nerasta !!!")

Failas '../../../gautiDuomenys/AdventureWorks2022/AdventureWorks2022.db' egzistuoja.

In [ ]:
# AdwentureWorks2022

# -- Bendras kasmėnesinis pardavimų skaičius? (lentelė: SalesOrderHeader)

# select OrderDate, TerritoryID from `Sales/SalesOrderHeader`

# -- Mėnesiniai pardavimai pagal šalį (SalesOrderHeader, SalesTerritory, CountryRegion)

# SELECT SOH.OrderDate, SOH.TerritoryID, ST.Name, ST.CountryRegionCode, ST."Group" AS TerritoryGroup, CR.Name
# FROM "Sales/SalesOrderHeader" AS SOH
# JOIN "Sales/SalesTerritory" AS ST ON SOH.TerritoryID = ST.TerritoryID
# JOIN "Person/CountryRegion" AS CR ON ST.CountryRegionCode = CR.CountryRegionCode;

# -- Kurios parduotuvės pasirodo geriausiai? (SalesOrderHeader, Store)

SELECT SOH.OrderDate, SOH.TerritoryID, ST.Name AS AT_Name, ST.CountryRegionCode, ST."Group" AS ST_Group, 
CR.Name AS CR_Name, SOH.SalesPersonID, SOH.OnlineOrderFlag
FROM "Sales/SalesOrderHeader" AS SOH
JOIN "Sales/SalesTerritory" AS ST ON SOH.TerritoryID = ST.TerritoryID
JOIN "Person/CountryRegion" AS CR ON ST.CountryRegionCode = CR.CountryRegionCode
JOIN "Sales/Store" AS Store ON SOH.SalesPersonID = Store.SalesPersonID;

# -- Palyginkite Online versus Store pagal Sales count ir Revenue: 
# -- (SalesOrderHeader, , jei OnlineOrderFlag = 1, tai čia Online užsakymas.

SELECT 
    date(SOH.OrderDate) AS OrderDate, 
    CAST(SOH.SalesPersonID AS INTEGER) AS SalesPersonID, 
    SOH.OnlineOrderFlag, 
    ST.TerritoryID AS ST_TerritoryID, 
    ST.Name AS ST_Name, 
    ST.CountryRegionCode AS ST_CRC, 
    ST."Group" AS ST_Group, 
    CR.Name AS ST_Name, 
    SP.TerritoryID AS SP_TerritoryID
FROM "Sales/SalesOrderHeader" AS SOH
LEFT JOIN "Sales/SalesTerritory" AS ST ON SOH.TerritoryID = ST.TerritoryID
LEFT JOIN "Person/CountryRegion" AS CR ON ST.CountryRegionCode = CR.CountryRegionCode
LEFT JOIN "Sales/SalesPerson" AS SP ON SOH.SalesPersonID = SP.BusinessEntityID;

Result: 31465 rows returned in 38ms (EliteBook)

# -- atsakykite į klausimą, ar verta uždaryti/plėsti/nekeisti fizinių parduotuvių skaičiaus 
# -- eiti į Online, neiti į online?
# -- Pagrįskite.
 
# -- Koks vidutinis vieno užsakymo dydis kiekvienoje šalyje? 
# -- (SalesOrderHeader,SalesOrderDetail, SalesTerritory, CountryRegion)

SELECT 
    date(SOH.OrderDate) AS OrderDate, 
    CAST(SOH.SalesPersonID AS INTEGER) AS SalesPersonID, 
    SOH.OnlineOrderFlag, 
    ST.TerritoryID AS ST_TerritoryID, 
    ST.Name AS ST_Name, 
    ST.CountryRegionCode AS ST_CRC, 
    ST."Group" AS ST_Group, 
    CR.Name AS ST_Name, 
    SP.TerritoryID AS SP_TerritoryID
FROM "Sales/SalesOrderHeader" AS SOH
LEFT JOIN "Sales/SalesTerritory" AS ST ON SOH.TerritoryID = ST.TerritoryID
LEFT JOIN "Person/CountryRegion" AS CR ON ST.CountryRegionCode = CR.CountryRegionCode
LEFT JOIN "Sales/SalesPerson" AS SP ON SOH.SalesPersonID = SP.BusinessEntityID;