In [11]:
setas=()
žodynėlis={}
žodynėlis={"Varna":"Paukštis","Žvirblis":"Paukštis"}
print(žodynėlis)
print(žodynėlis["Varna"])
print(žodynėlis["Žvirblis"])
žodynėlis['Kuosa']='Paukštis'
print(žodynėlis)
žodynėlis["Varna"]='Juoda'
print(žodynėlis)
print(žodynėlis.get('Kukutis','nerasta'))
print(žodynėlis.get('Varna','nerasta'))
print(žodynėlis.get('Žvirblis','nerasta'))
print(žodynėlis.items())
print(žodynėlis.keys())
print(žodynėlis.values())

{'Varna': 'Paukštis', 'Žvirblis': 'Paukštis'}
Paukštis
Paukštis
{'Varna': 'Paukštis', 'Žvirblis': 'Paukštis', 'Kuosa': 'Paukštis'}
{'Varna': 'Juoda', 'Žvirblis': 'Paukštis', 'Kuosa': 'Paukštis'}
nerasta
Juoda
Paukštis
dict_items([('Varna', 'Juoda'), ('Žvirblis', 'Paukštis'), ('Kuosa', 'Paukštis')])
dict_keys(['Varna', 'Žvirblis', 'Kuosa'])
dict_values(['Juoda', 'Paukštis', 'Paukštis'])

In [18]:
d1 = {"cost_price":32.67,"sell_price":45.00,"inventory":1200}
d2 = {"cost_price":225.89,"sell_price":550.00,"inventory": 100}
d3 = {"cost_price":2.77,"sell_price":7.95,"inventory":8500}
dd = (d1,d2,d3)
pelnas=0
for x in dd:
    pelnas += ( x["sell_price"] - x["cost_price"] ) * x["inventory"]
print(pelnas)

91237.0

In [20]:
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
# • Išveskite po vieną simbolį iš teksto. Šalia nurodykite ir
# simbolio poziciją (indeksą) tekste.

for nr, raidė in enumerate(t):
    print(nr,raidė)

0 A
1 š
2
3 r
4 Y
5 t
6 A
7 i
8 S
9
10 M
11 ė
12 G
13 s
14 T
15 u
16
17 k
18 A
19 v
20 Ą
21
22 S
23 u
24
25 s
26 U
27 m
28 U
29 š
30 T
31 i
32 N
33 i
34 A
35 i
36 S
37
38 I
39 r
40
41 a
42 R
43 b
44 A
45 t
46 Ą

In [ ]:
# • Išvesdami simbolį, spausdinkite jį viršutiniame registre, jei jis
# yra lyginėje pozicijoje. Kitu atveju - žemutiniame registre.

for nr, raidė in enumerate(t):
    if nr % 2:
        print(nr,raidė.lower())
    else:
        print(nr,raidė.upper())

In [23]:
# • Išveskite po vieną žodį.

žodžiai=t.split(' ')
# print(žodžiai)
for žodis in žodžiai:
    print(žodis)

# Bloko komentavimas: Ctrl+/ (-)

Aš
rytais
mėgstu
kavą
su
sumuštiniais
ir
arbatą

In [43]:
# • Paprašykite vartotojo įvesti simbolį bei skaičių. Išveskite
# kvadratą, sudarytą iš įvesto simbolio ir kurio kraštinė būtų
# lygi įvestam skaičiui. Pvz.: įvesta '@' ir 5. Rezultatas:
# @@@@@
# @@@@@
# @@@@@
# @@@@@
# @@@@@

simb = input('simb')
sk = int(input('sk'))

eil = ''
for i in range(0,sk):
    eil += simb

for i in range(0,sk):
    print(eil)

print('Trumpiau:')
for i in range(0,sk):
    print(simb*sk)

ggggggg
ggggggg
ggggggg
ggggggg
ggggggg
ggggggg
ggggggg
Trumpiau:
ggggggg
ggggggg
ggggggg
ggggggg
ggggggg
ggggggg
ggggggg

In [42]:
# Išspausdinkite ”pusinę” eglutę iš simbolio '*':
# Eglutės ilgį (eilučių kiekį) turi įvesti vartotojas. Eglutei naudojamą
# simbolį tegul įveda irgi vartotojas.

simb = input('simb')
sk = int(input('sk'))

for i in range(1,sk+1):
    eil = ''
    for j in range(0,i):
        eil += simb
    print('>',eil)

for i in range(1,sk+1):
    print(':',simb*i)

> u
> uu
> uuu
> uuuu
: u
: uu
: uuu
: uuuu

In [39]:
# Duotas sąrašas:

miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis', 'Ūla', 'Mažeikiai', 'Akmena']

# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.

for miestas in miestai:
    if len(miestas) > 6 :
        print(miestas)

# enumerate(), split()  metodas, if su %
# upper(), lower()
# dar len() funkcija simbolių ilgiui nustatyti

Vilnius
Rokiškis
Mažeikiai

In [48]:
print('1.0.12')

a = [1,2,3,4,5,6,7,8,9,10] 
b = [1,3,5,7,9,11,13,15,17,19]

dgb=[]
dal=[]
kvd=[]
for a1,b1 in zip(a,b):
    dgb.append(a1*b1)
    dal.append(a1/b1)
    kvd.append(a1*a1)
print(dgb)
print(dal)
print(kvd)

1.0.12
[1, 6, 15, 28, 45, 66, 91, 120, 153, 190]
[1.0, 0.6666666666666666, 0.6, 0.5714285714285714, 0.5555555555555556, 0.5454545454545454, 0.5384615384615384, 0.5333333333333333, 0.5294117647058824, 0.5263157894736842]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
print('1.0.13')

# 1.0.13 Parašyti kodą, kuris sudaugintų standartinius Python’o sąrašus
# Sąrašai:
x = [1,2,3,4,5,6,7,8,9,10]
y = [2,1,4,7,11,13,15,17,19,21]

kiek=int(input('Iš ko dauginti kiekvieną elementą'))
dgb=[]
dal=[]
krt=[]
for a1,b1 in zip(x,y):
    krt.append(a1*kiek)
    dgb.append(a1*b1)
    dal.append(a1/b1)
print("a)",krt)
print("b)",dgb)
print("c)",dal)

1.0.13
a) [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
b) [2, 2, 12, 28, 55, 78, 105, 136, 171, 210]
c) [0.5, 2.0, 0.75, 0.5714285714285714, 0.45454545454545453, 0.46153846153846156, 0.4666666666666667, 0.47058823529411764, 0.47368421052631576, 0.47619047619047616]

In [55]:
print('1.0.14')

# 1.0.14 Parašyti programą, kuri suskaičiuotų, kiek yra lyginių ir nelyginių skaičių sąraše.
# Taip pat suskaičiuotų lyginių ir nelyginių skaičių aritmetinį ir geometrinį vidurkius.
# Sąrašas: 
x = [1,2,3,4,5,7,8,9,11,17,19,21,22,40,42]
# skaičių sąrašo suma - sum() funkcija

sum1 = 0
sum2 = 0
daug1= 1
daug2= 1
n1 = 0
n2 = 0

for sk in x:
    if sk % 2:
        sum1 += sk
        daug1 *= sk
        n1 += 1
    else:
        sum2 += sk
        daug2 *= sk
        n2 += 1
print(f'Yra {n1} nelyg. sk., jų aritmetinis vidurkis {sum1/n1}, geometrinis vidurkis {daug1**(1/n1)}.')
print(f'Yra {n2} nelyg. sk., jų aritmetinis vidurkis {sum2/n2}, geometrinis vidurkis {daug2**(1/n2)}.')

1.0.14
Yra 9 nelyg. sk., jų aritmetinis vidurkis 10.333333333333334, geometrinis vidurkis 7.447789060288642.
Yra 6 nelyg. sk., jų aritmetinis vidurkis 19.666666666666668, geometrinis vidurkis 11.542998948276226.

In [32]:
print('Po pertraukos')
# a) Suraskite vidutinę kainą, amžių ir ridą šių automobilių.
dd=[('BMW', 'M5', '253 000 km', '2005-12', '19 500'), ('Mitsubishi', 'Outlander', '195 405 km', '2006', '2 700'), ('Seat', 'Arona', '129 800 km', '2019-11', '13 490'), ('Skoda', 'Octavia Scout', '183 000 km', '2015-06', '14 650'), ('Volvo', 'XC90', '127 896 km', '2018-08', '38 000'), ('Audi', '80', '194 000 km', '1987-07', '1 200'), ('Dacia', 'Lodgy', '102 122 km', '2013-03', '8 000'), ('Skoda', 'Octavia', '227 937 km', '2017-11', '11 990'), ('BMW', '320', '158 486 km', '2017-07', '16 190'), ('Volkswagen', 'Passat', '150 869 km', '2019-01', '16 490'), ('BMW', '520', '74 455 km', '2018-03', '28 900'), ('Mercedes-Benz', 'GLE Coupe 350', '194 000 km', '2016-11', '42 500'), ('Ford', 'C-MAX', '276 260 km', '2005-06', '2 000'), ('BMW', 'X3', '290 000 km', '2004-11', '3 390'), ('BMW', '530', '400 000 km', '2004', '3 750')]

kaina=0
amžius=0
rida=0
kainaN=0
amžiusN=0
ridaN=0
dabar = 2024

for auto in dd:

    r1=int(auto[2].replace(" ", "").replace("km", ""))
    if r1:
        rida+=r1
        ridaN+=1

    a1=int(auto[3].split('-')[0])
    if a1:
        # print(a1)
        a1 = dabar-a1
        amžius+=a1
        amžiusN+=1

    k1=int(auto[4].replace(" ", ""))
    if k1:
        kaina+=k1
        kainaN+=1


print(f'Ridos vidurkis: {rida/ridaN:.0f} km')
print(f'Amžiaus vidurkis: {amžius/amžiusN:.1f} m.')
print(f'Kainos vidurkis: {kaina/kainaN:.2f} €')

# "Hello World"	str
# ["apple", "banana", "cherry"]	list
# ("apple", "banana", "cherry")	tuple
# range(6)	range
# {"name" : "John", "age" : 36}	dict
# {"apple", "banana", "cherry"}	set
# frozenset({"apple", "banana", "cherry"})	frozenset

Po pertraukos
Ridos vidurkis: 197149 km
Amžiaus vidurkis: 13.1 m.
Kainos vidurkis: 14850.00 €