In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import requests
# import sqlite3
# import mysql.connector as cnt
# import plotly.express as px

import datetime as dt
print('Paskaita nr. 38, 2024-10-07')
print('Pasiruošta',dt.datetime.now())

Paskaita nr. 38, 2024-10-07
Pasiruošta 2024-10-07 21:00:48.417839

In [20]:
print('Naudodamiesi Meteo.lt API, Jūs galite integruoti LHMT teikiamus')
print('hidrometeorologinius duomenis į savo kuriamas programas.')
print('Naudojimo sąlygos: https://api.meteo.lt/')

Naudodamiesi Meteo.lt API, Jūs galite integruoti LHMT teikiamus
hidrometeorologinius duomenis į savo kuriamas programas.
Naudojimo sąlygos: https://api.meteo.lt/

In [30]:
url = 'https://api.meteo.lt/v1/stations'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

           code          name                                      coordinates
0   akmenes-ams   Akmenės AMS    {'latitude': 56.24992, 'longitude': 22.73081}
1   alytaus-ams   Alytaus AMS  {'latitude': 54.412435, 'longitude': 24.063274}
2  anyksciu-ams  Anykščių AMS     {'latitude': 55.51735, 'longitude': 25.1178}

In [23]:
url = 'https://api.meteo.lt/v1/stations/druskininku-ams'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

,code,name,type,coordinates
latitude,druskininku-ams,Druskininkų AMS,Automatinė meteorologijos stotis,54.018202
longitude,druskininku-ams,Druskininkų AMS,Automatinė meteorologijos stotis,23.980791

In [25]:
url = 'https://api.meteo.lt/v1/stations/vilniaus-ams/observations'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

,station,observationsDataRange
code,vilniaus-ams,NaN
name,Vilniaus AMS,NaN
coordinates,"{'latitude': 54.625992, 'longitude': 25.107064}",NaN

In [39]:
url = 'https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

print('https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest')
print("Susideda iš antraštės ir lentelės 'observations':")
df = pd.DataFrame(data=r['observations'])
print(df.head(3))

https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest
Susideda iš antraštės ir lentelės 'observations':
    observationTimeUtc  airTemperature  feelsLikeTemperature  windSpeed  \
0  2024-10-06 19:00:00             7.8                   7.8        1.1
1  2024-10-06 20:00:00             7.7                   7.7        1.2
2  2024-10-06 21:00:00             7.5                   7.5        2.1

   windGust  windDirection  cloudCover  seaLevelPressure  relativeHumidity  \
0       2.5            317          88            1011.5                90
1       2.8            327         100            1011.1                91
2       3.6            338         100            1010.7                94

   precipitation conditionCode
0            0.0        cloudy
1            0.0        cloudy
2            0.0          rain

In [ ]:
# Užduotis: 
# Raskite meteo stotelę, kuri užfiksavo didžiausią oro temperatūrą esamuoju metu.

url = 'https://api.meteo.lt/v1/stations'
page = requests.get(url)
r = page.json()
dfSt = pd.DataFrame(data=r) # Stations

In [56]:
print('Ieškau didžiausio rezultato per pastarąją parą')

maxT = -273
maxAMS = 'nenustatyta'

for stCode in dfSt['code']:
    url = f'https://api.meteo.lt/v1/stations/{stCode}/observations/latest'
    page = requests.get(url)
    r = page.json()
    dfObs = pd.DataFrame(data=r['observations']) # Observations
    airT = dfObs['airTemperature'].max()
    if airT > maxT:
        maxT = airT
        maxAMS = stCode
        print(f"{maxAMS} {maxT}℃, ", end='')
print(f"\nšiandien didžiausia temperatūta {maxT}℃ fiksuota {maxAMS} stotyje.")

Ieškau didžiausio rezultato per pastarąją parą
akmenes-ams 13.5℃, birstono-ams 14.9℃, kretingos-ams 15.1℃,
šiandien didžiausia temperatūta 15.1℃ fiksuota kretingos-ams stotyje.

In [57]:
print('Ieškau didžiausio paskutinio matavimo')

maxT = -273
maxAMS = 'nenustatyta'

for stCode in dfSt['code']:
    url = f'https://api.meteo.lt/v1/stations/{stCode}/observations/latest'
    page = requests.get(url)
    r = page.json()
    dfObs = pd.DataFrame(data=r['observations']) # Observations
    airTlist = dfObs['airTemperature'].tolist()
    airT = airTlist[-1]
    if airT > maxT:
        maxT = airT
        maxAMS = stCode
        print(f"{maxAMS} {maxT}℃, ", end='')
print(f"\nnaujausiu matavimu didžiausia temperatūta {maxT}℃ fiksuota {maxAMS} stotyje.")

Ieškau didžiausio paskutinio matavimo
akmenes-ams 3.9℃, alytaus-ams 6.9℃, anyksciu-ams 8.1℃, birzu-ams 8.4℃, elektrenu-ams 9.0℃, lazdiju-ams 9.8℃, nidos-ams 11.9℃,
naujausiu matavimu didžiausia temperatūta 11.9℃ fiksuota nidos-ams stotyje.