In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import requests
# import sqlite3
# import mysql.connector as cnt
# import plotly.express as px

import datetime as dt
print('Paskaita nr. 38, 2024-10-07')
print('Pasiruošta',dt.datetime.now())

Paskaita nr. 38, 2024-10-07
Pasiruošta 2024-10-07 21:00:48.417839

In [20]:
print('Naudodamiesi Meteo.lt API, Jūs galite integruoti LHMT teikiamus')
print('hidrometeorologinius duomenis į savo kuriamas programas.')
print('Naudojimo sąlygos: https://api.meteo.lt/')

Naudodamiesi Meteo.lt API, Jūs galite integruoti LHMT teikiamus
hidrometeorologinius duomenis į savo kuriamas programas.
Naudojimo sąlygos: https://api.meteo.lt/

In [22]:
url = 'https://api.meteo.lt/v1/stations'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

           code          name                                      coordinates
0   akmenes-ams   Akmenės AMS    {'latitude': 56.24992, 'longitude': 22.73081}
1   alytaus-ams   Alytaus AMS  {'latitude': 54.412435, 'longitude': 24.063274}
2  anyksciu-ams  Anykščių AMS     {'latitude': 55.51735, 'longitude': 25.1178}

In [23]:
url = 'https://api.meteo.lt/v1/stations/druskininku-ams'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

,code,name,type,coordinates
latitude,druskininku-ams,Druskininkų AMS,Automatinė meteorologijos stotis,54.018202
longitude,druskininku-ams,Druskininkų AMS,Automatinė meteorologijos stotis,23.980791

In [25]:
url = 'https://api.meteo.lt/v1/stations/vilniaus-ams/observations'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

,station,observationsDataRange
code,vilniaus-ams,NaN
name,Vilniaus AMS,NaN
coordinates,"{'latitude': 54.625992, 'longitude': 25.107064}",NaN

In [29]:
url = ' https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest'
page = requests.get(url)
# print(page.status_code)

r = page.json()
# print(type(r))

df = pd.DataFrame(data=r)
df.head(3)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [18]:
# raskite meteo stotelę, kuri užfiksavo didžiausią oro temperatūrą esamuoju metu.

for stCode in df['code']:
    print(stCode)

akmenes-ams
alytaus-ams
anyksciu-ams
birstono-ams
birzu-ams
dotnuvos-ams
druskininku-ams
duksto-ams
elektrenu-ams
jonavos-ams
joniskio-ams
jurbarko-ams
kaisiadoriu-ams
kalvarijos-ams
kauno-ams
kazlu-rudos-ams
kelmes-ams
klaipedos-ams
kretingos-ams
kupiskio-ams
kybartu-ams
laukuvos-ams
lazdiju-ams
marijampoles-ams
mazeikiu-ams
moletu-ams
nidos-ams
pagegiu-ams
pakruojo-ams
panevezio-ams
plunges-ams
prienu-ams
raseiniu-ams
rietavo-ams
rokiskio-ams
sakiu-ams
salcininku-ams
seduvos-ams
siauliu-ams
silutes-ams
skuodo-ams
svencioniu-ams
taurages-ams
telsiu-ams
traku-ams
ukmerges-ams
utenos-ams
varenos-ams
ventes-ams
vezaiciu-ams
vilniaus-ams
zarasu-ams