In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

import datetime as dt

# import mysql.connector as cnt
import sqlite3

import requests
from bs4 import BeautifulSoup

# import selenium
from selenium.webdriver.chrome.options import Options
# from selenium.webdriver.firefox.options import Options as FirefoxOptions
# Firefox leistų sudėtingesnius nustatymus, bet neveikia per SNAP

from selenium import webdriver
from bs4 import BeautifulSoup
import time

print('Paskaita nr. 43, 2024-10-17')
print('Atverčia ir nuskaito AutoPlius skelbimus pagal nuorodas, išsaugotas vakar.')

Paskaita nr. 43, 2024-10-17
Atverčia ir nuskaito AutoPlius skelbimus pagal nuorodas, išsaugotas vakar.

In [10]:
sdb = sqlite3.connect('Testas.db')
cs = sdb.cursor()
cs.execute("select * from auto_skelbimai limit 10")
for (nr,href) in cs.fetchall():
    print(nr,href)

18267894 https://m.autoplius.lt/skelbimai/mercedes-benz-e250-2-5-l-sedanas-1990-dyzelinas-18267894.html
23150167 https://m.autoplius.lt/skelbimai/toyota-sienna-3-3-l-vienaturis-2004-benzinas-dujos-23150167.html
23212783 https://m.autoplius.lt/skelbimai/volkswagen-golf-2-0-l-universalas-2007-dyzelinas-23212783.html
23595689 https://m.autoplius.lt/skelbimai/volkswagen-passat-1-6-l-universalas-2012-dyzelinas-23595689.html
24161587 https://m.autoplius.lt/skelbimai/seat-leon-1-6-l-universalas-2014-dyzelinas-24161587.html
24178627 https://m.autoplius.lt/skelbimai/land-rover-range-rover-sport-3-0-l-visureigis-krosoveris-2012-dyzelinas-24178627.html
24355692 https://m.autoplius.lt/skelbimai/volvo-c70-2-4-l-kabrioletas-2007-dyzelinas-24355692.html
24423484 https://m.autoplius.lt/skelbimai/volkswagen-up-hecbekas-2014-elektra-24423484.html
24655068 https://m.autoplius.lt/skelbimai/audi-a4-2-0-l-universalas-2012-dyzelinas-24655068.html
24911425 https://m.autoplius.lt/skelbimai/mercedes-benz-c180-2-0-l-sedanas-2001-benzinas-24911425.html