In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import plotly.express as px
import os, sys, glob

print('2024-11-13')

2024-11-13

In [ ]:
# def turis(x):
#     if x != None:
#         if 'cm³' in x:
#             return float(x.replace(' cm³',''))

# db_path = '../../../web_scrap.db'
# query = 'SELECT * FROM autopliuslt2;'  # SQL užklausa, kurią norite vykdyti
# df_auto = query_to_dataframe(db_path,query)
# df_auto['JS']= df_auto['Kaina'].apply(lambda x: float(x)*1.5)
# df_auto['Kaina']= df_auto['Kaina'].apply(lambda x: float(x))
# df_auto['Rida'] = df_auto['Rida'].apply(lambda x: int(x.replace(' ','').replace('km','')) if x != None else x)
# df_auto['Amzius'] = df_auto['Pirma registracija'].apply(lambda x: 2024-int(x[:4]) if x != None else x)
# df_auto['Turis'] = df_auto['Variklis'].apply(lambda x: x.split(',')[0] if x != None else None)
# df_auto['Turis'] = df_auto['Turis'].apply(turis)
# df_auto['Miestas'] = df_auto['Miestas'].apply(lambda x: x.split(',')[0])
# df_auto['Baterijos talpa, kWh'] = df_auto['Baterijos talpa, kWh'].apply(lambda x: float(x.replace(' kWh','')) if x != None else x)
# df_auto['Elektra nuvažiuojamas atstumas'] = df_auto['Elektra nuvažiuojamas atstumas'].apply(lambda x: float(x.replace(' km','')) if x != None else x)

# df_auto.head(3)

NameError: name 'query_to_dataframe' is not defined

In [5]:
failas='../../DATA/auto.csv'
print(f"read_csv('{failas}')")
# ,header=0,skiprows=[1]

dfa = pd.read_csv(failas,sep='|') # ,usecols=['gamintojas','modelis','pagaminimo_data','rida']
dfa.columns=dfa.columns.str.strip()
print(dfa.columns.tolist)

print(dfa.head(2))
# dfa.drop(columns=['service_book','available_for_leasing','warranty','catalytic_converter','multiple_key_sets','double_wheels','folding_seats','insulated_glass','two_sliding_doors','personal_ventilation','personal_illumination'])

# dfa = dfa[['Sav.', 'Bruto, EUR']]
# dfa.columns = ['Sav', 'Eur']
# dfa['Sav'] = dfa['Sav'].str[:4]
# dfa.drop_duplicates(subset=['Sav'], inplace=True)
# dfa['Eur'] = dfa['Eur'].str.replace(' ','').str.replace(',','.').str.replace('\xa0','').apply(float)

read_csv('../../DATA/auto.csv')
<bound method IndexOpsMixin.tolist of Index(['index', 'id', 'gamintojas', 'modelis', 'pagaminimo_data', 'rida',
       'variklis', 'kuro_tipas', 'varantieji_ratai', 'pavaros',
       ...
       'service_book', 'warranty', 'catalytic_converter', 'multiple_key_sets',
       'double_wheels', 'folding_seats', 'insulated_glass',
       'two_sliding_doors', 'personal_ventilation', 'personal_illumination'],
      dtype='object', length=115)>
   index           id  gamintojas    modelis pagaminimo_data        rida  \
0      0  ID:22996628         BMW         M5         2005-12  253 000 km
1      1  ID:23120069  Mitsubishi  Outlander            2006  195 405 km

                   variklis kuro_tipas     varantieji_ratai     pavaros  ...  \
0  4999 cm³, 507 AG (373kW)   Benzinas             Galiniai  Automatinė  ...
1  2378 cm³, 160 AG (118kW)   Benzinas  Visi varantys (4х4)  Automatinė  ...

  service_book warranty catalytic_converter multiple_key_sets double_wheels  \
0            0        0                   0                 0             0
1            0        0                   0                 0             0

  folding_seats insulated_glass two_sliding_doors personal_ventilation  \
0             0               0                 0                    0
1             0               0                 0                    0

  personal_illumination
0                     0
1                     0

[2 rows x 115 columns]

In [ ]:
TAF['Galia']=G
TAF['Tūris']=V

TAF_EL=

In [ ]:
sns.pairplot()

In [18]:
DEMO=TAF_VDV[['Rida','Kaina']]
DEMO.dropna(inplace=True)
DEMO['Rida']=np.ceil(DEMO['Rida'].values/5000.0)*5000.0
DEMOGR=DEMO.groupby('Rida').mean(numeric_only=True).seset_index()
DEMOGR.head(5)

# ax=sns.regplot(data=df.query(expr='rida<500000'),x='Rida',y='Kaina')
# ax.axhline(y=0)
# plt.show()

NameError: name 'TAF_VDV' is not defined

In [ ]:
import numpy.polynomial.polynomial as poly

coef=np.polyfit(x=DM2['Rida'],y=DM2['Kaina'],deg=1)
# Grąžina koeficinetus nuo didžiausio iki mažiausio x laipsnio.
print(coef)

fn_fit=poly.Polynomial(coef[::-1])

x_rida=100000
x_kaina=fn_fit(x_rida)

In [ ]:
kainos_fitted=fn_fit(DM2['Rida'])
DM2['K_fit']=kainos_fitted

ax=sns.regplot(data=df.query(expr='rida<500000'),x='Rida',y='Kaina')
ax.scatter(x=DM2['Rida'][::10],y=DM2['K_fit'][::10],c='red')

In [ ]:
coef = np.polyfit(x=DM2['Rida'], y=DM2['Kaina'], deg=3)
print(coef)

fn_fit = poly.Polynomial(coef[::-1])
kainos_fitted = fn_fit(DM2['Rida'])
DM2['K_fit'] = kainos_fitted

ax = sns.regplot(data=DM2, x='Rida', y='Kaina', order=3)
ax.scatter(x=DM2['Rida'][::10], y=DM2['K_fit'][::10], c='red')

plt.show()