In [12]:
print('Paskaita nr. 33\n2024-09-25')

import datetime
print('Pasiruošta',datetime.datetime.now())

import mysql.connector as cnt
import sqlite3

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Paskaita nr. 33
2024-09-25
Pasiruošta 2024-09-25 19:34:28.232711

In [ ]:
# atrinkti 10 populiariausių gamintojų iš autopliuslt, 
# pateikti tokius stulpelius - gamintojas, vidutinė kaina, vidutinė rida, vidutinis amžius, modelių kiekis. 
# Gautus rezultatus surašyti į SQLite duomebazę, pavadinimu "Testas.db", lentelės pavadinimas kokį sugalvosite. 
# Viską turi atlikti python kodas. 
# PANDAS NEGALIMA NAUDOTI, viską atlikite per cursor() objektus.

# Bandymai:

# DB = cnt.connect(
#     host = '88.223.121.130',
#     user='user',
#     password='slaptazodis',
#     port=3306,
#     database='works'
# )
# C=DB.cursor()

# SQLite naudojimas:

# import sqlite3

# sdb = sqlite3.connect('Testas.db')
# cs = sdb.cursor()

# sql = '''create table if not exists pop_auto_gamintojai
# (
#     name text not null,
#     surname text not null,
#     age integer not null,
#     salary real not null
# )
# '''
# cs.execute(sql)

# sql_template = '''insert into T1 values (?,?,?,?)'''
# data = [("Onynė","Mažutytė",18,1860),("Jonas","Varnas",28,1670),("Petras","Repšys",42,2760)]

# cs.executemany(sql_template,data)
# sdb.commit()

In [14]:
# Užduoties pirmoji dalis - duomenų gavimas:
# atrinkti 10 populiariausių gamintojų iš autopliuslt, 
# pateikti tokius stulpelius - gamintojas, vidutinė kaina, vidutinė rida, vidutinis amžius, modelių kiekis. 

DB = cnt.connect(
    host = '88.223.121.130',
    user='user',
    password='slaptazodis',
    port=3306,
    database='works'
)
C=DB.cursor()

sql="""
    select
        G, 
        cast(avg(P) as float), 
        cast(avg(R) as float), 
        cast(avg(A) as float), 
        count(*) as C 
    from (select 
        gamintojas as G, 
        cast(replace(price,' ','') as int) as P,
        cast(replace(rida, ' ','') as int) as R, 
        2024-cast(substring(pagaminimo_data,1,4) as int) as A
    from autopliuslt) as T1
    group by G
    order by C desc limit 10;
"""
C.execute(sql)
ans = C.fetchall()

print('Paimta top 10 iš db:')
print(ans)

Paimta top 10 iš db:
[('BMW', 10652.1, 260654.0, 15.2219, 365), ('Volkswagen', 6190.71, 237651.0, 15.7903, 310), ('Audi', 8447.67, 241376.0, 16.7665, 227), ('Mercedes-Benz', 15080.3, 261259.0, 15.1864, 177), ('Toyota', 8712.73, 201755.0, 14.6039, 154), ('Volvo', 7847.71, 278037.0, 15.3116, 138), ('Opel', 4005.84, 226788.0, 16.3209, 134), ('Ford', 5592.4, 225685.0, 14.8818, 110), ('Peugeot', 6748.5, 205881.0, 13.4103, 78), ('Skoda', 10808.3, 181196.0, 10.7703, 74)]

In [20]:
# Užduoties antroji dalis - duomenų įrašymas:
# Pateikti tokius stulpelius - gamintojas, vidutinė kaina, vidutinė rida, vidutinis amžius, modelių kiekis. 
# Gautus rezultatus surašyti į SQLite duomebazę, pavadinimu "Testas.db", lentelės pavadinimas kokį sugalvosite. 
# Viską turi atlikti python kodas. 

sdb = sqlite3.connect('Testas.db')
cs = sdb.cursor()

sql_table = '''
create table if not exists top_auto
(
    gamintojas text not null,
    kaina real not null,
    rida real not null,
    amz real not null,
    n real not null
)
'''
cs.execute(sql_table)

sql_template = '''insert into top_auto values (?,?,?,?,?)'''
cs.executemany(sql_template, ans)

sdb.commit()
sdb.close()

In [ ]:
# JSON duomenų gavimas:

# Eismo įvykių, įvykusių Lietuvos Respublikoje, kurių metu žuvo ir (ar) buvo sužeisti žmonės, duomenys:
# https://data.gov.lt/datasets/509/

# nuskaitykite JSON failą -  2023 metus

# konvertuokite dataLaikas stulpelį į datetime
# pd.to_datetime(df[stulpelis])

# pridėkite naują stulpelį su paros laikais (rytas, vakaras ...)
# pridėkite naują stulplelį, kur būtų tik įvykio valanda
# Vizualizuokite, kuriuo paros laiku, kurią valandą įvyksta daugiausiai eismo įvykių
 
# sekantiems klausimams patys sugalvojate tinkamiausias vizualizacijas
# Vyrų ar moterų buvo daugiau, sukėlusių eismo įvykį?
# koks vidutinis kaltininkų amžius?
# Kokiomis baudų rūšimis buvo nubausti vyrai/moterys (administracinė, baudžiamoji) (teisenosStadijaBusena)