In [1]:
from datetime import datetime as dt
from os import listdir
import pandas as pd
import numpy as np

data_dir="../../../duomenys/elektros_paklausa/"; # print(listdir(csv_dir))
data_files=['b2b_gv_vartojimas.xlsx', 'b2c_gv_vartojimas.xlsx', 'b2c_ngv_vartojimas.xlsx', 'b2b_ngv_vartojimas.xlsx']
date_cols=['data_valanda', 'dateTime', 'dateTime', 'data_valanda']

print(listdir(data_dir))

print('75 paskaita. Pasiruošta',dt.now().replace(microsecond=0))

['b2b_gv_vartojimas.xlsx', 'b2b_ngv_vartojimas.xlsx', 'b2c_gv_vartojimas.xlsx', 'b2c_ngv_vartojimas.xlsx', 'REGRESIJOS.pdf', 'Uzduotis.txt']
75 paskaita. Pasiruošta 2025-01-09 18:31:51

In [ ]:
print("Duomenys iš failų įkeliami į 'df_list[]'. ",dt.now().replace(microsecond=0))

final_df = pd.DataFrame()
df_list = []

# for index, file in enumerate(data_files):
    
for file in data_files:
    print(f'{data_dir}{file}',end=' ')
    day_df = pd.read_excel(f'{data_dir}{file}')
    # day_df['datetime'] = pd.to_datetime(day_df[[date_cols[index]]])
    # day_df['hour'] = day_df['datetime'].dt.hour
    # day_df['cos_hour'] = np.cos(2 * np.pi * day_df['hour'] % 24 / 24)
    
    df_list.append(day_df)
    # day_df = day_df[['hour', 'cos_hour', 'air_temperature']]  # Pasirenkame reikiamus stulpelius
    # final_df = pd.concat([final_df, day_df], ignore_index=True)
    
    print(f'įkelta {len(day_df)} įr.')
    # print(day_df.head(1))

Duomenys iš failų įkeliami į DF listą.
../../../duomenys/elektros_paklausa/b2b_gv_vartojimas.xlsx įkelta 8760 įr.
../../../duomenys/elektros_paklausa/b2c_gv_vartojimas.xlsx įkelta 2185 įr.
../../../duomenys/elektros_paklausa/b2c_ngv_vartojimas.xlsx įkelta 2185 įr.
../../../duomenys/elektros_paklausa/b2b_ngv_vartojimas.xlsx įkelta 8760 įr.

In [ ]:
print('Tvarkomi datų įrašai, pridedami valandų, cos(), sav. d. stulpeliai')
print('(Nekartojama, nes ištrina originalius datos stulpelius)')
print()

for index, df in enumerate(df_list):
    # print(date_cols[index])

    df['datetime'] = pd.to_datetime(df[date_cols[index]])
    del df[date_cols[index]]

    df.dropna(subset=['datetime'], inplace=True)  # Pašaliname 'NaN' iš 'datetime'
    df.set_index('datetime', inplace=True, verify_integrity=True)  # Nustatome indeksą

    # df['hour'] = df['datetime'].dt.hour
    # df['weekday'] = df['datetime'].dt.weekday
    # df['cos_hour'] = np.cos(2 * np.pi * df['hour'] % 24 / 24)
    
    print(df.head(1))

Tvarkomi datų įrašai, pridedami valandų ir cos() stulpeliai
(Nekartojama, nes ištrina originsalius datos stulpelius)
     0    1     2      3    4    5       6       7       8      9  ...  756  \
0  0.0  0.0  4.68  0.001  0.0  0.0  1.7159  1.9334  1.4671  0.986  ...  0.0

   757     758   759     760     761    762   datetime  hour  cos_hour
0  0.0  5.9883  91.9  0.3135  6.9318  2.831 2022-11-01     0       1.0

[1 rows x 766 columns]
       0      1      2      3      4      5      6     7      8      9  ...  \
0  1.128  0.301  0.078  0.083  0.306  0.239  0.666  1.05  0.284  1.455  ...

   1043  1044  1045  1046  1047  1048  1049   datetime  hour  cos_hour
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0 2023-08-01     0       1.0

[1 rows x 1053 columns]
       0      1      2     3      4      5      6      7      8      9  ...  \
0  0.117  0.103  0.041  0.07  0.126  0.048  0.131  0.171  0.347  0.185  ...

   1019  1020  1021  1022  1023  1024  1025   datetime  hour  cos_hour
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0 2023-08-01     0       1.0

[1 rows x 1029 columns]
     0  1      2      3    4    5      6      7    8      9  ...  792  793  \
0  0.0  0  0.014  0.018  0.0  0.0  0.014  0.049  0.0  2.429  ...  0.0  0.0

   794  795    796  797    798   datetime  hour  cos_hour
0  0.0  0.0  0.071  0.0  0.459 2022-11-01     0       1.0

[1 rows x 802 columns]

In [9]:
print('Išvedame pirmąsias ir paskutininiasias eilutes.')
print('Tai padės pasirinkti datų intervalą tolesniame žingsnyje.')

for df in df_list:
    print(df['datetime'].head(2))
    print(df['datetime'].tail(2))
    print()
print()

Išvedame pirmąsias ir paskutininiasias eilutes.
Tai padės pasirinkti datų ijtervalą tolesniame žingsnyje.

0   2022-11-01 00:00:00
1   2022-11-01 01:00:00
Name: datetime, dtype: datetime64[ns]
8758   2023-10-31 23:00:00
8759   2023-11-01 00:00:00
Name: datetime, dtype: datetime64[ns]

0   2023-08-01 00:00:00
1   2023-08-01 01:00:00
Name: datetime, dtype: datetime64[ns]
2183   2023-10-30 23:00:00
2184   2023-10-31 00:00:00
Name: datetime, dtype: datetime64[ns]

0   2023-08-01 00:00:00
1   2023-08-01 01:00:00
Name: datetime, dtype: datetime64[ns]
2183   2023-10-30 23:00:00
2184   2023-10-31 00:00:00
Name: datetime, dtype: datetime64[ns]

0   2022-11-01 00:00:00
1   2022-11-01 01:00:00
Name: datetime, dtype: datetime64[ns]
8758   2023-10-31 23:00:00
8759   2023-11-01 00:00:00
Name: datetime, dtype: datetime64[ns]

In [23]:
# Apmokymui naudosime šio intervalo duomenis:
start_date = '2023-09-01'
end_date = '2023-10-30'

# Atrenkame iš nurodyto datos intervalo:
filtered_dfs = []
for index, df in enumerate(df_list):
    
    # Visus skaičius ir str verčiu pd.to_numeric.
    df.loc[:, df.select_dtypes(include=['number', 'object']).columns] = df.select_dtypes(include=['number', 'object']).apply(pd.to_numeric, errors='coerce')

    filtered_dfs.append(df[( start_date <= df['datetime'] )&( df['datetime'] <= end_date )])

# Apjungiame pagal 'datetime' stulpelį
result = pd.concat(filtered_dfs, axis=1)

In [24]:
# Pašaliname pasikartojančius 'datetime' stulpelius
result = result.loc[:, ~result.columns.duplicated()]

result = result.dropna(axis=1, how='all')

result['sum'] = result.select_dtypes(include='number').sum(axis=1)

print('Stulperlių sumos statistinė suvestinė')
print(result['sum'].describe())

Stulperlių sumos statistinė suvestinė
count     2834.000000
mean      4417.689598
std       4805.518969
min         17.029600
25%        135.989525
50%       1451.608046
75%       7891.396684
max      20177.368931
Name: sum, dtype: float64

In [25]:
print(result)

        0    1      2      3      4      5       6       7      8      9  ...  \
7295  0.0  0.0  1.303  0.002  0.137  0.056  0.9013  0.1798  0.221  1.094  ...
7296  0.0  0.0  0.971  0.000  0.187  0.047  0.2362  0.1789  0.294  1.092  ...
7297  0.0  0.0  1.195  0.001  0.060  0.054  0.7219  0.1784  0.276  1.089  ...
7298  0.0  0.0  1.113  0.000  0.063  0.060  0.2230  0.1780  0.217  1.084  ...
7299  0.0  0.0  1.107  0.001  0.052  0.060  0.7469  0.2413  0.271  1.100  ...
...   ...  ...    ...    ...    ...    ...     ...     ...    ...    ...  ...
2156  NaN  NaN    NaN    NaN    NaN    NaN     NaN     NaN    NaN    NaN  ...
2157  NaN  NaN    NaN    NaN    NaN    NaN     NaN     NaN    NaN    NaN  ...
2158  NaN  NaN    NaN    NaN    NaN    NaN     NaN     NaN    NaN    NaN  ...
2159  NaN  NaN    NaN    NaN    NaN    NaN     NaN     NaN    NaN    NaN  ...
2160  NaN  NaN    NaN    NaN    NaN    NaN     NaN     NaN    NaN    NaN  ...

       1041   1042   1043   1044   1045   1046   1047   1048   1049  \
7295    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7296    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7297    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7298    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7299    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...     ...    ...    ...    ...    ...    ...    ...    ...    ...
2156  0.444  0.785  0.721  0.583  0.391  0.493  0.282  1.142  0.247
2157  0.355  0.119  0.781  1.688  0.308  0.374  0.254  0.302  0.504
2158  0.221  0.108  0.723  0.910  0.098  0.397  0.294  0.196  0.273
2159  0.203  0.103  1.943  0.182  0.083  0.560  0.306  0.283  0.077
2160  0.375  0.102  0.274  0.750  0.140  0.547  0.211  0.328  0.066

              sum
7295  7528.173681
7296  7416.262007
7297  7267.504706
7298  7351.287704
7299  7413.319767
...           ...
2156   341.754500
2157   291.764300
2158   240.819600
2159   208.946400
2160   204.683500

[2834 rows x 1054 columns]

In [29]:
print(result[['datetime','sum']].head(2))
print()
print(result[['datetime','sum']].tail(9))

                datetime          sum
7295 2023-09-01 00:00:00  7528.173681
7296 2023-09-01 01:00:00  7416.262007

     datetime       sum
2152      NaT  326.9314
2153      NaT  365.2655
2154      NaT  368.2759
2155      NaT  374.4888
2156      NaT  341.7545
2157      NaT  291.7643
2158      NaT  240.8196
2159      NaT  208.9464
2160      NaT  204.6835

In [30]:
result.columns

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
        1041,  1042,  1043,  1044,  1045,  1046,  1047,  1048,  1049, 'sum'],
      dtype='object', length=1054)

In [12]:
print(result[['datetime','sum']])

                datetime          sum
0    2022-11-01 00:00:00  5208.003717
1    2022-11-01 01:00:00  5048.399818
2    2022-11-01 02:00:00  5067.342876
3    2022-11-01 03:00:00  5019.512423
4    2022-11-01 04:00:00  5000.326411
...                  ...          ...
8707 2023-10-29 20:00:00  8031.284482
8708 2023-10-29 21:00:00  7657.709174
8709 2023-10-29 22:00:00  7340.527287
8710 2023-10-29 23:00:00  7187.391771
8711 2023-10-30 00:00:00  6895.730016

[8712 rows x 2 columns]

In [14]:
print('Modeliuojame')
# pip install scikit-learn

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X = result.drop(columns=['sum','datetime'])  # Nepriklausomi kintamieji
y = result['sum']  # Priklausomasis kintamasis

# Duomenų padalijimas į treniravimo ir testavimo rinkinius
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=11)

# Tiesinės regresijos modelis
model = LinearRegression()
model.fit( X_train, y_train )

# Prognozės ir modelio tikslumo įvertinimas
y_pred = model.predict(X_test)
print("MSE:", mean_squared_error(y_test, y_pred))

Modeliuojame

KeyError: "[('sum', 'datetime')] not found in axis"

In [82]:
X_train.columns

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049],
      dtype='object', length=1051)

In [80]:
# X_train
y_train

5696     9120.300727
1104     8089.405451
2898    12599.957250
2321     9064.221266
4061     9952.361172
            ...
1293     6761.013542
4023     9774.293050
7259     9746.908818
5200     5780.424278
3775    14042.917419
Name: sum, Length: 7840, dtype: float64

In [ ]:
# Užrašai:
# Multi-target regression
# https://stackoverflow.com/questions/57704609/multi-target-regression-using-scikit-learn
# https://medium.com/@tubelwj/developing-multi-class-regression-models-with-python-c8beca5dd482