In [5]:
# Paskaičiuoti pelną pardavus visas prekes. Informacija apie kainą
# ir kiekius yra pateikiama kaip žodynai (dictionary):
d1 = {"cost_price": 32.67,
"sell_price": 45.00,
"inventory": 1200}
d2 = {"cost_price": 225.89,
"sell_price": 550.00,
"inventory": 100}
d3 = {"cost_price": 2.77,
"sell_price": 7.95,
"inventory": 8500}

s1 = (d1["sell_price"] - d1["cost_price"]) * d1["inventory"]
s2 = (d2["sell_price"] - d2["cost_price"]) * d2["inventory"]
s3 = (d3["sell_price"] - d3["cost_price"]) * d3["inventory"]
suma = s1 + s2 + s3
print(suma)

91237.0

In [6]:
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
# • Išveskite po vieną simbolį iš teksto. Šalia nurodykite ir
# simbolio poziciją (indeksą) tekste.
for idx, letter in enumerate(t):
    print(idx, letter)

0 A
1 š
2
3 r
4 y
5 t
6 a
7 i
8 s
9
10 m
11 ė
12 g
13 s
14 t
15 u
16
17 k
18 a
19 v
20 ą
21
22 s
23 u
24
25 s
26 u
27 m
28 u
29 š
30 t
31 i
32 n
33 i
34 a
35 i
36 s
37
38 i
39 r
40
41 a
42 r
43 b
44 a
45 t
46 ą

In [9]:
# • Išvesdami simbolį, spausdinkite jį viršutiniame registre, jei jis
# yra lyginėje pozicijoje. Kitu atveju - žemutiniame registre.
for  idx, letter in enumerate(t):
    if idx % 2 == 0:
        print(letter.upper())
    else:
        print(letter.lower())

A
š

r
Y
t
A
i
S

M
ė
G
s
T
u

k
A
v
Ą

S
u

s
U
m
U
š
T
i
N
i
A
i
S

I
r

a
R
b
A
t
Ą

In [10]:
# • Išveskite po vieną žodį.
t1 = t.split()
for word in t1:
    print(word)

Aš
rytais
mėgstu
kavą
su
sumuštiniais
ir
arbatą

In [12]:
# • Paprašykite vartotojo įvesti simbolį bei skaičių. Išveskite
# kvadratą, sudarytą iš įvesto simbolio ir kurio kraštinė būtų
# lygi įvestam skaičiui. Pvz.: įvesta '@' ir 5. Rezultatas:
# @@@@@
# @@@@@
# @@@@@
# @@@@@
# @@@@@
simbolis = input('simbolis')
skaicius = int(input('skaicius'))

for i in range(skaicius):
    print(simbolis * skaicius)

@@@
@@@
@@@

In [16]:
# Išspausdinkite ”pusinę” eglutę iš simbolio '*':
# Eglutės ilgį (eilučių kiekį) turi įvesti vartotojas. Eglutei naudojamą
# simbolį tegul įveda irgi vartotojas.

kiekis = int(input('kiekis'))

for i in range(kiekis):
    print('*' * (i + 1))

*
**
***
****
*****

In [14]:
# Duotas sąrašas:
miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',
'Ūla', 'Mažeikiai', 'Akmena']
# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.
for miestas in miestai:
    if len(miestas) > 6:
        print(miestas)

Vilnius
Rokiškis
Mažeikiai

In [19]:
a = [1,2,3,4,5,6,7,8,9,10]
b =[1,3,5,7,9,11,13,15,17,19]

c = []
c1 = []
for a1, b1 in zip(a, b):
    c.append(a1 * b1)
    c1.append(a1 / b1)
print(c)
print(c1)

e = []
for a1 in a:
    e.append(a1 ** 2)
print(e)

[1, 6, 15, 28, 45, 66, 91, 120, 153, 190]
[1.0, 0.6666666666666666, 0.6, 0.5714285714285714, 0.5555555555555556, 0.5454545454545454, 0.5384615384615384, 0.5333333333333333, 0.5294117647058824, 0.5263157894736842]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# 1.0.13 Parašyti kodą, kuris sudaugintų standartinius Python’o sąrašus
# Sąrašai:
x = [1,2,3,4,5,6,7,8,9,10]
y = [2,1,4,7,11,13,15,17,19,21]

x_sk = []
y_sk = []
    
sk = 3

for i in x:
    x_sk.append(i * sk)

for i in y:
    y_sk.append(i * sk)
    
    
print(x_sk)
print(y_sk)

b = []
c = []
for x1, y1 in zip(x, y):
    b.append(x1 * y1)
    c.append(x1 / y1)
print(b)
print(c)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[6, 3, 12, 21, 33, 39, 45, 51, 57, 63]
[2, 2, 12, 28, 55, 78, 105, 136, 171, 210]
[0.5, 2.0, 0.75, 0.5714285714285714, 0.45454545454545453, 0.46153846153846156, 0.4666666666666667, 0.47058823529411764, 0.47368421052631576, 0.47619047619047616]

In [50]:
# 1.0.14 Parašyti programą, kuri suskaičiuotų, kiek yra lyginių ir nelyginių skaičių
# sąraše.
# Taip pat suskaičiuotų lyginių ir nelyginių skaičių aritmetinį ir geometrinį vidurkius.
x = [1,2,3,4,5,7,8,9,11,17,19,21,22,40,42]
lyginiai = 0
nelyginiai = 0
lyg = []
nelyg = []

for i in x:
    if i %2 == 0:
        lyginiai += 1
        lyg.append(i)
    else:
        nelyginiai += 1
        nelyg.append(i)
    
print(f'lyginiu: {lyginiai}')
print(lyg)
print(f'nelyginiu: {nelyginiai}')
print(nelyg)

ari_vidurkis_lyg = sum(lyg) / len(lyg)
ari_viduris_nelyg = sum(nelyg) / len(nelyg)
print(ari_vidurkis_lyg, ari_viduris_nelyg)

s = 1
for i in lyg:
    s  = s * i
print(s ** (1/ len(lyg)))

lyginiu: 6
[2, 4, 8, 22, 40, 42]
nelyginiu: 9
[1, 3, 5, 7, 9, 11, 17, 19, 21]
19.666666666666668 10.333333333333334
11.542998948276226

In [62]:
x = [('BMW', 'M5', '253 000 km', '2005-12', '19 500'), ('Mitsubishi', 'Outlander', '195 405 km', '2006', '2 700'), ('Seat', 'Arona', '129 800 km', '2019-11', '13 490'), ('Skoda', 'Octavia Scout', '183 000 km', '2015-06', '14 650'), ('Volvo', 'XC90', '127 896 km', '2018-08', '38 000'), ('Audi', '80', '194 000 km', '1987-07', '1 200'), ('Dacia', 'Lodgy', '102 122 km', '2013-03', '8 000'), ('Skoda', 'Octavia', '227 937 km', '2017-11', '11 990'), ('BMW', '320', '158 486 km', '2017-07', '16 190'), ('Volkswagen', 'Passat', '150 869 km', '2019-01', '16 490'), ('BMW', '520', '74 455 km', '2018-03', '28 900'), ('Mercedes-Benz', 'GLE Coupe 350', '194 000 km', '2016-11', '42 500'), ('Ford', 'C-MAX', '276 260 km', '2005-06', '2 000'), ('BMW', 'X3', '290 000 km', '2004-11', '3 390'), ('BMW', '530', '400 000 km', '2004', '3 750')]
# a) Suraskite vidutinę kainą, amžių ir ridą šių automobilių.
kaina = 0
amzius = 0
rida = 0
for i in x:
    kaina += float(i[-1].replace(' ', ""))
    amzius += (2024-float(i[-2][0:4]))
    rida += float(i[2].replace(' ', '').replace('km', ''))
print(f'kainos vidurkis: {kaina / len(x)}')
print(f'vidutinis amzius: {amzius / len(x)}')
print(f'vidutine rida: {rida / len(x)}')

    
    
# print(suma)

kainos vidurkis: 14850.0
vidutinis amzius: 13.133333333333333
vidutine rida: 197148.66666666666

In [75]:
# 1.0.26 Duotas sąrašas su žodynais.
x = [{'Modelis':'WV', 'rida':25000},{'Modelis':'Audi', 'rida':36000},{'Modelis':'Ford',
'rida':42000},{'Modelis':'Toyota', 'rida':31000},{'Modelis':'Nissan', 'rida':75000}]
# Parašykite ciklą, išvedantį automobilių ridas.
# Parašykite kodą, surandantį daugiausiai ir mažiausiai nuvažiavusius automobilius.

ridos = []
for auto in x:
    ridos.append(auto['rida'])
print(ridos)
print(max(ridos))
print(min(ridos))

[25000, 36000, 42000, 31000, 75000]
75000
25000