In [3]:
x = [*range(10)]
print(x)
# sukurkite naują sąrašą, kuriame x elemntai būtų pakdauginti iš jūsų įvesto skaičiaus

try:
    sk = int(input('skaicius?'))
except ValueError as ex:
    print(ex)

y = [i*sk for i in x]
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [5]:
x=('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
# sukurkite sąrašą, kuriame būtų duoti tekstai paversti į skaičius (float) tipo.
y = [float(i.replace(" ", "")) for i in x]
print(x)
print(y)

('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
[19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]

In [8]:
x = ('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')
# sukurkite sąrašą, kur būtų pirmi 3 simboliai gamintojų, didžiosiomis raidėmis
y = [i[:3].upper() + i[3:] for i in x]
print(y)

['BMW', 'MITsubishi', 'SEAt', 'SKOda', 'VOLvo', 'AUDi', 'DACia', 'SKOda', 'BMW', 'VOLkswagen']

In [22]:
x = ('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')
# Atskirkite į tris sąrašus tūrį, AG ir kW.

    
turis = [i.split()[0] + ' cm3' for i in x]
print(turis)

ag = [i.split()[2] + ' AG'for i in x]
print(ag)

kw = [i.split()[-1].replace('(', '').replace(')', '') for i in x]
print(kw)

['4999 cm3', '2378 cm3', '1598 cm3', '1798 cm3', '1969 cm3', '1760 cm3', '1461 cm3', '1600 cm3', '2000 cm3', '1600 cm3']
['507 AG', '160 AG', '95 AG', '179 AG', '235 AG', '88 AG', '107 AG', '116 AG', '163 AG', '120 AG']
['373kW', '118kW', '70kW', '132kW', '173kW', '65kW', '79kW', '85kW', '120kW', '88kW']

In [136]:
# parašykite funkciją, kuri grąžintų vidurkį,
# jei jūs jai nurodote skaičių sąrašą (list) arba eilutę (tuple)
x=(1, 2, 310, 5.3, 7, 8, 9.4)

def vidurkis(lst):
    return sum(lst) / len(lst)

vidurkis(x)

48.957142857142856

In [137]:
t = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo architektūros objekte – Lietuvos banko Kauno rūmuose į muzikos meditaciją pakvies vokalinis ansamblis „Duodeco“. Pirmą kartą Pažaislio muzikos festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m. suburtas kolektyvas festivalio publikai pristatys muzikinę programą „More Sweet Than My Refrain“.'''
# SUkurkite sąrašą, kuriame būtų šio teksto žodžių ilgiai.
y= t.split()
print(t.split())
ilgiai = [len(i) for i in y if i.isalpha()] # bruksneliai, skaiciai, trumpiniai (pvz.: "d." neisiskaiciuoja)
ilgiai_visi = [len(i) for i in y] # visu simboliu ilgiai
print(ilgiai)
print(ilgiai_visi)

['Liepos', '19', 'd.', 'UNESCO', 'pasaulio', 'paveldu', 'tapusiame', 'Kauno', 'modernizmo', 'architektūros', 'objekte', '–', 'Lietuvos', 'banko', 'Kauno', 'rūmuose', 'į', 'muzikos', 'meditaciją', 'pakvies', 'vokalinis', 'ansamblis', '„Duodeco“.', 'Pirmą', 'kartą', 'Pažaislio', 'muzikos', 'festivalis', 'rengia', 'koncertą', 'šioje', 'nepaprastoje', 'erdvėje,', 'kurioje', '2019', 'm.', 'suburtas', 'kolektyvas', 'festivalio', 'publikai', 'pristatys', 'muzikinę', 'programą', '„More', 'Sweet', 'Than', 'My', 'Refrain“.']
[6, 6, 8, 7, 9, 5, 10, 13, 7, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 5, 5, 9, 7, 10, 6, 8, 5, 12, 7, 8, 10, 10, 8, 9, 8, 8, 5, 4, 2]
[6, 2, 2, 6, 8, 7, 9, 5, 10, 13, 7, 1, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 10, 5, 5, 9, 7, 10, 6, 8, 5, 12, 8, 7, 4, 2, 8, 10, 10, 8, 9, 8, 8, 5, 5, 4, 2, 9]

In [28]:
fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
# Parašykite kodą, kuris sugeneruotų sąrašą,
# su žodžiais 'Rytas', jei skaičius fx sąraše yra tarp 6 ir 10,
# diena, jei tarp 10 ir 18, vakaras jei tarp 18 ir 22, ir naktis kitais atvejais.

fy = ['Rytas' if i in range(6, 10) else 'Diena' if i in range(10, 18) else 'Vakaras' if i in range(18, 20) else 'Naktis' for i in fx]
print(fy)

['Naktis', 'Diena', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Naktis', 'Naktis', 'Diena', 'Naktis', 'Vakaras', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Diena', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Diena', 'Vakaras', 'Naktis', 'Rytas', 'Naktis', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Diena', 'Diena', 'Diena', 'Vakaras', 'Naktis', 'Diena', 'Vakaras', 'Naktis', 'Diena', 'Naktis', 'Naktis', 'Naktis', 'Rytas', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Rytas', 'Vakaras', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Diena', 'Rytas', 'Naktis', 'Diena', 'Naktis', 'Naktis']

In [94]:
x = [('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
# parašyti funkciją, kuri juos spausdintų tokiu vaizdu:
# hint cicklas cikle

for eilute in x:
    st = ''
    for elem in eilute:
        st = st + f'| {elem:^18.18}'
        
    st1 = st + '|'
    
    # st = f"| {eilute[0]:^12} | {eilute[1]:^12} | {eilute[2]:^12} | {eilute[3]:^15.15} | {eilute[4]:^12} | "
  
    print(st1)

|        BMW        |     253 000 km    |       19 500      | 4999 cm³, 507 AG (|      Benzinas     |
|     Mitsubishi    |     195 405 km    |       2 700       | 2378 cm³, 160 AG (|      Benzinas     |
|        Seat       |     129 800 km    |       13 490      | 1598 cm³, 95 AG (7|     Dyzelinas     |
|       Skoda       |     183 000 km    |       14 650      | 1798 cm³, 179 AG (|      Benzinas     |
|       Volvo       |     127 896 km    |       38 000      | 1969 cm³, 235 AG (|     Dyzelinas     |

In [145]:
# parašykite funkcjas suma(), skirtumas(), sandauga(), dalyba(), 
# kurioms jūs galėtumėte nurodyti skaičių sąrašą x, ir vieną sakičių d,
# ir tos funkcijos grąžintų naują sąrašą, su skaičiais iš x sąrašo su atitinkmai atliktu veiksmu - pridėtu d,
# atimtu d, padaugintu iš d.
# def suma(x, d):
#     veiksmai, kad gautumėte naują sąrašą kur x+d
#     return naujas sąrašas



y = [1, 15, 41, 10]

def suma(x ,d):
    return [x[i]+d for i in range(0, len(x))]

def skirtumas(x, d):
    return [x[i]-d for i in range(0, len(x))]
    
def sandauga(x ,d):
    return [x[i]*d for i in range(0, len(x))]

def dalyba(x, d):
    assert d !=0,  'Dalyba iš nulio negalima!'
    return [x[i] / d for i  in range(0, len(x))]

print(y)
suma(y, 3)
skirtumas(y, 3)
sandauga(y, 3)
dalyba(y, 0)

[1, 15, 41, 10]

AssertionError: Dalyba iš nulio negalima!

In [106]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.read()


failas.close()

print(turinys)

labas vakaras
avb bsvg
1566ĘTR
lnvvdfnvjdj

In [109]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()


failas.close()

print(turinys)

['labas vakaras\n', 'avb bsvg\n', '1566ĘTR\n', 'lnvvdfnvjdj']

In [110]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()


failas.close()

print(turinys)

['1,2\n', '3,4\n', '5,6\n', '7,8\n', '9,10']

In [112]:
for eil in turinys:
    x, y = eil.split(',')
    c = float(x) + float(y)
    print(c)

3.0
7.0
11.0
15.0
19.0

In [118]:
failo_vardas = 'f2.txt'

failas = open(failo_vardas, mode='w', encoding='utf-8')

failas.write('''vdgbdbs
ssvdggbdg
svvdbdb\n''')
failas.write('Rytas\n')
failas.write('Rytas\n')
failas.write('Rytas\n')
failas.write('Rytas')

failas.close()

In [146]:
# suraskite vidurkį skaičių, esančių stulpeliuose

failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode='r', encoding='utf-8')

turinys = failas.readlines()
failas.close()

x = []
y = []
for i in turinys:
    x1, y1 = i.split(',')
    x.append(float(x1))
    y.append(float(y1))

print(sum(x)/len(x), sum(y)/len(y))

4.145 5.34525