In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3
import mysql.connector as cnt
import plotly.express as px

In [2]:
import requests

In [6]:
url = 'https://api.meteo.lt/v1/stations'

page = requests.get(url)
status = page.status_code
print(status)

200

In [8]:
r = page.json()
print(r)
print(type(r))

[{'code': 'akmenes-ams', 'name': 'Akmenės AMS', 'coordinates': {'latitude': 56.24992, 'longitude': 22.73081}}, {'code': 'alytaus-ams', 'name': 'Alytaus AMS', 'coordinates': {'latitude': 54.412435, 'longitude': 24.063274}}, {'code': 'anyksciu-ams', 'name': 'Anykščių AMS', 'coordinates': {'latitude': 55.51735, 'longitude': 25.1178}}, {'code': 'birstono-ams', 'name': 'Birštono AMS', 'coordinates': {'latitude': 54.603217, 'longitude': 24.035802}}, {'code': 'birzu-ams', 'name': 'Biržų AMS', 'coordinates': {'latitude': 56.193191, 'longitude': 24.774184}}, {'code': 'dotnuvos-ams', 'name': 'Dotnuvos AMS', 'coordinates': {'latitude': 55.395993, 'longitude': 23.866224}}, {'code': 'druskininku-ams', 'name': 'Druskininkų AMS', 'coordinates': {'latitude': 54.018202, 'longitude': 23.980791}}, {'code': 'duksto-ams', 'name': 'Dūkšto AMS', 'coordinates': {'latitude': 55.517856, 'longitude': 26.31614}}, {'code': 'elektrenu-ams', 'name': 'Elektrėnų AMS', 'coordinates': {'latitude': 54.786161, 'longitude': 24.689854}}, {'code': 'jonavos-ams', 'name': 'Jonavos AMS', 'coordinates': {'latitude': 55.06913, 'longitude': 24.277147}}, {'code': 'joniskio-ams', 'name': 'Joniškio AMS', 'coordinates': {'latitude': 56.246354, 'longitude': 23.630755}}, {'code': 'jurbarko-ams', 'name': 'Jurbarko AMS', 'coordinates': {'latitude': 55.094064, 'longitude': 22.773518}}, {'code': 'kaisiadoriu-ams', 'name': 'Kaišiadorių AMS', 'coordinates': {'latitude': 54.856942, 'longitude': 24.437842}}, {'code': 'kalvarijos-ams', 'name': 'Kalvarijos AMS', 'coordinates': {'latitude': 54.421564, 'longitude': 23.216806}}, {'code': 'kauno-ams', 'name': 'Kauno AMS', 'coordinates': {'latitude': 54.88396, 'longitude': 23.83588}}, {'code': 'kazlu-rudos-ams', 'name': 'Kazlų Rūdos AMS', 'coordinates': {'latitude': 54.699852, 'longitude': 23.514815}}, {'code': 'kelmes-ams', 'name': 'Kelmės AMS', 'coordinates': {'latitude': 55.629044, 'longitude': 22.934568}}, {'code': 'klaipedos-ams', 'name': 'Klaipėdos AMS', 'coordinates': {'latitude': 55.73135, 'longitude': 21.09157}}, {'code': 'kretingos-ams', 'name': 'Kretingos AMS', 'coordinates': {'latitude': 55.894089, 'longitude': 21.27306}}, {'code': 'kupiskio-ams', 'name': 'Kupiškio AMS', 'coordinates': {'latitude': 55.851591, 'longitude': 24.909266}}, {'code': 'kybartu-ams', 'name': 'Kybartų AMS', 'coordinates': {'latitude': 54.633167, 'longitude': 22.783011}}, {'code': 'laukuvos-ams', 'name': 'Laukuvos AMS', 'coordinates': {'latitude': 55.60886, 'longitude': 22.239463}}, {'code': 'lazdiju-ams', 'name': 'Lazdijų AMS', 'coordinates': {'latitude': 54.23221, 'longitude': 23.51068}}, {'code': 'marijampoles-ams', 'name': 'Marijampolės AMS', 'coordinates': {'latitude': 54.528855, 'longitude': 23.35181}}, {'code': 'mazeikiu-ams', 'name': 'Mažeikių AMS', 'coordinates': {'latitude': 56.353885, 'longitude': 22.317683}}, {'code': 'moletu-ams', 'name': 'Molėtų AMS', 'coordinates': {'latitude': 55.235244, 'longitude': 25.416378}}, {'code': 'nidos-ams', 'name': 'Nidos AMS', 'coordinates': {'latitude': 55.30221, 'longitude': 21.00736}}, {'code': 'pagegiu-ams', 'name': 'Pagėgių AMS', 'coordinates': {'latitude': 55.140898, 'longitude': 21.950386}}, {'code': 'pakruojo-ams', 'name': 'Pakruojo AMS', 'coordinates': {'latitude': 56.083488, 'longitude': 23.902854}}, {'code': 'panevezio-ams', 'name': 'Panevėžio AMS', 'coordinates': {'latitude': 55.735154, 'longitude': 24.417184}}, {'code': 'plunges-ams', 'name': 'Plungės AMS', 'coordinates': {'latitude': 55.907014, 'longitude': 21.866687}}, {'code': 'prienu-ams', 'name': 'Prienų AMS', 'coordinates': {'latitude': 54.7291, 'longitude': 24.0525}}, {'code': 'raseiniu-ams', 'name': 'Raseinių AMS', 'coordinates': {'latitude': 55.394569, 'longitude': 23.133073}}, {'code': 'rietavo-ams', 'name': 'Rietavo AMS', 'coordinates': {'latitude': 55.718091, 'longitude': 21.958142}}, {'code': 'rokiskio-ams', 'name': 'Rokiškio AMS', 'coordinates': {'latitude': 55.95498, 'longitude': 25.59149}}, {'code': 'sakiu-ams', 'name': 'Šakių AMS', 'coordinates': {'latitude': 54.94907, 'longitude': 23.036425}}, {'code': 'salcininku-ams', 'name': 'Šalčininkų AMS', 'coordinates': {'latitude': 54.31038, 'longitude': 25.374422}}, {'code': 'seduvos-ams', 'name': 'Šeduvos AMS', 'coordinates': {'latitude': 55.75466, 'longitude': 23.74245}}, {'code': 'siauliu-ams', 'name': 'Šiaulių AMS', 'coordinates': {'latitude': 55.942222, 'longitude': 23.331111}}, {'code': 'silutes-ams', 'name': 'Šilutės AMS', 'coordinates': {'latitude': 55.352222, 'longitude': 21.446944}}, {'code': 'skuodo-ams', 'name': 'Skuodo AMS', 'coordinates': {'latitude': 56.277213, 'longitude': 21.513962}}, {'code': 'svencioniu-ams', 'name': 'Švenčionių AMS', 'coordinates': {'latitude': 55.132777, 'longitude': 26.172895}}, {'code': 'taurages-ams', 'name': 'Tauragės AMS', 'coordinates': {'latitude': 55.256786, 'longitude': 22.27802}}, {'code': 'telsiu-ams', 'name': 'Telšių AMS', 'coordinates': {'latitude': 55.991245, 'longitude': 22.256657}}, {'code': 'traku-ams', 'name': 'Trakų AMS', 'coordinates': {'latitude': 54.615924, 'longitude': 24.785292}}, {'code': 'ukmerges-ams', 'name': 'Ukmergės AMS', 'coordinates': {'latitude': 55.264145, 'longitude': 24.760335}}, {'code': 'utenos-ams', 'name': 'Utenos AMS', 'coordinates': {'latitude': 55.515321, 'longitude': 25.589692}}, {'code': 'varenos-ams', 'name': 'Varėnos AMS', 'coordinates': {'latitude': 54.248271, 'longitude': 24.55176}}, {'code': 'ventes-ams', 'name': 'Ventės AMS', 'coordinates': {'latitude': 55.340853, 'longitude': 21.189682}}, {'code': 'vezaiciu-ams', 'name': 'Vėžaičių AMS', 'coordinates': {'latitude': 55.7205, 'longitude': 21.4743}}, {'code': 'vilniaus-ams', 'name': 'Vilniaus AMS', 'coordinates': {'latitude': 54.625992, 'longitude': 25.107064}}, {'code': 'zarasu-ams', 'name': 'Zarasų AMS', 'coordinates': {'latitude': 55.742673, 'longitude': 26.250977}}]
<class 'list'>

In [10]:
df = pd.DataFrame(data=r)
df.tail(10)

,code,name,coordinates
42,taurages-ams,Tauragės AMS,"{'latitude': 55.256786, 'longitude': 22.27802}"
43,telsiu-ams,Telšių AMS,"{'latitude': 55.991245, 'longitude': 22.256657}"
44,traku-ams,Trakų AMS,"{'latitude': 54.615924, 'longitude': 24.785292}"
45,ukmerges-ams,Ukmergės AMS,"{'latitude': 55.264145, 'longitude': 24.760335}"
46,utenos-ams,Utenos AMS,"{'latitude': 55.515321, 'longitude': 25.589692}"
47,varenos-ams,Varėnos AMS,"{'latitude': 54.248271, 'longitude': 24.55176}"
48,ventes-ams,Ventės AMS,"{'latitude': 55.340853, 'longitude': 21.189682}"
49,vezaiciu-ams,Vėžaičių AMS,"{'latitude': 55.7205, 'longitude': 21.4743}"
50,vilniaus-ams,Vilniaus AMS,"{'latitude': 54.625992, 'longitude': 25.107064}"
51,zarasu-ams,Zarasų AMS,"{'latitude': 55.742673, 'longitude': 26.250977}"

In [11]:
# raskite meteo stotelę, kuri užfiksavo didžiausią oro temperatūrą esamuoju metu.

# antra užduotis : Suraskite tris aukščiausią temperatūrą užfiksavusias stoteles,
# ir atvaizduokite grafiškai jų fiksuotą oro temperatūrą per paskutines tris dienas.

# https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest

codes = df.loc[:,'code'].values
print(codes)

['akmenes-ams' 'alytaus-ams' 'anyksciu-ams' 'birstono-ams' 'birzu-ams'
 'dotnuvos-ams' 'druskininku-ams' 'duksto-ams' 'elektrenu-ams'
 'jonavos-ams' 'joniskio-ams' 'jurbarko-ams' 'kaisiadoriu-ams'
 'kalvarijos-ams' 'kauno-ams' 'kazlu-rudos-ams' 'kelmes-ams'
 'klaipedos-ams' 'kretingos-ams' 'kupiskio-ams' 'kybartu-ams'
 'laukuvos-ams' 'lazdiju-ams' 'marijampoles-ams' 'mazeikiu-ams'
 'moletu-ams' 'nidos-ams' 'pagegiu-ams' 'pakruojo-ams' 'panevezio-ams'
 'plunges-ams' 'prienu-ams' 'raseiniu-ams' 'rietavo-ams' 'rokiskio-ams'
 'sakiu-ams' 'salcininku-ams' 'seduvos-ams' 'siauliu-ams' 'silutes-ams'
 'skuodo-ams' 'svencioniu-ams' 'taurages-ams' 'telsiu-ams' 'traku-ams'
 'ukmerges-ams' 'utenos-ams' 'varenos-ams' 'ventes-ams' 'vezaiciu-ams'
 'vilniaus-ams' 'zarasu-ams']

In [23]:
url = 'https://api.meteo.lt/v1/stations/vilniaus-ams/observations/latest'

page = requests.get(url)
status = page.status_code
print(status)
r = page.json()

# print(pd.DataFrame.from_dict(data))

df_pvz = pd.DataFrame.from_dict(r['observations'])
df_pvz.tail()

200

,observationTimeUtc,airTemperature,feelsLikeTemperature,windSpeed,windGust,windDirection,cloudCover,seaLevelPressure,relativeHumidity,precipitation,conditionCode
19,2024-10-07 14:00:00,11.0,11.0,2.0,4.7,321,100,1010.5,75,0.0,cloudy
20,2024-10-07 15:00:00,10.4,10.4,2.1,4.4,318,100,1011.0,78,0.0,cloudy
21,2024-10-07 16:00:00,9.7,9.7,1.4,4.3,319,100,1011.3,84,0.0,rain
22,2024-10-07 17:00:00,9.3,9.3,1.0,1.9,329,100,1011.5,87,0.0,cloudy
23,2024-10-07 18:00:00,9.1,9.1,1.8,3.3,291,100,1011.9,90,0.0,cloudy

In [15]:
df_pvz['airTemperature'].max()

np.float64(11.0)

In [30]:
max_station = None
max_temp = -100

for station in codes:
    
    url = f'https://api.meteo.lt/v1/stations/{station}/observations/latest'
    page = requests.get(url)
    status = page.status_code
    # print(status)
    r = page.json()
    df = pd.DataFrame.from_dict(r['observations'])
    # temp = df[df['observationTimeUtc'] == df.loc[23, 'observationTimeUtc']]['airTemperature'].max()
    temp = df[df['observationTimeUtc'] == df.iloc[-1, 0]]['airTemperature'].values
    
    
    if temp > max_temp:
        max_temp = temp
        max_station = station
print(max_station, max_temp)

nidos-ams [11.9]

In [ ]:
# antra užduotis : Suraskite tris aukščiausią temperatūrą užfiksavusias stoteles,
# ir atvaizduokite grafiškai jų fiksuotą oro temperatūrą per paskutines tris dienas.

max_station = None
max_temp = -100
top3_temp = []
top3_station = []
for station in codes:
    
    url = f'https://api.meteo.lt/v1/stations/{station}/observations/latest'
    page = requests.get(url)
    status = page.status_code
    # print(status)
    r = page.json()
    df = pd.DataFrame.from_dict(r['observations'])
    # temp = df[df['observationTimeUtc'] == df.loc[23, 'observationTimeUtc']]['airTemperature'].max()
    temp = df[df['observationTimeUtc'] == df.iloc[-1, 0]]['airTemperature'].max()
    
    
    if temp > max_temp:
        max_temp = temp
        max_station = station
print(max_station, max_temp)