In [7]:
print(sorted(list(set([]))))

[]

In [17]:
def kiek_kartu(lst):
    from collections import Counter
    return Counter(lst)

print(kiek_kartu([]))

Counter()

In [20]:
def sum_lst(lst1, lst2):
    lst3 = []
    for i in lst1:
        if i not in lst3:
            lst3.append(i)
    for i in lst2:
        if i not in lst3:
            lst3.append(i)
    return lst3

print(sum_lst(['labas', 'vakaras'], ['rytas', 'labas']))

['labas', 'vakaras', 'rytas']

In [23]:
def not_unique_lst(lst):
    nunique = []
    from collections import Counter
    diktas = Counter(lst)
    for k, v in diktas.items():
        if v > 1:
            nunique.append(k)
    return nunique

print(not_unique_lst([]))

[]

In [28]:
def apskr_S(r):
    if isinstance(r,int) or isinstance(r, float):
        if r > 0:
            return 3.14 * r**2  
        else:
            raise ValueError('r turi būti teigiamas')
    else:
        raise ValueError('r turi būti int arba float tipo')
    

apskr_S(-1)

ValueError: r turi būti teigiamas

In [32]:
def rut_V(r):
    if isinstance(r,int) or isinstance(r, float):
        if r > 0:
            return  round((4 / 3 *3.14 * r**3), 3)  
        else:
            raise ValueError('r turi būti teigiamas')
    else:
        raise ValueError('r turi būti int arba float tipo')
    
    
rut_V(1)

4.187

In [33]:
def rut_S(r):
    if isinstance(r,int) or isinstance(r, float):
        if r > 0:
            return  round((4 *3.14 * r**2), 3)  
        else:
            raise ValueError('r turi būti teigiamas')
    else:
        raise ValueError('r turi būti int arba float tipo')
    
rut_S(1)

12.56

In [ ]:
def flatten_list(nested_list):
    flatten_lst = []
    for i in nested_list:
        if isinstance(i, int) or isinstance(i, float) or isinstance(i, str):
           flatten_lst.append(i)
        else:
            for j in i:
                if isinstance(j, int) or isinstance(j, float) or isinstance(j, str):
                    flatten_lst.append(j)
    return flatten_lst

flatten_list(['a',2,[2,4,5],6,7])

['a', 2, 2, 4, 5, 6, 7]

In [40]:
import sqlite3

In [43]:
def get_markes():
    SDB = sqlite3.connect('Auto.db')
    C = SDB.cursor()
    sql="""select Marke, count(*) as k from Autopliuslt
    group by Marke
    order by k DESC
    limit 5;"""
    C.execute(sql)
    ans = C.fetchall()
    markes, kiekiai = list(map(list, zip(*ans)))
    SDB.close()
    return markes

get_markes()

['BMW', 'Volkswagen', 'Audi', 'Toyota', 'Mercedes-Benz']