In [ ]:
# Wine Quality Dataset
# import kagglehub
# # Download latest version
# path = kagglehub.dataset_download("yasserh/wine-quality-dataset")
# print("Path to dataset files:", path)

# Užduotis - naudodamiesi savo žinomais ML įrankiais
# įvertinkite vynų kokybę (quality)
# pateikite confusion matrix vizualizacijas, accuracy score

# MOvie DB https://grouplens.org/datasets/movielens/
# https://files.grouplens.org/datasets/movielens/ml-32m-README.html

# Projektas (kažkiek dienų trukmės)
# (Čia ne ML, kurkite savo algoritmą, arba savo algoritmą + ML):
# Filmų rekomendacijos skriptas (Jupyter notebook)  arba Streamlit aplikacija
# Rekomenduoti filmus pagal pasirinkimus (remiantis kitų vartotojų vertinimais) - vartotojas įveda žanrą, aktorių, etc .. 
# (apribokite įvestį 3-5 parametrais)
# Rezultatas - rekomenduojami filmai ( 1, 2 ar daugiau)
# get_dummies() -> dummy_df = df["Fruits"].str.get_dummies(", ") 
# iš čia: https://stackoverflow.com/questions/76783764/pandas-get-dummies-on-rows-with-multiple-entries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import sqlite3


from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, PolynomialFeatures
from sklearn.metrics import mean_squared_error, accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier

import kagglehub

In [ ]:
# Wine Quality Dataset
# import kagglehub
# # Download latest version
# path = kagglehub.dataset_download("yasserh/wine-quality-dataset")
# print("Path to dataset files:", path)

# Užduotis - naudodamiesi savo žinomais ML įrankiais
# įvertinkite vynų kokybę (quality)
# pateikite confusion matrix vizualizacijas, accuracy score

In [ ]:
path = kagglehub.dataset_download("yasserh/wine-quality-dataset")
print("Path to dataset files:", path)

In [ ]:
df = pd.read_csv(path+"/WineQT.csv")
df.head()

In [ ]:
# Get unique values from the 'Name' column
uni_quality = df['quality'].unique()
print(uni_quality)

In [5]:
# Define features (X) and target (y)
X = df.drop(columns=['quality'])  # Features
y = df['quality']  #

In [ ]:
X_train, X_test, \
y_train, y_test = train_test_split(X, y, test_size=0.20,
                                   random_state=23)

# LogisticalRegression
clf = LogisticRegression(random_state=0)
# train the model
clf.fit(X_train, y_train)

# prediction
y_pred = clf.predict(X_test)

# Evaluation
acc = accuracy_score(y_test, y_pred)
print("Logistic Regression model accuracy (in %):", acc*100)

# class_report = classification_report(y_test, y_pred)
# print('Classification Report:')
# print(class_report)

cm = confusion_matrix(y_test, y_pred, normalize='true')
sns.heatmap(data=cm, annot=True, annot_kws={'fontsize':16})

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)


clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Desicion tree accuracy score: {accuracy *100} %')

cm = confusion_matrix(y_test, y_pred, normalize='true')
sns.heatmap(data=cm,annot=True, annot_kws={'fontsize':12})

In [ ]:
# MOvie DB https://grouplens.org/datasets/movielens/
# https://files.grouplens.org/datasets/movielens/ml-32m-README.html

# Projektas (kažkiek dienų trukmės)
# (Čia ne ML, kurkite savo algoritmą, arba savo algoritmą + ML):
# Filmų rekomendacijos skriptas (Jupyter notebook)  arba Streamlit aplikacija
# Rekomenduoti filmus pagal pasirinkimus (remiantis kitų vartotojų vertinimais) - vartotojas įveda žanrą, aktorių, etc .. 
# (apribokite įvestį 3-5 parametrais)
# Rezultatas - rekomenduojami filmai ( 1, 2 ar daugiau)
# get_dummies() -> dummy_df = df["Fruits"].str.get_dummies(", ") 
# iš čia: https://stackoverflow.com/questions/76783764/pandas-get-dummies-on-rows-with-multiple-entries

In [ ]:
#  pvz
import pandas as pd

# Sample dataset (you can replace this with a larger MovieLens dataset)
# data = {
#     'Title': ['The Matrix', 'Inception', 'The Dark Knight', 'Interstellar', 'The Godfather', 'Pulp Fiction'],
#     'Genre': ['Action|Sci-Fi', 'Action|Sci-Fi', 'Action|Crime', 'Adventure|Sci-Fi', 'Crime|Drama', 'Crime|Drama'],
#     'Rating': [8.7, 8.8, 9.0, 8.6, 9.2, 8.9],
#     'Release Year': [1999, 2010, 2008, 2014, 1972, 1994]
# }

# # Convert data into DataFrame
# df = pd.DataFrame(data)

# def recommend_movie():
#     print("Please provide the following parameters to get movie recommendations:")
    
#     # Collecting user input
#     genre_input = input("Enter genre (e.g., Action|Sci-Fi): ").strip()
#     rating_input = input("Enter minimum rating (e.g., 8.0): ").strip()
#     year_input = input("Enter a preferred release year (e.g., 2000): ").strip()
    
#     # Convert rating_input and year_input to proper types
#     rating_input = float(rating_input) if rating_input else None
#     year_input = int(year_input) if year_input else None
    
#     # Filter the DataFrame based on user inputs
#     filtered_movies = df

#     if genre_input:
#         filtered_movies = filtered_movies[filtered_movies['Genre'].str.contains(genre_input, case=False)]
    
#     if rating_input:
#         filtered_movies = filtered_movies[filtered_movies['Rating'] >= rating_input]
    
#     if year_input:
#         filtered_movies = filtered_movies[filtered_movies['Release Year'] == year_input]
    
#     # Recommend movies
#     if not filtered_movies.empty:
#         print("\nRecommended Movies based on your criteria:")
#         print(filtered_movies[['Title', 'Genre', 'Rating', 'Release Year']])
#     else:
#         print("Sorry, no movies match your criteria.")

# # Run the recommendation function
# recommend_movie()

In [2]:
from datetime import datetime

In [3]:
ratings = pd.read_csv('../../../eismas/ml-32m/ratings.csv')
ratings.head(2)

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228

In [13]:

# unique_users = ratings['userId'].nunique()
# print(unique_users)
users = ratings['userId'].value_counts()
users_sorted = users.sort_values(ascending=True)
users_sorted

userId
146604       20
83690        20
187748       20
164501       20
27913        20
          ...
171795     9016
123465     9044
55653      9178
17035      9577
175325    33332
Name: count, Length: 200948, dtype: int64

In [11]:
def convert_timestamp_to_datetime(x):
    dt_object = datetime.fromtimestamp(x)
    return dt_object

In [ ]:

ratings['datetime'] = ratings['timestamp'].apply(convert_timestamp_to_datetime)
ratings.head(2)

In [ ]:
ratings.info()

In [ ]:
# ratings_gr = ratings.groupby('movieId').agg(
#     rating_list=('rating', list),         # Collect ratings into a list
#     timestamp_list=('timestamp', list),   # Collect timestamps into a list
#     datetime_list=('datetime', list)      # Collect datetimes into a list
# ).reset_index()

# ratings_gr.head(2)

In [5]:
# vidurkinam ratinga
ratings_gr1 = ratings.groupby('movieId').agg(
    rating_mean=('rating', 'mean'),
    rating_count=('rating', 'count'),
    # timestamp=('timestamp', 'min'),
    # datetime=('datetime', 'min')
    users=('userId', lambda x: list(x.unique()))
).reset_index()

ratings_gr1['rating_mean'] = ratings_gr1['rating_mean'].round(2)


ratings_gr1.head(2)

,movieId,rating_mean,rating_count,users
0,1,3.90,68997,"[10, 11, 17, 19, 20, 23, 24, 28, 33, 34, 36, 3..."
1,2,3.28,28904,"[3, 10, 28, 32, 34, 37, 61, 62, 65, 70, 78, 83..."

In [ ]:
# movie_ratings_df = ratings.groupby('movieId')['rating'].apply(list).reset_index()

# # Rename columns for clarity
# # movie_t_df.columns = ['movieId', 'tags']

# # Show the resulting DataFrame
# movie_ratings_df.head(2)

In [ ]:
# max_rating = ratings['timestamp'].min()
# print(max_rating)
# print("Maximum rating:", max_rating)
timestamp = 52 # Replace with your timestamp
dt_object = datetime.fromtimestamp(timestamp)
print("Converted Datetime:", dt_object)

In [6]:
movies = pd.read_csv('../../../eismas/ml-32m/movies.csv')
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [14]:
# Merge DataFrames on movieId
merged = pd.merge(ratings, movies, on='movieId')

# Group by genres and userId to count ratings
genre_user_counts = merged.groupby(['genres', 'userId']).size().reset_index(name='rating_count')
genre_user_counts.head(2)

               genres  userId  rating_count
0  (no genres listed)      16             1
1  (no genres listed)      28             3

In [15]:
genre_user_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14614450 entries, 0 to 14614449
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   genres        object
 1   userId        int64
 2   rating_count  int64
dtypes: int64(2), object(1)
memory usage: 334.5+ MB

In [ ]:
def get_movie_year(x):
    if '(' in x:
        year = x.rsplit('(', 1)[1].strip(')') #rstplit - splitina per pirmą norimą simbolį nuo dešinės
        return year
    else:
        return 'Nenurodyta'

# print(get_movie_year('City of Lost Children, The (Cité des enfants perdus, La) (1995)'))   
movies['movie_year'] = movies['title'].apply(get_movie_year)
movies.head(2)

In [ ]:
uni_year = movies['movie_year'].unique()
print(uni_year)

In [7]:
tags = pd.read_csv('../../../eismas/ml-32m/tags.csv')
# tags['timestamp2'] = tags['timestamp']
tags.head(2)

   userId  movieId          tag   timestamp
0      22    26479  Kevin Kline  1583038886
1      22    79592     misogyny  1581476297

In [8]:
# Group by movieid and aggregate tags into a list
# movie_tags_df = tags.groupby('movieId')['tag'].apply(lambda x: ', '.join(x)).reset_index()
movie_tags_df = tags.groupby('movieId')['tag'].apply(list).reset_index()

# Rename columns for clarity
movie_tags_df.columns = ['movieId', 'tags']

# Show the resulting DataFrame
movie_tags_df.head(2)

   movieId                                               tags
0        1  [children, Disney, animation, children, Disney...
1        2  [Robin Williams, fantasy, Robin Williams, time...

In [ ]:
# links = pd.read_csv('../../../eismas/ml-32m/links.csv')
# links.head(2)

In [9]:
# Merge the DataFrames on 'movieId'
merged_df = pd.merge(ratings_gr1, movie_tags_df, on='movieId', how='inner')
merged_df.head(2)

,movieId,rating_mean,rating_count,users,tags
0,1,3.90,68997,"[10, 11, 17, 19, 20, 23, 24, 28, 33, 34, 36, 3...","[children, Disney, animation, children, Disney..."
1,2,3.28,28904,"[3, 10, 28, 32, 34, 37, 61, 62, 65, 70, 78, 83...","[Robin Williams, fantasy, Robin Williams, time..."

In [10]:
combined_movies = pd.merge(merged_df, movies, on='movieId', how='inner')
combined_movies['tags'] = combined_movies['tags'].apply(lambda tag_list: [str(tag).lower() for tag in tag_list])
combined_movies.head(2)

,movieId,rating_mean,rating_count,users,tags,title,genres
0,1,3.90,68997,"[10, 11, 17, 19, 20, 23, 24, 28, 33, 34, 36, 3...","[children, disney, animation, children, disney...",Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.28,28904,"[3, 10, 28, 32, 34, 37, 61, 62, 65, 70, 78, 83...","[robin williams, fantasy, robin williams, time...",Jumanji (1995),Adventure|Children|Fantasy

In [ ]:
# Flatten the 'tags' column and get all unique tags
unique_tags = list(set(tag for tags in combined_movies['tags'] for tag in tags))
print(len(unique_tags))
print(unique_tags)

In [ ]:
all_genres = combined_movies['genres'].str.split('|').explode().unique()
unique_genres = list(all_genres)
print(len(unique_genres))
print(unique_genres)

In [ ]:
# # Tag to filter by
# tag_to_filter = 

# # Filter movies that have the tag 'Action'
# filtered_movies = combined_movies[combined_movies['tags'].apply(lambda tags: tag_to_filter in tags)]
# filtered_movies

tags_to_filter = ['superhero', 'Marvel']
filtered_movies = combined_movies[combined_movies['tags'].apply(lambda tags: any(tag in tags for tag in tags_to_filter))]
filtered_movies

In [ ]:
# Multiple genres to filter by
genres_to_filter = ['Action', 'Thriller']

# Filter movies that have all genres in the genres column
filtered_movies = combined_movies[combined_movies['genres'].apply(lambda x: all(genre in x for genre in genres_to_filter))]
filtered_movies