In [3]:
d = {} #set()
d = {'Saule':'Zavigzde', 'Vilnius':'Lietuvos sostine'} # Zodynas
print(d)

{'Saule': 'Zavigzde', 'Vilnius': 'Lietuvos sostine'}

In [4]:
print(d['Vilnius'])

Lietuvos sostine

In [5]:
ats = d['Vilnius']
print(ats)

Lietuvos sostine

In [6]:
print(d)
d['Palanga'] = 'Kurortas'
print(d)

{'Saule': 'Zavigzde', 'Vilnius': 'Lietuvos sostine'}
{'Saule': 'Zavigzde', 'Vilnius': 'Lietuvos sostine', 'Palanga': 'Kurortas'}

In [7]:
print(d)
d['Vilnius'] = 'Tikrai ne kurortas'
print(d)

{'Saule': 'Zavigzde', 'Vilnius': 'Lietuvos sostine', 'Palanga': 'Kurortas'}
{'Saule': 'Zavigzde', 'Vilnius': 'Tikrai ne kurortas', 'Palanga': 'Kurortas'}

In [10]:
ats = d['Vilnius']
ats2 = d.get('Vilnius')
print(ats, ats2)

Tikrai ne kurortas Tikrai ne kurortas

In [11]:
d.get('Kaunas', -1)

-1

In [37]:
print(d)
d1 = {'Palanga':2024, 'Vilnius':'Lietuvos sostine', 'Kaunas':'Laikinoji sostine'}
d.update(d1)
print(d)

{'Vilnius': ['Sostine', 'Didelis miestas']}
{'Vilnius': 'Lietuvos sostine', 'Palanga': 2024, 'Kaunas': 'Laikinoji sostine'}

In [17]:
d.keys()

dict_keys(['Saule', 'Vilnius', 'Palanga'])

In [18]:
d.items()

dict_items([('Saule', 'Zavigzde'), ('Vilnius', 'Tikrai ne kurortas'), ('Palanga', 'Kurortas')])

In [ ]:
#  Sąrašas (list) - surikiuotas, keičiamas, galimi vienodi įrašai.
# • Eilutė (tuple) - surikiuotas, NEkeičiamas, galimi vienodi įrašai.
# • Rinkinys (set) - NEsurikiuotas, NEkeičiamas, NEgalimi vienodi
# įrašai.
# • Žodynas (dict) - surikiuotas, keičiamas, NEgalimi vienodi
# įrašai.

In [20]:
# Paskaičiuoti pelną pardavus visas prekes. Informacija apie kainą
# ir kiekius yra pateikiama kaip žodynai (dictionary):
d1 = {"cost_price": 32.67,
"sell_price": 45.00,
"inventory": 1200}
d2 = {"cost_price": 225.89,
"sell_price": 550.00,
"inventory": 100}
d3 = {"cost_price": 2.77,
"sell_price": 7.95,
"inventory": 8500}
profit = ((d1["sell_price"]-d1["cost_price"])*d1["inventory"])+((d2["sell_price"]-d2["cost_price"])*d2["inventory"])+((d3["sell_price"]-d3["cost_price"])*d3["inventory"])
print(profit)

91237.0

In [24]:
d = {}
d['Vilnius'] = 'Sostine' # verte, value taptu [], listu
print(d)

d = {}
d['Vilnius'] = ['Sostine']
print(d)
v = d['Vilnius']
v.append('Didelis miestas')
d['Vilnius'] = v
print(d)

{'Vilnius': 'Sostine'}
{'Vilnius': ['Sostine']}
{'Vilnius': ['Sostine', 'Didelis miestas']}

In [25]:
s = [1,2,3]

for si in s:
    print(si)

1
2
3

In [26]:
for skaicius in range(0,10):
    print(skaicius)

0
1
2
3
4
5
6
7
8
9

In [27]:
for skaicius in range(0,10,2):
    print(skaicius)

0
2
4
6
8

In [29]:
vardu_sarasas = ['Jonas', 'Petras', 'Ona', 'Agota']
for vardas in vardu_sarasas:
    print(vardas)

Jonas
Petras
Ona
Agota

In [32]:
txt = "sako, kad Delfi.lt yra populiariausias portalas."
for letter in txt:
    print(letter)

s
a
k
o
,

k
a
d

D
e
l
f
i
.
l
t

y
r
a

p
o
p
u
l
i
a
r
i
a
u
s
i
a
s

p
o
r
t
a
l
a
s
.

In [38]:
for k in d.keys():
    print(d)

{'Vilnius': 'Lietuvos sostine', 'Palanga': 2024, 'Kaunas': 'Laikinoji sostine'}
{'Vilnius': 'Lietuvos sostine', 'Palanga': 2024, 'Kaunas': 'Laikinoji sostine'}
{'Vilnius': 'Lietuvos sostine', 'Palanga': 2024, 'Kaunas': 'Laikinoji sostine'}

In [39]:
for key, value in d.items():
    print(key,value)

Vilnius Lietuvos sostine
Palanga 2024
Kaunas Laikinoji sostine

In [40]:
s = ['a','b','c']

for si in s:
    print(si)

a
b
c

In [42]:
s = ['a','b','b','c']

for pozicija, elementas in enumerate(s):
    print(pozicija, elementas)

0 a
1 b
2 b
3 c

In [43]:
s = [1,2,3]
f = [4,5,6]
c = [] 
for si, fi in zip(s,f):
    c.append(si*fi)
print(c)

[4, 10, 18]

In [44]:
s = [1,2,3, 4]
f = [4,5,6]
c = [] 
for si, fi in zip(s,f, strict = True):
    c.append(si*fi)
print(c)

ValueError: zip() argument 2 is shorter than argument 1

In [45]:
s = [1,2,3, 4]
f = [4,5,6]
c = [] 
for si, fi in zip(s,f):
    c.append(si*fi)
print(c)

[4, 10, 18]

In [77]:
t = "Aš rytais mėgstu kavą su sumuštiniais ir arbatą"
# • Išveskite po vieną simbolį iš teksto. Šalia nurodykite ir
# simbolio poziciją (indeksą) tekste.
for pozicija, elementas in enumerate(t):
    print(pozicija, elementas)
# • Išvesdami simbolį, spausdinkite jį viršutiniame registre, jei jis
# yra lyginėje pozicijoje. Kitu atveju - žemutiniame registre.
# for pozicija, elementas in enumerate(t):
#     if elementas = a:
#         print(pozicija, elementas.upper())
#     else:
#         print(pozicija, elementas.upper())
# # • Išveskite po vieną žodį.
# for x in t(' '):
#     print(x)

0 A
1 š
2
3 r
4 y
5 t
6 a
7 i
8 s
9
10 m
11 ė
12 g
13 s
14 t
15 u
16
17 k
18 a
19 v
20 ą
21
22 s
23 u
24
25 s
26 u
27 m
28 u
29 š
30 t
31 i
32 n
33 i
34 a
35 i
36 s
37
38 i
39 r
40
41 a
42 r
43 b
44 a
45 t
46 ą

In [81]:
# • Paprašykite vartotojo įvesti simbolį bei skaičių. Išveskite
# kvadratą, sudarytą iš įvesto simbolio ir kurio kraštinė būtų
# lygi įvestam skaičiui. Pvz.: įvesta '@' ir 5. Rezultatas:
# @@@@@
# @@@@@
# @@@@@
# @@@@@
# @@@@@
a = input('iveskite simboli')
b = int(input('iveskite skaiciu'))

for bi in range(b):
    print(a*b)
# Išspausdinkite ”pusinę” eglutę iš simbolio '*':
# Eglutės ilgį (eilučių kiekį) turi įvesti vartotojas. Eglutei naudojamą
# simbolį tegul įveda irgi vartotojas.
a = input('iveskite simboli')
b = int(input('iveskite skaiciu'))

for bi in range(b):
    print(bi*a)

aaaa
aaaa
aaaa
aaaa

g
gg
ggg

In [70]:
# Duotas sąrašas:
miestai = ['Vilnius', 'Kaunas', 'Alytus', 'Rokiškis',
'Ūla', 'Mažeikiai', 'Akmena']
# Spausdinkite tik tuos miestus, kurių pavadinimai ilgesni nei 6
# simboliai.
for a in miestai:
    if len(a)>6:
        print(a)

Vilnius
Rokiškis
Mažeikiai

In [94]:
#1.0.12 Duotas sąrašai 
a = [1,2,3,4,5,6,7,8,9,10] #ir 
b = [1,3,5,7,9,11,13,15,17,19]
c = []
d = []
e = []
for ai, bi in zip(a,b):
    print(ai*bi)

for ai, bi in zip(a,b):
    c.append(ai/bi)
print(c)
for ai, bi in zip(a,b):
    d.append(ai*bi)
print(d)
for ai, bi in zip(a,b):
    e.append(ai*ai)
print(e)

# 1.0.13 Parašyti kodą, kuris sudaugintų standartinius Python’o sąrašus
# Sąrašai:
x = [1,2,3,4,5,6,7,8,9,10] 
y = [2,1,4,7,11,13,15,17,19,21]
q = int(input('Iveskite skaiciu'))
z =[]
for xi in x:
    print(xi*q)

for yi in y:
    print(yi*q)
    
for xi, yi in zip(x,y):
    z.append(xi*yi)
print(z)

# 1.0.14 Parašyti programą, kuri suskaičiuotų, kiek yra lyginių ir nelyginių skaičių
# sąraše.
# Taip pat suskaičiuotų lyginių ir nelyginių skaičių aritmetinį ir geometrinį vidurkius.
Sąrašas: x = [1,2,3,4,5,7,8,9,11,17,19,21,22,40,42]

1
6
15
28
45
66
91
120
153
190
[1.0, 0.6666666666666666, 0.6, 0.5714285714285714, 0.5555555555555556, 0.5454545454545454, 0.5384615384615384, 0.5333333333333333, 0.5294117647058824, 0.5263157894736842]
[1, 6, 15, 28, 45, 66, 91, 120, 153, 190]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
5
10
15
20
25
30
35
40
45
50
10
5
20
35
55
65
75
85
95
105
[2, 2, 12, 28, 55, 78, 105, 136, 171, 210]