In [4]:
c = []
for i in range(0,11):
    c.append(i*3)
print(c)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [3]:
a = [i*3 for i in range(0,11)]
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [5]:
b = [i.upper() for i in "Labas"]
print(b)

['L', 'A', 'B', 'A', 'S']

In [6]:
c = [i for i in range(1,21) if i%2==0]
print(c)
# lyginiai skaiciai

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
d = ['Lyginis' if i % 2 == 0 else i*3 for i in range(20)]
print(d)

['Lyginis', 3, 'Lyginis', 9, 'Lyginis', 15, 'Lyginis', 21, 'Lyginis', 27, 'Lyginis', 33, 'Lyginis', 39, 'Lyginis', 45, 'Lyginis', 51, 'Lyginis', 57]

In [10]:
d = ['Apvalus' if i % 3 == 0 else 'Vienas' if i % 3 == 1 else 'DU' for i in range(20)]
print(d)

['Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas', 'DU', 'Apvalus', 'Vienas']

In [14]:
def fn(x):
    return x**2

def fn3(x):
    return x**3

d = [fn(i) for i in range(20)]
print(d)

e = [fn(i) if i%2 == 0 else fn3(i) for i in range(10)]
print(e)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [21]:
x = [*range(10)]
print(x)
# sukurkite naują sąrašą, kuriame x elemntai būtų pakdauginti iš jūsų įvesto skaičiaus
g = int(input('skaicius'))
s = [i * g for i in range(10)]
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
w = ('19 500', '2 700', '13 490', '14 650', '38 000', '1 200', '8 000', '11 990', '16 190', '16 490')
# sukurkite sąrašą, kuriame būtų duoti tekstai paversti į skaičius (float) tipo.
c = []
for i in w:
    c.append(float(i.replace(' ','')))
print(c)

[19500.0, 2700.0, 13490.0, 14650.0, 38000.0, 1200.0, 8000.0, 11990.0, 16190.0, 16490.0]

In [46]:
w = ('BMW', 'Mitsubishi', 'Seat', 'Skoda', 'Volvo', 'Audi', 'Dacia', 'Skoda', 'BMW', 'Volkswagen')
# sukurkite sąrašą, kur būtų pirmi 3 simboliai gamintojų, didžiosiomis raidėmis
c = []
for i in w:
    c.append(i[0:3].upper())
print(c)

['BMW', 'MIT', 'SEA', 'SKO', 'VOL', 'AUD', 'DAC', 'SKO', 'BMW', 'VOL']

In [105]:
w = ('4999 cm³, 507 AG (373kW)', '2378 cm³, 160 AG (118kW)', '1598 cm³, 95 AG (70kW)', '1798 cm³, 179 AG (132kW)', '1969 cm³, 235 AG (173kW)', '1760 cm³, 88 AG (65kW)', '1461 cm³, 107 AG (79kW)', '1600 cm³, 116 AG (85kW)', '2000 cm³, 163 AG (120kW)', '1600 cm³, 120 AG (88kW)')
# Atskirkite į tris sąrašus tūrį, AG ir kW.
x = []
c = []
d = []
e = []
for i in w:
    c.append(i.split()[0]+' '+i.split()[1]) 
    d.append(i.split()[2]+' '+i.split()[3])
    e.append(i.split()[4]) 
    
print(c)
print(d)
print(e)

['4999 cm³,', '2378 cm³,', '1598 cm³,', '1798 cm³,', '1969 cm³,', '1760 cm³,', '1461 cm³,', '1600 cm³,', '2000 cm³,', '1600 cm³,']
['507 AG', '160 AG', '95 AG', '179 AG', '235 AG', '88 AG', '107 AG', '116 AG', '163 AG', '120 AG']
['(373kW)', '(118kW)', '(70kW)', '(132kW)', '(173kW)', '(65kW)', '(79kW)', '(85kW)', '(120kW)', '(88kW)']

In [93]:
# parašykite funkciją, kuri grąžintų vidurkį, jei jūs jai nurodote skaičių sąrašą (list) arba eilutę (tuple)

c = [*range(0,19)]
print(c)
def fn(x):
    return sum(x)/len(x)
print(fn(c))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
9.0

In [100]:
# 6)
c = []
t = '''Liepos 19 d. UNESCO pasaulio paveldu tapusiame Kauno modernizmo architektūros objekte – Lietuvos banko Kauno rūmuose į muzikos meditaciją pakvies vokalinis ansamblis „Duodeco“. Pirmą kartą Pažaislio muzikos festivalis rengia koncertą šioje nepaprastoje erdvėje, kurioje 2019 m. suburtas kolektyvas festivalio publikai pristatys muzikinę programą „More Sweet Than My Refrain“.'''
# SUkurkite sąrašą, kuriame būtų šio teksto žodžių ilgiai.
t = t.split()
print(t)
for i in t:
    c.append(len(i))
    
print(c)

['Liepos', '19', 'd.', 'UNESCO', 'pasaulio', 'paveldu', 'tapusiame', 'Kauno', 'modernizmo', 'architektūros', 'objekte', '–', 'Lietuvos', 'banko', 'Kauno', 'rūmuose', 'į', 'muzikos', 'meditaciją', 'pakvies', 'vokalinis', 'ansamblis', '„Duodeco“.', 'Pirmą', 'kartą', 'Pažaislio', 'muzikos', 'festivalis', 'rengia', 'koncertą', 'šioje', 'nepaprastoje', 'erdvėje,', 'kurioje', '2019', 'm.', 'suburtas', 'kolektyvas', 'festivalio', 'publikai', 'pristatys', 'muzikinę', 'programą', '„More', 'Sweet', 'Than', 'My', 'Refrain“.']
[6, 2, 2, 6, 8, 7, 9, 5, 10, 13, 7, 1, 8, 5, 5, 7, 1, 7, 10, 7, 9, 9, 10, 5, 5, 9, 7, 10, 6, 8, 5, 12, 8, 7, 4, 2, 8, 10, 10, 8, 9, 8, 8, 5, 5, 4, 2, 9]

In [106]:
# 7)
fx = [23, 15, 19, 12, 4, 16, 17, 5, 2, 20, 3, 17, 22, 18, 11, 14, 21, 21, 11, 22, 16, 13, 4, 10, 21, 21, 11, 10, 21, 14, 19, 3, 7, 2, 22, 1, 17, 14, 23, 17, 15, 15, 19, 21, 10, 19, 4, 11, 22, 21, 4, 7, 5, 21, 12, 10, 15, 2, 21, 7, 19, 21, 15, 15, 5, 20, 14, 9, 5, 11, 4, 5]
# Parašykite kodą, kuris sugeneruotų sąrašą, su žodžiais 'Rytas', jei skaičius fx sąraše yra tarp 6 ir 10, diena, jei tarp 10 ir 18, vakaras jei tarp 18 ir 22, ir naktis kitais atvejais.
c = ['Rytas' if i > 6 and i < 10 else 'Diena' if i > 10 and i < 18 else 'Vakaras' if i > 18 and i < 22 else 'Naktis' for i in fx]
print(c)

['Naktis', 'Diena', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Vakaras', 'Naktis', 'Diena', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Vakaras', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Naktis', 'Vakaras', 'Vakaras', 'Diena', 'Naktis', 'Vakaras', 'Diena', 'Vakaras', 'Naktis', 'Rytas', 'Naktis', 'Naktis', 'Naktis', 'Diena', 'Diena', 'Naktis', 'Diena', 'Diena', 'Diena', 'Vakaras', 'Vakaras', 'Naktis', 'Vakaras', 'Naktis', 'Diena', 'Naktis', 'Vakaras', 'Naktis', 'Rytas', 'Naktis', 'Vakaras', 'Diena', 'Naktis', 'Diena', 'Naktis', 'Vakaras', 'Rytas', 'Vakaras', 'Vakaras', 'Diena', 'Diena', 'Naktis', 'Vakaras', 'Diena', 'Rytas', 'Naktis', 'Diena', 'Naktis', 'Naktis']

In [157]:
# 8)
duomenys = [('BMW', '253 000 km', '19 500', '4999 cm³, 507 AG (373kW)', 'Benzinas'), ('Mitsubishi', '195 405 km', '2 700', '2378 cm³, 160 AG (118kW)', 'Benzinas'), ('Seat', '129 800 km', '13 490', '1598 cm³, 95 AG (70kW)', 'Dyzelinas'), ('Skoda', '183 000 km', '14 650', '1798 cm³, 179 AG (132kW)', 'Benzinas'), ('Volvo', '127 896 km', '38 000', '1969 cm³, 235 AG (173kW)', 'Dyzelinas')]
# parašyti funkciją, kuri juos spausdintų tokiu vaizdu:
a=''
for i in duomenys:
    a = a +'|' + f'{i[0]:^20}' + '|' + f'{i[1]:^20}' + '|' + f'{i[2]:^20}' + '|' + f'{i[3]:^24}' + '|' + f'{i[4]:^20}' + '|' '\n'
print(a)

|        BMW         |     253 000 km     |       19 500       |4999 cm³, 507 AG (373kW)|      Benzinas      |
|     Mitsubishi     |     195 405 km     |       2 700        |2378 cm³, 160 AG (118kW)|      Benzinas      |
|        Seat        |     129 800 km     |       13 490       | 1598 cm³, 95 AG (70kW) |     Dyzelinas      |
|       Skoda        |     183 000 km     |       14 650       |1798 cm³, 179 AG (132kW)|      Benzinas      |
|       Volvo        |     127 896 km     |       38 000       |1969 cm³, 235 AG (173kW)|     Dyzelinas      |

In [153]:
# 9)
# parašykite funkcjas suma(), skirtumas(), sandauga(), dalyba(), kurioms jūs galėtumėte nurodyti skaičių sąrašą x, ir vieną sakičių d, 
# ir tos funkcijos grąžintų naują sąrašą, su skaičiais iš x sąrašo su atitinkmai atliktu veiksmu - pridėtu d, atimtu d, padaugintu iš d.
c=[]
def suma(x, d):
    for i in x:
        return c.append(int(i)+d)

    
print(suma([1,2,3],2))

#     veiksmai, kad gautumėte naują sąrašą kur x+d
#     return naujas sąrašas

None

In [160]:
def fn(x):
    '''
    
    FN funkcija moka pasiimti
    
    x grazina ta pati x
    
    '''
    return(x)

fn(5)

5

In [ ]:
fn(5)

In [161]:
# globalus ir lokalus kintamieji

A = 50 # globalus

def fn():
    print(A)
    
fn()
print(A)

50
50

In [162]:
# globalus ir lokalus kintamieji

A = 50 # globalus

def fn():
    A = 42 # lokalus ir nesusijes su globaliu A
    print(A)
    
fn()
print(A)

42
50

In [164]:
# globalus ir lokalus kintamieji

A = 50 # globalus

def fn(A):
    # A = 42 # lokalus ir nesusijes su globaliu A
    print(A)
    
fn(A)
print(A)

50
50

In [165]:
# globalus ir lokalus kintamieji

A = 50 # globalus

def fn(A): # ir cia aprasytas A yra lokalus!
    A = 42 # lokalus ir nesusijes su globaliu A
    print(A)
    
fn(A)
print(A)

42
50

In [166]:
A = 50

def fn():
    global A
    A = 42
    print(A)
    
fn()
print(A)

42
42

In [167]:
failas = 'labas.txt'

def openf(failas):
    pass

openf(failas=failas)

In [ ]:
# darbas su tekstiniais failais

In [173]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode = 'r', encoding='utf-8')

turinys = failas.read()


failas.close()

print(turinys)

laba diena
@@@@@43535356^&^*(&)(0-=)ČČČČČČČ
4564656
fsgsrgrg
122415649

In [172]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode = 'r')

turinys = failas.read()


failas.close()

print(turinys)

laba diena
@@@@@43535356^&^*(&)(0-=)ÄŒÄŒÄŒÄŒÄŒÄŒÄŒ
4564656
fsgsrgrg
122415649

In [175]:
failo_vardas = 'f1.txt'

failas = open(failo_vardas, mode = 'r', encoding='utf-8')

turinys = failas.readlines()

failas.close()

print(turinys)

['laba diena\n', '@@@@@43535356^&^*(&)(0-=)ČČČČČČČ\n', '4564656\n', 'fsgsrgrg\n', '122415649']

In [176]:
failo_vardas = 'f2.txt'

failas = open(failo_vardas, mode = 'r', encoding='utf-8')

turinys = failas.readlines()

failas.close()

print(turinys)

['1,2\n', '3,4\n', '5,6\n', '7,8']

In [177]:
for eil in turinys:
    print(eil)

1,2

3,4

5,6

7,8

In [179]:
for eil in turinys:
    x, y = eil.split(',')
    c = float(x) + float(y)
    print(c)

3.0
7.0
11.0
15.0

In [184]:
failo_vardas = 'F3.txt'

failas = open(failo_vardas, mode='w', encoding='utf-8') # w rezime jei failas neegzistavo, failas bus sukurtas. Jei egzistavo failo turinys bus istrintas

failas.close()

In [187]:
failo_vardas = 'F3.txt'

failas = open(failo_vardas, mode='w', encoding='utf-8') # w rezime jei failas neegzistavo, failas bus sukurtas. Jei egzistavo failo turinys bus istrintas

failas.write('Laba diena\n')
failas.write('Rytas\n')
failas.write('Rytas\n')
failas.write('Rytas')

failas.close()

In [207]:
# suraskite vidurkį skaičių, esančių stulpeliuose
failo_vardas = 'f2.txt'

failas = open(failo_vardas, mode = 'r', encoding='utf-8')

turinys = failas.readlines()

failas.close()

print(turinys)

for eil in turinys:
    x, y = eil.split(',')
    c = (float(x) + float(y))/2
    print(c)

c=[]
for eil in turinys:
    c.append(float(eil.split(',')[0]))
print(sum(c)/len(c))

c=[]
for eil in turinys:
    c.append(float(eil.split(',')[1]))
print(sum(c)/len(c))

['1.25,2.28\n', '3.33,4.421\n', '5,6.67\n', '7,8.01']
1.765
3.8755
5.835
7.505
4.145
5.34525