In [ ]:
#  sie du kodai yra naudotini tik tada, jei turite savo apsirasytu funkciju isoriniame (.py) faile

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
# pip install mysql-connector-python==8.0.29

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python==8.0.29
  Downloading mysql_connector_python-8.0.29-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting protobuf>=3.0.0 (from mysql-connector-python==8.0.29)
  Downloading protobuf-5.27.3-cp310-abi3-win_amd64.whl.metadata (592 bytes)
Downloading mysql_connector_python-8.0.29-py2.py3-none-any.whl (342 kB)
Downloading protobuf-5.27.3-cp310-abi3-win_amd64.whl (426 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-5.27.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector as cnt

# nuosavu funkciju importavimas:
from manofunkcijos import *

In [6]:
DB = cnt.connect(
    host='88.223.121.130',
    user='user',
    password='slaptazodis',
    port=3306,
    database='works'
)
C = DB.cursor()

In [ ]:
#sql užklausos vykdymas per mysql/mariadb kursorių
sql="""paste SQL command here!"""
C.execute(sql)
ans = C.fetchall()
? = list(map(list, zip(*ans)))
#? = np.transpose(ans)

In [7]:
#sql užklausos vykdymas per mysql/mariadb kursorių
sql="""select count(*) as Kiekis, count(*)/(select count(*) from sa)*100 as `Rinkos dalis`,
case 
when device_brand in (select * from(select brand from
(select count(*) as kiekis, device_brand as brand  from sa where device_brand<>'' group by device_brand) as D
order by kiekis desc limit 5)as f) then device_brand
else 'Other'
end as Brand from sa
group by Brand
order by kiekis desc;"""
C.execute(sql)
ans = C.fetchall()
kiekiai, dalis, gamintojai = list(map(list, zip(*ans)))
#? = np.transpose(ans)

In [10]:
pout(ans)

Rodoma 5 eilutės iš 6
|      36290       |     30.4927      |     Samsung      |
|      35186       |     29.5651      |      Nokia       |
|      31091       |     26.1243      |      Other       |
|       7161       |      6.0170      |    BlackBerry    |
|       5194       |      4.3643      |        LG        |
|       4090       |      3.4366      |   SonyEricsson   |

In [11]:
print(gamintojai)

['Samsung', 'Nokia', 'Other', 'BlackBerry', 'LG', 'SonyEricsson']